src/flows/datalogging.json
[
    {
        "id": "830497da8cdf302a",
        "type": "tab",
        "label": "Datalogging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6747f1d415cb8972",
        "type": "group",
        "z": "830497da8cdf302a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ed887a05d5b81535",
            "157ecea731e148d6",
            "d6420ba3a1cf462b",
            "ba0211763bc00da1",
            "473b8474c415a6bb",
            "f666229848971d7a",
            "303cb120a67fbc63",
            "2d49380dd9ab0cb5",
            "6158fcc5f4cbcc54",
            "8dec28a38a24e9d1",
            "29f9c657622f28bb",
            "4149cdff93c5a2b4",
            "dd20a936fee53ba5",
            "05098fbedab4c803",
            "e89556cfc620a086",
            "dac5248ff2689d12",
            "cfa7475c52ec0440"
        ],
        "x": 1094,
        "y": 1199,
        "w": 1632,
        "h": 442
    },
    {
        "id": "1deaa966069ed1b9",
        "type": "ui_template",
        "z": "830497da8cdf302a",
        "group": "",
        "name": "Clock Toolbar + version number",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n$(function() {\n    if ($('.md-toolbar-tools').length != 0) {\n        loadToolbarItems();\n    } else {\n        setTimeout(loadToolbarItems, 500);\n    }\n});\n\nfunction loadToolbarItems() {\n    $('#clock, #version').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>').css({\n        'display': 'flex',\n        'align-items': 'center',\n        'margin-left': 'auto',\n        'margin-right': '5px'\n    });\n    var clockP = $('<p id=\"clock\" style=\"margin: 0 10px 0 0;\"/>');\n    var versionP = $('<p id=\"version\" style=\"margin: 0 10px 0 0;\"/>');\n    \n    div.append(clockP);\n    div.append(versionP);\n    toolbar.append(div);\n\n    // Add the version number\n    var versionNumber = \"v0.7.4\";\n    versionP.text(versionNumber);\n\n    function upTime() {\n        var d = new Date();\n        clockP.text(d.toLocaleTimeString());\n    }\n\n    if (document.clockInterval) {\n        clearInterval(document.clockInterval);\n        document.clockInterval = null;\n    }\n\n    document.clockInterval = setInterval(upTime, 1000);\n}\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1830,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "99e0e8aa734fe370",
        "type": "ui_text",
        "z": "830497da8cdf302a",
        "group": "599d2b5615f3741e",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Save file before pressing \"Start Trace\" in the following format: YYYYMMDD_Name",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1350,
        "y": 540,
        "wires": []
    },
    {
        "id": "30c5a4b3a4e0a417",
        "type": "join",
        "z": "830497da8cdf302a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 950,
        "y": 940,
        "wires": [
            [
                "287c3757d44d9aed"
            ]
        ]
    },
    {
        "id": "f3c6f7ac361ff9c9",
        "type": "moment",
        "z": "830497da8cdf302a",
        "name": "Desktop time",
        "topic": "time",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 470,
        "y": 940,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "287c3757d44d9aed",
        "type": "delay",
        "z": "830497da8cdf302a",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 940,
        "wires": [
            [
                "31d673b20ee261f8"
            ]
        ]
    },
    {
        "id": "31d673b20ee261f8",
        "type": "function",
        "z": "830497da8cdf302a",
        "name": "Values for csv row",
        "func": "// Check if data exists\nconst mtec = msg.payload.mtec ?? {};\nconst gantry = msg.payload.gantry ?? {};\nconst mai = msg.payload.mai ?? {};\nconst material = msg.payload.material ?? {};\nconst vertico = msg.payload.vertico ?? {};\nconst printhead = msg.payload.printhead ?? {};\n\n// Gantry arrays\nvar gantry_position = gantry.gantry_position ?? [NaN, NaN, NaN, NaN];\nvar gantry_velocity = gantry.gantry_velocity ?? [NaN, NaN, NaN, NaN];\nvar gantry_feedrate = gantry.gantry_feedrate ?? [NaN, NaN, NaN, NaN];\nvar gantry_r_parameters = gantry.gantry_r_parameters ?? [NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN];\n\nmsg.payload = {\n\n    // Desktop time\n    'Time': msg.payload.time,\n    \n    // mtec\n    'mtec_source_time': mtec.mtec_source_time ?? NaN,\n    'mtec_remote_start': +mtec.mtec_remote_start ?? NaN,\n    'mtec_water_control_active': +mtec.mtec_water_control_active ?? NaN,\n    'mtec_water_start_control': mtec.mtec_water_start_control ?? NaN,\n\t'mtec_water_pump_run': +mtec.mtec_water_pump_run ?? NaN,\n\t'mtec_water_solenoid_valve': +mtec.mtec_water_solenoid_valve ?? NaN,\n\t'mtec_water_water_valve': mtec.mtec_water_valve_actual?.toFixed(2) ?? NaN,\n    'mtec_water_temp': mtec.mtec_water_temp?.toFixed(3) ?? NaN,\n    'mtec_water_flow_set': mtec.mtec_water_flow_set?.toFixed(1) ?? NaN,\n    'mtec_water_flow_actual': mtec.mtec_water_flow_actual?.toFixed(1) ?? NaN,\n    'mtec_mixer_run': +mtec.mtec_mixer_run ?? NaN,\n\t'mtec_state_wet_material_probe': +mtec.mtec_state_wet_material_probe ?? NaN,\n\t'mtec_state_delay_time_wet_probe': mtec.mtec_state_delay_time_wet_probe ?? NaN,\n\t'mtec_delay_time_wet_material_probe_dynamically': mtec.mtec_delay_time_wet_material_probe_dynamically ?? NaN,\n\t'mtec_delay_time_wet_material_probe_statically': mtec.mtec_delay_time_wet_material_probe_statically ?? NaN,\n    'mtec_pump_speed_set': mtec.mtec_pump_speed_set?.toFixed(2) ?? NaN,\n    'mtec_pump_speed_actual': mtec.mtec_pump_speed_actual?.toFixed(2) ?? NaN,\n    'mtec_io_ai1': mtec.mtec_io_ai1?.toFixed(6) ?? NaN,\n\t'mtec_io_ai2': mtec.mtec_io_ai2?.toFixed(6) ?? NaN,\n\t'mtec_io_ai3': mtec.mtec_io_ai3?.toFixed(6) ?? NaN,\n\t'mtec_io_ai4': mtec.mtec_io_ai4?.toFixed(6) ?? NaN,\n\t'mtec_io_ai5': mtec.mtec_io_ai5?.toFixed(6) ?? NaN,\n\t'mtec_io_ao1': mtec.mtec_io_ao1?.toFixed(6) ?? NaN,\n\t'mtec_io_ao2': mtec.mtec_io_ao2?.toFixed(6) ?? NaN,\n    'mtec_io_di1': +mtec.mtec_io_di1 ?? NaN,\n\t'mtec_io_di2': +mtec.mtec_io_di2 ?? NaN,\n\t'mtec_io_di3': +mtec.mtec_io_di3 ?? NaN,\n\t'mtec_io_di4': +mtec.mtec_io_di4 ?? NaN,\n\t'mtec_io_di5': +mtec.mtec_io_di5 ?? NaN,\n\t'mtec_io_do1': +mtec.mtec_io_do1 ?? NaN,\n\t'mtec_io_do2': +mtec.mtec_io_do2 ?? NaN,\n\t\n    // MAI\n    'mai_source_time': mai.mai_source_time ?? NaN,\n    'mai_water_run': +mai.mai_water_run ?? NaN,\n    'mai_water_temp': mai.mai_water_temp?.toFixed(3) ?? NaN,\n    'mai_water_temp2': mai.mai_water_temp_mixer_inlet?.toFixed(3) ?? NaN,\n    'mai_water_flow_set': mai.mai_water_flow_set ?? NaN,\n    'mai_water_flow_actual': mai.mai_water_flow_actual?.toFixed(2) ?? NaN,\n    'mai_waterpump_ref_freq': mai.mai_waterpump_ref_freq ?? NaN,\n    'mai_waterpump_output_freq': mai.mai_waterpump_output_freq ?? NaN,\n    'mai_mixer_run': +mai.mai_mixer_run ?? NaN,\n    'mai_pump_run': +mai.mai_pump_run ?? NaN,\n    'mai_pump_speed': mai.mai_pump_speed ?? NaN,\n    'mai_pump_ouput_current': mai.mai_pump_output_current ?? NaN,\n    'mai_pump_output_power': mai.mai_pump_output_power ?? NaN,\n    'mai_pump_vibration_mode': mai.mai_pump_vibration_mode ?? NaN,\n    'mai_silo_dry_mortar_temperature': mai.mai_silo_dry_mortar_temperature?.toFixed(3) ?? NaN,\n    'mai_pumping_chamber_mortar_temperature': mai.mai_pumping_chamber_mortar_temperature?.toFixed(3) ?? NaN,\n    'mai_setting_water_pre_run': mai.mai_setting_water_pre_run?.toFixed(2) ?? NaN,\n    'mai_setting_mixer_post_run': mai.mai_setting_mixer_post_run?.toFixed(2) ?? NaN,\n    'mai_setting_wetprobe_covered_delay': mai.mai_setting_wetprobe_covered_delay ?? NaN,\n    'mai_setting_wetprobe_uncovered_delay,': mai.mai_setting_wetprobe_uncovered_delay ?? NaN,\n\n    // Gantry\n    'gantry_source_time': gantry.gantry_source_time ?? NaN,\n    'gantry_position_x': gantry_position[0].toFixed(2),\n    'gantry_position_y': gantry_position[1].toFixed(2),\n    'gantry_position_z': gantry_position[2].toFixed(2),\n    'gantry_position_c': gantry_position[3].toFixed(2),\n    'gantry_velocity_x': gantry_velocity[0].toFixed(2),\n    'gantry_velocity_y': gantry_velocity[1].toFixed(2),\n    'gantry_velocity_z': gantry_velocity[2].toFixed(2),\n    'gantry_velocity_c': gantry_velocity[3].toFixed(2),\n    'gantry_feedrate_x': gantry_feedrate[0].toFixed(2),\n    'gantry_feedrate_y': gantry_feedrate[1].toFixed(2),\n    'gantry_feedrate_z': gantry_feedrate[2].toFixed(2),\n    'gantry_feedrate_c': gantry_feedrate[3].toFixed(2),\n    'gantry_feedrate_overwrite': gantry.gantry_feedrate_overwrite?.toFixed(2) ?? NaN,\n    'gantry_r100': gantry_r_parameters[0].toFixed(3),\n    'gantry_r101': gantry_r_parameters[1].toFixed(3),\n    'gantry_r102': gantry_r_parameters[2].toFixed(3),\n    'gantry_r103': gantry_r_parameters[3].toFixed(3),\n    'gantry_r104': gantry_r_parameters[4].toFixed(3),\n    'gantry_r105': gantry_r_parameters[5].toFixed(3),\n    'gantry_r106': gantry_r_parameters[6].toFixed(3),\n    'gantry_r107': gantry_r_parameters[7].toFixed(3),\n    'gantry_r108': gantry_r_parameters[8].toFixed(3),\n    'gantry_r109': gantry_r_parameters[9].toFixed(3),\n\n    // Material\n    'material_source_time': material.material_source_time ?? NaN,\n    'material_pressure_ai0': material.material_pressure_ai0?.toFixed(3) ?? NaN,\n    'material_pressure_ai1': material.material_pressure_ai1?.toFixed(3) ?? NaN,\n    'material_io_ai0': material.material_io_ai0?.toFixed(6) ?? NaN,\n    'material_io_ai1': material.material_io_ai1?.toFixed(6) ?? NaN,\n    'material_io_ai2': material.material_io_ai2?.toFixed(6) ?? NaN,\n    'material_io_ai3': material.material_io_ai3?.toFixed(6) ?? NaN,\n    'material_io_ai4': material.material_io_ai4?.toFixed(6) ?? NaN,\n    'material_io_ai5': material.material_io_ai5?.toFixed(6) ?? NaN,\n    'material_io_relative_humidity': material.material_io_relative_humidity?.toFixed(2) ?? NaN,\n    'material_io_ambient_temperature': material.material_io_ambient_temperature?.toFixed(2) ?? NaN,\n    'material_io_ao0': material.material_io_ao0?.toFixed(6) ?? NaN,\n    'material_io_ao1': material.material_io_ao1?.toFixed(6) ?? NaN,\n    'material_io_ao2': material.material_io_ao2?.toFixed(6) ?? NaN,\n    'material_io_ao3': material.material_io_ao3?.toFixed(6) ?? NaN,\n    'material_io_di0': +material.material_io_di0 ?? NaN,\n    'material_io_di1': +material.material_io_di1 ?? NaN,\n    'material_io_di2': +material.material_io_di2 ?? NaN,\n    'material_io_di3': +material.material_io_di3 ?? NaN,\n    'material_io_do0': +material.material_io_do0 ?? NaN,\n    'material_io_do1': +material.material_io_do1 ?? NaN,\n    'material_io_do2': +material.material_io_do2 ?? NaN,\n    'material_io_do3': +material.material_io_do3 ?? NaN,\n    'material_coriolis_mass_flow': material.material_coriolis_mass_flow?.toFixed(3) ?? NaN,\n    'material_coriolis_volume_flow': material.material_coriolis_volume_flow?.toFixed(3) ?? NaN,\n    'material_coriolis_density': material.material_coriolis_density?.toFixed(3) ?? NaN,\n    'material_coriolis_dynamic_visco': material.material_coriolis_dynamic_visco?.toFixed(1) ?? NaN,\n    'material_coriolis_temperature': material.material_coriolis_temperature?.toFixed(3) ?? NaN,\n    'material_coriolis_exciter_current_0': material.material_coriolis_exciter_current_0?.toFixed(6) ?? NaN,\n    'material_coriolis_oscillation_frequency_0': material.material_coriolis_oscillation_frequency_0?.toFixed(6) ?? NaN,\n    'material_coriolis_oscillation_amplitude_0': material.material_coriolis_oscillation_amplitude_0?.toFixed(6) ?? NaN,\n    'material_coriolis_oscillation_damping_0': material.material_coriolis_oscillation_damping_0?.toFixed(3) ?? NaN,\n    'material_coriolis_signal_asymmetry': material.material_coriolis_signal_asymmetry?.toFixed(9) ?? NaN,\n    'material_coriolis_exciter_current_1': material.material_coriolis_exciter_current_1?.toFixed(6) ?? NaN,\n    'material_coriolis_oscillation_frequency_1': material.material_coriolis_oscillation_frequency_1?.toFixed(6) ?? NaN,\n    'material_coriolis_oscillation_amplitude_1': material.material_coriolis_oscillation_amplitude_1?.toFixed(6) ?? NaN,\n    'material_coriolis_oscillation_damping_1': material.material_coriolis_oscillation_damping_1?.toFixed(3) ?? NaN,\n    'material_bronkhorst_read_alarm_info': material.material_bronkhorst_read_alarm_info?.toFixed(0) ?? NaN,\n    'material_bronkhorst_read_read_setpoint': material.material_bronkhorst_read_setpoint?.toFixed(2) ?? NaN,\n    'material_bronkhorst_read_measure': material.material_bronkhorst_read_measure?.toFixed(3) ?? NaN,\n    'material_bronkhorst_read_temperature': material.material_bronkhorst_read_temperature?.toFixed(3) ?? NaN,\n    'material_bronkhorst_read_density': material.material_bronkhorst_read_actual_density?.toFixed(1) ?? NaN,\n    'material_bronkhorst_read_analog_input': material.material_bronkhorst_read_analog_input?.toFixed(0) ?? NaN,\n    'material_bronkhorst_read_valve_output': material.material_bronkhorst_read_valve_output?.toFixed(0) ?? NaN,\n    'material_bronkhorst_read_setpoint_slope': material.material_bronkhorst_read_setpoint_slope?.toFixed(0) ?? NaN,\n    'material_peristaltic_pump_actual_velocity': material.material_peristaltic_pump_actual_velocity?.toFixed(3) ?? NaN,\n    'material_peristaltic_pump_actual_power': material.material_peristaltic_pump_actual_power?.toFixed(3) ?? NaN,\n    'material_peristaltic_pump_actual_current': material.material_peristaltic_pump_actual_current?.toFixed(3) ?? NaN,\n    'material_peristaltic_pump_actual_torque': material.material_peristaltic_pump_actual_torque?.toFixed(3) ?? NaN,\n    'material_r0': material.material_r0?.toFixed(6) ?? NaN,\n    'material_r1': material.material_r1?.toFixed(6) ?? NaN,\n    'material_r2': material.material_r2?.toFixed(6) ?? NaN,\n    'material_r3': material.material_r3?.toFixed(6) ?? NaN,\n    'material_r4': material.material_r4?.toFixed(6) ?? NaN,\n    'material_r5': material.material_r5?.toFixed(6) ?? NaN,\n    'material_r6': material.material_r6?.toFixed(6) ?? NaN,\n    'material_r7': material.material_r7?.toFixed(6) ?? NaN,\n    'material_r8': material.material_r8?.toFixed(6) ?? NaN,\n    'material_r9': material.material_r9?.toFixed(6) ?? NaN,\n\n    // Vertico\n    'vertico_source_time': vertico.vertico_source_time ?? NaN,\n    'vertico_is_remote': +vertico.vertico_is_remote ?? NaN,\n    'vertico_is_open_loop': +vertico.vertico_is_open_loop ?? NaN,\n    'vertico_actual_motor_velocity': vertico.vertico_motor_velocity_measured?.toFixed(0) ?? NaN,\n    'vertico_actual_flow_ml_min': vertico.vertico_flow_measured_ml_min?.toFixed(2) ?? NaN,\n    'vertico_actual_flow_ma': vertico.vertico_flow_measured_ma?.toFixed(6) ?? NaN,\n    'vertico_actual_pressure': vertico.vertico_pressure_measured?.toFixed(1) ?? NaN,\n    'vertico_local_setpoint_open_loop': vertico.vertico_local_setpoint_open_loop?.toFixed(0) ?? NaN,\n    'vertico_local_setpoint_closed_loop': vertico.vertico_local_setpoint_closed_loop?.toFixed(2) ?? NaN,\n    'vertico_remote_start_stop': +vertico.vertico_remote_start_stop ?? NaN,\n    'vertico_remote_setpoint_open_loop': vertico.vertico_remote_setpoint_open_loop?.toFixed(0) ?? NaN,\n    'vertico_remote_setpoint_closed_loop': vertico.vertico_remote_setpoint_closed_loop?.toFixed(2) ?? NaN,\n    'vertico_pid_p': vertico.vertico_pid_p?.toFixed(1) ?? NaN,\n    'vertico_pid_i': vertico.vertico_pid_i?.toFixed(1) ?? NaN,\n    'vertico_pid_d': vertico.vertico_pid_d?.toFixed(2) ?? NaN,\n    'vertico_ai3': vertico.vertico_ai3?.toFixed(6) ?? NaN,\n    'vertico_ao0': vertico.vertico_ao0?.toFixed(6) ?? NaN,\n    'vertico_do3': +vertico.vertico_do3 ?? NaN,\n\n    // Printhead\n    'printhead_source_time': printhead.printhead_source_time ?? NaN,\n    'printhead_power_on_left': +printhead.printhead_power_on_left ?? NaN,\n    'printhead_move_jog_backward_left': +printhead.printhead_move_jog_backward_left ?? NaN,\n    'printhead_move_jog_forward_left': +printhead.printhead_move_jog_forward_left ?? NaN,\n    'printhead_velocity_jog_left': printhead.printhead_velocity_jog_left?.toFixed(1) ?? NaN,\n    'printhead_actual_velocity_left': printhead.printhead_actual_velocity_left?.toFixed(1) ?? NaN,\n    'printhead_actual_power_left': printhead.printhead_actual_power_left?.toFixed(3) ?? NaN,\n    'printhead_actual_current_left': printhead.printhead_actual_current_left?.toFixed(3) ?? NaN,\n    'printhead_actual_torque_left': printhead.printhead_actual_torque_left?.toFixed(3) ?? NaN,\n    'printhead_power_on_right': +printhead.printhead_power_on_right ?? NaN,\n    'printhead_move_jog_backward_right': +printhead.printhead_move_jog_backward_right ?? NaN,\n    'printhead_move_jog_forward_right': +printhead.printhead_move_jog_forward_right ?? NaN,\n    'printhead_velocity_jog_right': printhead.printhead_velocity_jog_right?.toFixed(1) ?? NaN,\n    'printhead_actual_velocity_right': printhead.printhead_actual_velocity_right?.toFixed(1) ?? NaN,\n    'printhead_actual_power_right': printhead.printhead_actual_power_right?.toFixed(3) ?? NaN,\n    'printhead_actual_current_right': printhead.printhead_actual_current_right?.toFixed(3) ?? NaN,\n    'printhead_actual_torque_right': printhead.printhead_actual_torque_right?.toFixed(3) ?? NaN,\n    'printhead_pressure': printhead.printhead_pressure?.toFixed(3) ?? NaN,\n    'printhead_mortar_temperature': printhead.printhead_mortar_temperature?.toFixed(2) ?? NaN,\n    'printhead_box1_ai0': printhead.printhead_box1_ai0?.toFixed(6) ?? NaN,\n    'printhead_box1_ai1': printhead.printhead_box1_ai1?.toFixed(6) ?? NaN,\n    'printhead_box1_ai2': printhead.printhead_box1_ai2?.toFixed(6) ?? NaN,\n    'printhead_box1_ai3': printhead.printhead_box1_ai3?.toFixed(6) ?? NaN,\n    'printhead_box1_ai4': printhead.printhead_box1_ai4?.toFixed(6) ?? NaN,\n    'printhead_box1_ai5': printhead.printhead_box1_ai5?.toFixed(6) ?? NaN,\n    'printhead_box1_ai6': printhead.printhead_box1_ai6?.toFixed(6) ?? NaN,\n    'printhead_box1_ai7': printhead.printhead_box1_ai7?.toFixed(6) ?? NaN,\n    'printhead_box2_ai0': printhead.printhead_box2_ai0?.toFixed(6) ?? NaN,\n    'printhead_box2_ai1': printhead.printhead_box2_ai1?.toFixed(6) ?? NaN,\n    'printhead_box2_ai2': printhead.printhead_box2_ai2?.toFixed(6) ?? NaN,\n    'printhead_box2_ai3': printhead.printhead_box2_ai3?.toFixed(6) ?? NaN\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 940,
        "wires": [
            [
                "a005777e14d4ecb9"
            ]
        ]
    },
    {
        "id": "a005777e14d4ecb9",
        "type": "csv",
        "z": "830497da8cdf302a",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1670,
        "y": 940,
        "wires": [
            [
                "6a49c692e922432f"
            ]
        ]
    },
    {
        "id": "61d3813523698c9a",
        "type": "ui_button",
        "z": "830497da8cdf302a",
        "name": "",
        "group": "599d2b5615f3741e",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop trace",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "trigger",
        "topicType": "str",
        "x": 1430,
        "y": 740,
        "wires": [
            [
                "7bf89ca2081ad8f2",
                "6a49c692e922432f",
                "8810511a3f9794d2"
            ]
        ]
    },
    {
        "id": "88d8bdbf255a07ed",
        "type": "ui_button",
        "z": "830497da8cdf302a",
        "name": "",
        "group": "599d2b5615f3741e",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Start trace",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "trigger",
        "topicType": "str",
        "x": 1430,
        "y": 700,
        "wires": [
            [
                "b9f968cfc25c8396",
                "6a49c692e922432f"
            ]
        ]
    },
    {
        "id": "212ebad929bf850c",
        "type": "inject",
        "z": "830497da8cdf302a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1170,
        "y": 780,
        "wires": [
            [
                "6a49c692e922432f"
            ]
        ]
    },
    {
        "id": "b826879bd0a5964a",
        "type": "function",
        "z": "830497da8cdf302a",
        "name": "",
        "func": "msg.data = msg.payload\nmsg.file = global.get(\"name\") + \".csv\";\nmsg.filename=\"D:/Node Red/Files/\" + msg.file;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 820,
        "wires": [
            [
                "09cc1ccdf68e8c95",
                "c69efa8937b963b2"
            ]
        ]
    },
    {
        "id": "93ad8fb085e3c353",
        "type": "inject",
        "z": "830497da8cdf302a",
        "d": true,
        "name": "INTERRUPT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1160,
        "y": 740,
        "wires": [
            [
                "61d3813523698c9a"
            ]
        ]
    },
    {
        "id": "7bf89ca2081ad8f2",
        "type": "ui_toast",
        "z": "830497da8cdf302a",
        "position": "bottom right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Trace stopped",
        "name": "",
        "x": 1700,
        "y": 740,
        "wires": []
    },
    {
        "id": "17cb8f1a88ff6b84",
        "type": "inject",
        "z": "830497da8cdf302a",
        "d": true,
        "name": "ALLOW",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "true",
        "payloadType": "bool",
        "x": 1180,
        "y": 700,
        "wires": [
            [
                "88d8bdbf255a07ed"
            ]
        ]
    },
    {
        "id": "b9f968cfc25c8396",
        "type": "ui_toast",
        "z": "830497da8cdf302a",
        "position": "bottom right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Trace started",
        "name": "",
        "x": 1700,
        "y": 700,
        "wires": []
    },
    {
        "id": "a01c995332a952b6",
        "type": "function",
        "z": "830497da8cdf302a",
        "name": "Columns",
        "func": "global.set(\"name\",msg.payload);\nvar data =\"desktop_time,\"+\n\n    \"mtec_source_time,\"+\n    \"mtec_remote_start_bool,\"+\n    \"mtec_water_control_active_bool,\"+ \n    \"mtec_water_start_control_s,\"+ \n    \"mtec_water_pump_run_bool,\"+\n    \"mtec_water_solenoid_valve_bool,\"+\n    \"mtec_water_water_valve_actual_perc,\"+\n    \"mtec_water_temp_c,\"+\n    \"mtec_water_flow_set_l_h,\"+\n    \"mtec_water_flow_actual_l_h,\"+\n    \"mtec_mixer_run_bool,\"+\n    \"mtec_state_wet_material_probe_bool,\"+\n    \"mtec_state_delay_time_wet_probe_bool,\"+\n    \"mtec_delay_time_wet_probe_dynamically_s,\"+\n    \"mtec_delay_time_wet_probe_statically_s,\"+\n    \"mtec_pump_speed_set_rpm,\"+\n    \"mtec_pump_speed_actual_rpm,\"+\n\t\"mtec_io_ai1_v,\"+\n\t\"mtec_io_ai2_v,\"+\n\t\"mtec_io_ai3_v,\"+\n\t\"mtec_io_ai4_ma,\"+\n\t\"mtec_io_ai5_ma,\"+\n\t\"mtec_io_ao1_ma,\"+\n\t\"mtec_io_ao2_ma,\"+\n\t\"mtec_io_di1_bool,\"+\n\t\"mtec_io_di2_bool,\"+\n\t\"mtec_io_di3_bool,\"+\n\t\"mtec_io_di4_bool,\"+\n\t\"mtec_io_di5_bool,\"+\n\t\"mtec_io_do1_bool,\"+\n\t\"mtec_io_do2_bool,\"+\n\n    \"mai_source_time,\"+\n    \"mai_water_run_bool,\"+\n    \"mai_water_temp_c,\"+\n    \"mai_water_temp_mixer_inlet_c,\"+\n    \"mai_water_flow_set_lh,\"+\n    \"mai_water_flow_actual_lh,\"+\n    \"mai_waterpump_ref_freq_chz,\"+\n    \"mai_waterpump_output_freq_chz,\"+\n    \"mai_mixer_run_bool,\"+\n    \"mai_pump_run_bool,\"+\n    \"mai_pump_speed_chz,\"+\n    \"mai_pump_output_current_da,\"+\n    \"mai_pump_output_power_w,\"+\n    \"mai_pump_vibration_mode_i,\"+\n    \"mai_silo_dry_mortar_temperature_c,\"+\n    \"mai_pumping_chamber_mortar_temperature_c,\"+\n    \"mai_setting_water_pre_run_s,\"+\n    \"mai_setting_mixer_post_run_s,\"+\n    \"mai_setting_wetprobe_covered_delay_s,\"+\n    \"mai_setting_wetprobe_uncovered_delay_s,\"+\n\n    \"gantry_source_time,\"+\n    \"gantry_pos_x_mm,\"+\n    \"gantry_pos_y_mm,\"+\n    \"gantry_pos_z_mm,\"+\n    \"gantry_pos_c_deg,\"+\n    \"gantry_vel_x_mm_min,\"+\n    \"gantry_vel_y_mm_min,\"+\n    \"gantry_vel_z_mm_min,\"+\n    \"gantry_vel_c,\"+\n    \"gantry_feedrate_x_mm_min,\"+\n    \"gantry_feedrate_y_mm_min,\"+\n    \"gantry_feedrate_z_mm_min,\"+\n    \"gantry_feedrate_c,\"+\n    \"gantry_feedrate_override_perc,\"+\n    \"gantry_r100,\"+\n    \"gantry_r101,\"+\n    \"gantry_r102,\"+\n    \"gantry_r103,\"+\n    \"gantry_r104,\"+\n    \"gantry_r105,\"+\n    \"gantry_r106,\"+\n    \"gantry_r107,\"+\n    \"gantry_r108,\"+\n    \"gantry_r109,\"+\n\n    \"material_source_time,\"+\n    \"material_io_ai0_pressure_bar,\"+\n    \"material_io_ai1_pressure_bar,\"+\n    \"material_io_ai0_ma,\"+\n    \"material_io_ai1_ma,\"+\n    \"material_io_ai2_ma,\"+\n    \"material_io_ai3_ma,\"+\n    \"material_io_ai4_ma,\"+\n    \"material_io_ai5_ma,\"+\n    \"material_io_ai6_relative_humidity_perc,\"+\n    \"material_io_ai7_ambient_temperature_c,\"+\n    \"material_io_ao0_ma,\"+\n    \"material_io_ao1_ma,\"+\n    \"material_io_ao2_ma,\"+\n    \"material_io_ao3_ma,\"+\n    \"material_io_di0_bool,\"+\n    \"material_io_di1_bool,\"+\n    \"material_io_di2_bool,\"+\n    \"material_io_di3_bool,\"+\n    \"material_io_do0_bool,\"+\n    \"material_io_do1_bool,\"+\n    \"material_io_do2_bool,\"+\n    \"material_io_do3_bool,\"+\n    \"material_coriolis_mass_flow_kg_min,\"+\n    \"material_coriolis_volume_flow_l_min,\"+\n    \"material_coriolis_density_kg_m3,\"+\n    \"material_coriolis_dynamic_viscocity_cp,\"+\n    \"material_coriolis_temperature_c,\"+\n    \"material_coriolis_exciter_current_0_ma,\"+\n    \"material_coriolis_oscillation_frequency_0_hz,\"+\n    \"material_coriolis_oscillation_amplitude_0_perc,\"+\n    \"material_coriolis_oscillation_damping_0_m_a,\"+\n    \"material_coriolis_signal_asymmetry_perc,\"+\n    \"material_coriolis_exciter_current_1_ma,\"+\n    \"material_coriolis_oscillation_frequency_1_hz,\"+\n    \"material_coriolis_oscillation_amplitude_1_perc,\"+\n    \"material_coriolis_oscillation_damping_1_m_a,\"+\n    \"material_bronkhorst_alarm_info,\"+\n    \"material_bronkhorst_setpoint_gmin,\"+\n    \"material_bronkhorst_measure_gmin,\"+\n    \"material_bronkhorst_temperature,\"+\n    \"material_bronkhorst_density_kg_m3,\"+\n    \"material_bronkhorst_analog_input,\"+\n    \"material_bronkhorst_valve_output,\"+\n    \"material_bronkhorst_setpoint_slope_s,\"+\n    \"material_peristaltic_pump_velocity_rpm,\"+\n    \"material_peristaltic_pump_power_kw,\"+\n    \"material_peristaltic_pump_current_a,\"+\n    \"material_peristaltic_pump_torque_nm,\"+\n    \"material_r0,\"+\n    \"material_r1,\"+\n    \"material_r2,\"+\n    \"material_r3,\"+\n    \"material_r4,\"+\n    \"material_r5,\"+\n    \"material_r6,\"+\n    \"material_r7,\"+\n    \"material_r8,\"+\n    \"material_r9,\"+\n\n    \"vertico_source_time,\"+\n    \"vertico_is_remote_bool,\"+\n    \"vertico_is_open_loop_bool,\"+\n    \"vertico_actual_motor_velocity_rpm,\"+\n    \"vertico_actual_flow_ml_min,\"+\n    \"vertico_actual_flow_ma,\"+\n    \"vertico_actual_pressure_bar,\"+\n    \"vertico_local_setpoint_open_loop_rpm,\"+\n    \"vertico_local_setpoint_closed_loop_mlmin,\"+\n    \"vertico_remote_start_stop_bool,\"+\n    \"vertico_remote_setpoint_open_loop_rpm,\"+\n    \"vertico_remote_setpoint_closed_loop_mlmin,\"+\n    \"vertico_pid_p,\"+\n    \"vertico_pid_i,\"+\n    \"vertico_pid_d,\"+\n    \"vertico_ai3_ma,\"+\n    \"vertico_ao0_ma,\"+\n    \"vertico_do3_bool,\"+\n    \n    \"printhead_source_time,\"+\n    \"printhead_motor_1_motor_1_power_on_bool,\"+\n    \"printhead_motor_1_move_jog_backward_bool,\"+\n    \"printhead_motor_1_move_jog_forward_bool,\"+\n    \"printhead_motor_1_velocity_jog_rpm,\"+\n    \"printhead_motor_1_actual_velocity_rpm,\"+\n    \"printhead_motor_1_actual_power_kw,\"+\n    \"printhead_motor_1_actual_current_a,\"+\n    \"printhead_motor_1_actual_torque_nm,\"+\n    \"printhead_motor_2_power_on_bool,\"+\n    \"printhead_motor_2_move_jog_backward_bool,\"+\n    \"printhead_motor_2_move_jog_forward_bool,\"+\n    \"printhead_motor_2_velocity_jog_rpm,\"+\n    \"printhead_motor_2_actual_velocity_rpm,\"+\n    \"printhead_motor_2_actual_power_kw,\"+\n    \"printhead_motor_2_actual_current_a,\"+\n    \"printhead_motor_2_actual_torque_nm,\"+\n    \"printhead_pressure_bar,\"+\n    \"printhead_mortar_temperature_c,\"+\n    \"printhead_box1_io_ai0_ma,\"+\n    \"printhead_box1_io_ai1_ma,\"+\n    \"printhead_box1_io_ai2_ma,\"+\n    \"printhead_box1_io_ai3_ma,\"+\n    \"printhead_box1_io_ai4_ma,\"+\n    \"printhead_box1_io_ai5_ma,\"+\n    \"printhead_box1_io_ai6_ma,\"+\n    \"printhead_box1_io_ai7_ma,\"+\n    \"printhead_box2_io_ai0_ma,\"+\n    \"printhead_box2_io_ai1_ma,\"+\n    \"printhead_box2_io_ai2_ma,\"+\n    \"printhead_box2_io_ai3_ma\"+\t\n    \n    \"\\n\"\n\nmsg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 820,
        "wires": [
            [
                "b826879bd0a5964a"
            ]
        ]
    },
    {
        "id": "09cc1ccdf68e8c95",
        "type": "file",
        "z": "830497da8cdf302a",
        "name": "File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2430,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "4f595627e790e1e3",
        "type": "ui_template",
        "z": "830497da8cdf302a",
        "group": "599d2b5615f3741e",
        "name": "Stop/break",
        "order": 6,
        "width": 6,
        "height": 5,
        "format": "<svg>\n<circle cx=\"150\" cy=\"120\" r=\"30\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2450,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "ab0ac023c018a2a3",
        "type": "ui_template",
        "z": "830497da8cdf302a",
        "group": "599d2b5615f3741e",
        "name": "Filename",
        "order": 2,
        "width": 6,
        "height": 2,
        "format": "<md-input-container  style=\"overflow:hidden;\">\n    <span> \n    <input ng-model=\"user.input\" style=\"width350px\" placeholder={{msg.topic}}><button class=\"bluebutton\" ng-click=\"msg.payload = user.input; send(msg)\" ng-keypress=\"($event.charCode==13)?msg.payload = user.input; send(msg)\" ngstyle=\"{background-color: #008CBA;}\" style=\"\n    color: #fff;\n    background-color: #5bc0de;\n    border-color: #46b8da;\">Save file</button></span>\n</md-input-container>\n    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1680,
        "y": 820,
        "wires": [
            [
                "a01c995332a952b6",
                "ed887a05d5b81535"
            ]
        ]
    },
    {
        "id": "49ce375b84fc15ca",
        "type": "inject",
        "z": "830497da8cdf302a",
        "name": "Filename",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "Filename",
        "payload": "",
        "payloadType": "date",
        "x": 1180,
        "y": 820,
        "wires": [
            [
                "ab0ac023c018a2a3"
            ]
        ]
    },
    {
        "id": "d21f5b915ab9d47c",
        "type": "link in",
        "z": "830497da8cdf302a",
        "name": "Printhead values in",
        "links": [
            "579a2c32615d040a"
        ],
        "x": 725,
        "y": 1120,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "a0688a5c7674197e",
        "type": "link in",
        "z": "830497da8cdf302a",
        "name": "Materia delivery values in",
        "links": [
            "797b0ccd6074df32"
        ],
        "x": 725,
        "y": 1040,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "37b06e5fd23a6f0f",
        "type": "link in",
        "z": "830497da8cdf302a",
        "name": "mtec values in",
        "links": [
            "e91c0760589c18ca"
        ],
        "x": 725,
        "y": 1080,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "e0fca171a7e70f43",
        "type": "link in",
        "z": "830497da8cdf302a",
        "name": "Mai values in",
        "links": [
            "53f4d54fd9b46f38"
        ],
        "x": 725,
        "y": 1000,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "2a9352879b1ae46f",
        "type": "link in",
        "z": "830497da8cdf302a",
        "name": "Vertico values in",
        "links": [
            "7739713b64d7d620"
        ],
        "x": 725,
        "y": 1160,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "58f887cc8de3c65e",
        "type": "inject",
        "z": "830497da8cdf302a",
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "complete",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "time",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 940,
        "wires": [
            [
                "f3c6f7ac361ff9c9",
                "c73068d4eb07ae28"
            ]
        ]
    },
    {
        "id": "4ef9f95a54d565bc",
        "type": "link in",
        "z": "830497da8cdf302a",
        "name": "Gantry values in",
        "links": [
            "b1f50cb4688536dc"
        ],
        "x": 725,
        "y": 1200,
        "wires": [
            [
                "30c5a4b3a4e0a417"
            ]
        ]
    },
    {
        "id": "6a49c692e922432f",
        "type": "InterruptFlowUltimate",
        "z": "830497da8cdf302a",
        "name": "Interrupt Flow",
        "triggertopic": "trigger",
        "payloadPropName": "payload",
        "translatorConfig": "",
        "x": 1920,
        "y": 940,
        "wires": [
            [
                "b826879bd0a5964a",
                "39fe5be972b08d35"
            ]
        ]
    },
    {
        "id": "c73068d4eb07ae28",
        "type": "function",
        "z": "830497da8cdf302a",
        "name": "readmuliple msg",
        "func": "return { topic: \"readmultiple\", payload: \"\" };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 880,
        "wires": [
            [
                "398de18a215eb45c"
            ]
        ]
    },
    {
        "id": "398de18a215eb45c",
        "type": "link out",
        "z": "830497da8cdf302a",
        "name": "readmultiple out",
        "mode": "link",
        "links": [
            "3798fb5d7c20808b",
            "8db8e5f401f5c81d",
            "98d496b12aaf1ee3",
            "aee2f831799d1c0d",
            "e2dc84019a9a29b3",
            "fe35509bae6f9228"
        ],
        "x": 615,
        "y": 880,
        "wires": []
    },
    {
        "id": "8810511a3f9794d2",
        "type": "function",
        "z": "830497da8cdf302a",
        "name": "send transparent",
        "func": "return { payload: 'transparent'}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 900,
        "wires": [
            [
                "4f595627e790e1e3"
            ]
        ]
    },
    {
        "id": "39fe5be972b08d35",
        "type": "function",
        "z": "830497da8cdf302a",
        "name": "send green",
        "func": "return {payload: 'green'}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 940,
        "wires": [
            [
                "4f595627e790e1e3"
            ]
        ]
    },
    {
        "id": "b4285cfe50708186",
        "type": "inject",
        "z": "830497da8cdf302a",
        "name": "Send transparant",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 1150,
        "y": 860,
        "wires": [
            [
                "8810511a3f9794d2"
            ]
        ]
    },
    {
        "id": "c69efa8937b963b2",
        "type": "ui_text",
        "z": "830497da8cdf302a",
        "group": "599d2b5615f3741e",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Filename",
        "format": "{{msg.file}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2440,
        "y": 780,
        "wires": []
    },
    {
        "id": "ed887a05d5b81535",
        "type": "function",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "",
        "func": "msg.data = msg.payload\nmsg.file = global.get(\"name\") + \"_EventComments\" + \".csv\";\nmsg.filename=\"D:/Node Red/Files/\" + msg.file;\nmsg.payload = \"Event comments corresponding to file: \" + global.get(\"name\")+ \".csv\" +\n\"\\nThe corresponding csv file is created using Node-RED 3DSeeP v0.7.4\" + \n\"\\nAvailable through https://github.com/3DCP-TUe/Node-RED-3DSeeP\"+\n\"\\n \\n----------\\n \\n\"+\n\"Log of manual comments:\"+\n\"\\nTime,Comment,Value,Unit\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1560,
        "wires": [
            [
                "157ecea731e148d6"
            ]
        ]
    },
    {
        "id": "157ecea731e148d6",
        "type": "file",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2650,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "d6420ba3a1cf462b",
        "type": "ui_template",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "group": "846c63c79a255bbd",
        "name": "Custom comment",
        "order": 8,
        "width": 6,
        "height": 2,
        "format": "<md-input-container  style=\"overflow:hidden;\">\n    <span> \n    <input ng-model=\"user.input\" style=\"width350px\" placeholder={{msg.topic}}><button class=\"bluebutton\" ng-click=\"msg.payload = user.input; send(msg)\" ng-keypress=\"($event.charCode==13)?msg.payload = user.input; send(msg)\" ngstyle=\"{background-color: #008CBA;}\" style=\"\n    color: #fff;\n    background-color: #5bc0de;\n    border-color: #46b8da;\">Append comment to metadata</button></span>\n</md-input-container>\n    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 1600,
        "wires": [
            [
                "cfa7475c52ec0440"
            ]
        ]
    },
    {
        "id": "ba0211763bc00da1",
        "type": "ui_text",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "group": "846c63c79a255bbd",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "A event comments (.txt) file is automatically generated with the same filename as the main data. Comments of any event that is not automatically logged can be added below.",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1690,
        "y": 1240,
        "wires": []
    },
    {
        "id": "473b8474c415a6bb",
        "type": "trigger",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "date",
        "op2type": "date",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 2100,
        "y": 1600,
        "wires": [
            [
                "f666229848971d7a"
            ],
            []
        ]
    },
    {
        "id": "f666229848971d7a",
        "type": "moment",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "Desktop time",
        "topic": "time",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "time",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 2290,
        "y": 1600,
        "wires": [
            [
                "303cb120a67fbc63"
            ]
        ]
    },
    {
        "id": "303cb120a67fbc63",
        "type": "function",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "function 2",
        "func": "msg.payload = msg.time.toString() + \",\" + msg.comment.toString() + \",\" + msg.value.toString() + \",\" + msg.unit.toString();\nmsg.file = global.get(\"name\") + \"_EventComments.csv\";\nmsg.filename=\"D:/Node Red/Files/\" + msg.file;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1600,
        "wires": [
            [
                "157ecea731e148d6"
            ]
        ]
    },
    {
        "id": "2d49380dd9ab0cb5",
        "type": "ui_text",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "group": "846c63c79a255bbd",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Custom comments",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1220,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6158fcc5f4cbcc54",
        "type": "ui_text",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "group": "846c63c79a255bbd",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Standard comments",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8dec28a38a24e9d1",
        "type": "ui_dropdown",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "846c63c79a255bbd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": " - Select option - ",
                "value": "",
                "type": "str"
            },
            {
                "label": "Start filling silo",
                "value": "Start filling silo",
                "type": "str"
            },
            {
                "label": "End filling silo",
                "value": "End filling silo",
                "type": "str"
            },
            {
                "label": "Replace rotor stator",
                "value": "Replace rotor stator",
                "type": "str"
            },
            {
                "label": "Start cleaning procedure",
                "value": "Start cleaning procedure",
                "type": "str"
            },
            {
                "label": "Start experiment",
                "value": "Start experiment",
                "type": "str"
            },
            {
                "label": "End experiment",
                "value": "End experiment",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1180,
        "y": 1340,
        "wires": [
            [
                "cfa7475c52ec0440"
            ]
        ]
    },
    {
        "id": "29f9c657622f28bb",
        "type": "ui_date_picker",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "",
        "label": "Production date of the added big bag",
        "group": "846c63c79a255bbd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1270,
        "y": 1380,
        "wires": [
            [
                "4149cdff93c5a2b4"
            ]
        ]
    },
    {
        "id": "4149cdff93c5a2b4",
        "type": "moment",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "Desktop time",
        "topic": "time2",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 1530,
        "y": 1380,
        "wires": [
            [
                "dd20a936fee53ba5"
            ]
        ]
    },
    {
        "id": "dd20a936fee53ba5",
        "type": "function",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "function 3",
        "func": "msg.comment = \"Production date big bag\" + msg.payload;\nmsg.value=msg.payload;\nmsg,unit=\"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1380,
        "wires": [
            [
                "473b8474c415a6bb"
            ]
        ]
    },
    {
        "id": "05098fbedab4c803",
        "type": "function",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "function 4",
        "func": "if (msg.payload !== undefined) {\n    msg.comment = \"Manual mass flow measurement\";\n    msg.value=msg.payload;\n    msg.unit=\"kg/min\"\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1480,
        "wires": [
            [
                "473b8474c415a6bb"
            ]
        ]
    },
    {
        "id": "e89556cfc620a086",
        "type": "ui_template",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "group": "846c63c79a255bbd",
        "name": "Manual mass flow measurement",
        "order": 6,
        "width": 6,
        "height": "2",
        "format": "<md-input-container style=\"overflow:hidden;\">\n    <span>\n        <input \n            ng-model=\"user.input\" \n            style=\"width:350px\" \n            placeholder=\"{{msg.topic}}\" \n            ng-pattern=\"/^\\d+(\\.\\d+)?$/\"\n            ng-change=\"validateFloat()\"\n        >\n        <button \n            class=\"bluebutton\" \n            ng-click=\"msg.payload = user.input; send(msg)\" \n            ng-keypress=\"($event.charCode==13)? (msg.payload = user.input; send(msg)) : null\" \n            ng-style=\"{backgroundColor: '#5bc0de'}\" \n            style=\"color: #fff; background-color: #5bc0de; border-color: #46b8da;\"\n        >\n            Append manual mass flow [kg/min]\n        </button>\n    </span>\n</md-input-container>\n<script>\n    angular.module('myApp', [])\n    .controller('myCtrl', function($scope) {\n        $scope.validateFloat = function() {\n            // Optional: Additional validation logic can be added here\n            if (!/^\\d+(\\.\\d+)?$/.test($scope.user.input)) {\n                alert(\"Please enter a valid float value.\");\n                $scope.user.input = '';\n            }\n        };\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1250,
        "y": 1480,
        "wires": [
            [
                "05098fbedab4c803"
            ]
        ]
    },
    {
        "id": "dac5248ff2689d12",
        "type": "ui_text",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "group": "846c63c79a255bbd",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Manual mass flow measurement",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1270,
        "y": 1440,
        "wires": []
    },
    {
        "id": "cfa7475c52ec0440",
        "type": "function",
        "z": "830497da8cdf302a",
        "g": "6747f1d415cb8972",
        "name": "function 5",
        "func": "msg.comment=msg.payload;\nmsg.value=\"\";\nmsg.unit=\"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1600,
        "wires": [
            [
                "473b8474c415a6bb"
            ]
        ]
    },
    {
        "id": "019500b17be5de46",
        "type": "ui_spacer",
        "z": "830497da8cdf302a",
        "name": "spacer",
        "group": "53d83661cfcefa23",
        "order": 3,
        "width": 27,
        "height": 1
    },
    {
        "id": "cc664f48d4ca29a8",
        "type": "ui_spacer",
        "z": "830497da8cdf302a",
        "name": "spacer",
        "group": "53d83661cfcefa23",
        "order": 6,
        "width": 27,
        "height": 1
    },
    {
        "id": "6c84f26e531775f5",
        "type": "ui_spacer",
        "z": "830497da8cdf302a",
        "name": "spacer",
        "group": "53d83661cfcefa23",
        "order": 9,
        "width": 27,
        "height": 1
    },
    {
        "id": "376b4fcd069cd7d0",
        "type": "ui_spacer",
        "z": "830497da8cdf302a",
        "name": "spacer",
        "group": "d5be84c8a2a9dbe3",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "4e5abbb2deb4bcf5",
        "type": "ui_spacer",
        "z": "830497da8cdf302a",
        "name": "spacer",
        "group": "427cf8828e9e9476",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "599d2b5615f3741e",
        "type": "ui_group",
        "name": "Save data",
        "tab": "53571d4d81ebd061",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "846c63c79a255bbd",
        "type": "ui_group",
        "name": "Event comments",
        "tab": "53571d4d81ebd061",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53d83661cfcefa23",
        "type": "ui_group",
        "name": "Data Graphs",
        "tab": "53571d4d81ebd061",
        "order": 2,
        "disp": true,
        "width": 27,
        "collapse": false
    },
    {
        "id": "d5be84c8a2a9dbe3",
        "type": "ui_group",
        "name": "Summary",
        "tab": "53571d4d81ebd061",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "427cf8828e9e9476",
        "type": "ui_group",
        "name": "MAI pump run",
        "tab": "4d5fffccf03df614",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53571d4d81ebd061",
        "type": "ui_tab",
        "name": "Data overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d5fffccf03df614",
        "type": "ui_tab",
        "name": "Toolbox",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    }
]