src/flows/material_delivery_write_values.json
[
    {
        "id": "5303b788a046f513",
        "type": "tab",
        "label": "Material delivery: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6e43cce9933d5df",
        "type": "group",
        "z": "5303b788a046f513",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6726f79923371239",
            "3b1c5e2540f19ec5",
            "8aa7a71519b10610",
            "e424b2f46c80b6cd",
            "e10dc4020a64f821",
            "fc9e8e13d10f1fa1",
            "ecd053195def05d1",
            "66b104c8a3db4303",
            "88c4307a37632229",
            "27623d94aa251632",
            "26b65a890aa686df",
            "3e8ad2779ea253d5",
            "70987193797ad2df",
            "e29dd8157a2d7db6",
            "3220ce9f2c4bda8f"
        ],
        "x": 74,
        "y": 1179,
        "w": 1232,
        "h": 222
    },
    {
        "id": "44e60bd4af8e561d",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=22",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO0",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "ef0d9a52343cea2d",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write DO0 [bool]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "44e60bd4af8e561d"
            ]
        ]
    },
    {
        "id": "f7da06ffe7e1ab09",
        "type": "OpcUa-Client",
        "z": "5303b788a046f513",
        "endpoint": "9c6664b374f58bc5",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1700,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b9ea303a4d666bdb",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=23",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO1",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "16909ae515487f86",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write DO1 [bool]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "b9ea303a4d666bdb"
            ]
        ]
    },
    {
        "id": "137338a2ced42ad8",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=24",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO2",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "efb711f7981cd1f5",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write DO2 [bool]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "137338a2ced42ad8"
            ]
        ]
    },
    {
        "id": "dd6a2dda61ded4f2",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=25",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO3",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "ba9591482ef48fe5",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write DO3 [bool]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "dd6a2dda61ded4f2"
            ]
        ]
    },
    {
        "id": "dc3bdc5df77f15e2",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=78",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO0",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "0a6ccca0a094f6e4",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=79",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO1",
        "x": 710,
        "y": 640,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "fbdeb799d21e195d",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=80",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO2",
        "x": 710,
        "y": 720,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "2745d53c66ee0df3",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=4;i=81",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO3",
        "x": 710,
        "y": 800,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "f471a52cb40202de",
        "type": "inject",
        "z": "5303b788a046f513",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "ef0d9a52343cea2d",
                "16909ae515487f86",
                "efb711f7981cd1f5",
                "ba9591482ef48fe5"
            ]
        ]
    },
    {
        "id": "ade631e3af09b9f6",
        "type": "inject",
        "z": "5303b788a046f513",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "0cb96c0ac05c4dc4",
                "b23b2d62c48223ae",
                "5ef99fcc3a70a696",
                "0879b6b5409dfbc5"
            ]
        ]
    },
    {
        "id": "c2f55c979188059f",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=3;s=\"Sensing_DB\".\"On_OFF_Bronkhorst\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Bronkhorst connected",
        "x": 740,
        "y": 1000,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "23d7eff65d266e77",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Bronkhorst pump is connected?",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "c2f55c979188059f"
            ]
        ]
    },
    {
        "id": "bbe0f1972396d4ba",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=3;s=\"Sensing_DB\".\"On_OFF_Siemens_G120C\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Verder connected",
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "6c54bce823bcffef",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Peristaltic pump is connected?",
        "tooltip": "",
        "group": "cdb560365232a81d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "bbe0f1972396d4ba"
            ]
        ]
    },
    {
        "id": "65074ff3c0f8a055",
        "type": "inject",
        "z": "5303b788a046f513",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "23d7eff65d266e77",
                "6c54bce823bcffef"
            ]
        ]
    },
    {
        "id": "6726f79923371239",
        "type": "comment",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "Write Bronkhorst",
        "info": "",
        "x": 180,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3b1c5e2540f19ec5",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "item": "ns=3;s=\"BH_write_Setpoint\"",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "material_bronkhorst_write_setpoint",
        "x": 920,
        "y": 1280,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "8aa7a71519b10610",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "item": "ns=3;s=\"BH_write_reset\"",
        "datatype": "Int16",
        "value": "msg.topic",
        "name": "material_bronkhorst_write_reset",
        "x": 910,
        "y": 1320,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "e424b2f46c80b6cd",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "item": "ns=3;s=\"BH_write_setpoint_slope\"",
        "datatype": "Int16",
        "value": "msg.topic",
        "name": "material_bronkhorst_write_setpoint_slope",
        "x": 940,
        "y": 1360,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "e10dc4020a64f821",
        "type": "ui_text_input",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 1280,
        "wires": [
            [
                "ecd053195def05d1"
            ]
        ]
    },
    {
        "id": "fc9e8e13d10f1fa1",
        "type": "inject",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "e10dc4020a64f821"
            ]
        ]
    },
    {
        "id": "ecd053195def05d1",
        "type": "function",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "func": "if( msg.payload<0.0){msg.payload=0.0}\nelse if(msg.payload>500){msg.payload=500}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1280,
        "wires": [
            [
                "3b1c5e2540f19ec5"
            ]
        ]
    },
    {
        "id": "5852c26a93d6def5",
        "type": "trigger",
        "z": "5303b788a046f513",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "1b72702ad593c639"
            ]
        ]
    },
    {
        "id": "1b72702ad593c639",
        "type": "OpcUa-Item",
        "z": "5303b788a046f513",
        "item": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "datatype": "Boolean",
        "value": "",
        "name": "Heartbeat",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "f7da06ffe7e1ab09"
            ]
        ]
    },
    {
        "id": "b9ff6c5807c80f1c",
        "type": "inject",
        "z": "5303b788a046f513",
        "name": "Heartbeat",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "5852c26a93d6def5"
            ]
        ]
    },
    {
        "id": "66b104c8a3db4303",
        "type": "ui_text",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "group": "42ab9b98873d81c6",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "g/m",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1280,
        "wires": []
    },
    {
        "id": "88c4307a37632229",
        "type": "function",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "func": "if( msg.payload<0){msg.payload=0}\nmsg.payload = msg.payload * 10\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1360,
        "wires": [
            [
                "e424b2f46c80b6cd"
            ]
        ]
    },
    {
        "id": "27623d94aa251632",
        "type": "ui_text_input",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "label": "Setpoint slope",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 1360,
        "wires": [
            [
                "88c4307a37632229"
            ]
        ]
    },
    {
        "id": "26b65a890aa686df",
        "type": "inject",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "27623d94aa251632"
            ]
        ]
    },
    {
        "id": "3e8ad2779ea253d5",
        "type": "ui_text",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "group": "42ab9b98873d81c6",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1360,
        "wires": []
    },
    {
        "id": "70987193797ad2df",
        "type": "ui_switch",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "label": "Enable",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 1320,
        "wires": [
            [
                "e29dd8157a2d7db6"
            ]
        ]
    },
    {
        "id": "e29dd8157a2d7db6",
        "type": "function",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "func": "if (msg.payload==true) \n{\n    msg.payload=1\n} \nelse\n{\n    msg.payload=0\n} \n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "8aa7a71519b10610"
            ]
        ]
    },
    {
        "id": "3220ce9f2c4bda8f",
        "type": "inject",
        "z": "5303b788a046f513",
        "g": "e6e43cce9933d5df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 1320,
        "wires": [
            [
                "70987193797ad2df"
            ]
        ]
    },
    {
        "id": "0cb96c0ac05c4dc4",
        "type": "ui_text_input",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write AO0",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "d2a8bf017f3b5a2d"
            ]
        ]
    },
    {
        "id": "f8e0a0b6659db9bf",
        "type": "ui_text",
        "z": "5303b788a046f513",
        "group": "3b53e2a5cf94ece3",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "[mA]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 330,
        "y": 600,
        "wires": []
    },
    {
        "id": "d2a8bf017f3b5a2d",
        "type": "function",
        "z": "5303b788a046f513",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "dc3bdc5df77f15e2"
            ]
        ]
    },
    {
        "id": "b23b2d62c48223ae",
        "type": "ui_text_input",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write AO1",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "d70044fad3c5f811"
            ]
        ]
    },
    {
        "id": "d70044fad3c5f811",
        "type": "function",
        "z": "5303b788a046f513",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 640,
        "wires": [
            [
                "0a6ccca0a094f6e4"
            ]
        ]
    },
    {
        "id": "5ef99fcc3a70a696",
        "type": "ui_text_input",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write AO2",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 720,
        "wires": [
            [
                "c029ce93824dbfe0"
            ]
        ]
    },
    {
        "id": "c029ce93824dbfe0",
        "type": "function",
        "z": "5303b788a046f513",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 720,
        "wires": [
            [
                "fbdeb799d21e195d"
            ]
        ]
    },
    {
        "id": "0879b6b5409dfbc5",
        "type": "ui_text_input",
        "z": "5303b788a046f513",
        "name": "",
        "label": "Write AO3",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "96f01a3c9a5a1961"
            ]
        ]
    },
    {
        "id": "96f01a3c9a5a1961",
        "type": "function",
        "z": "5303b788a046f513",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 800,
        "wires": [
            [
                "2745d53c66ee0df3"
            ]
        ]
    },
    {
        "id": "850d916f7ca46cc7",
        "type": "ui_text",
        "z": "5303b788a046f513",
        "group": "3b53e2a5cf94ece3",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "[mA]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 330,
        "y": 680,
        "wires": []
    },
    {
        "id": "1033168a6bde58a2",
        "type": "ui_text",
        "z": "5303b788a046f513",
        "group": "3b53e2a5cf94ece3",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "[mA]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 330,
        "y": 760,
        "wires": []
    },
    {
        "id": "47fc0a65915500ab",
        "type": "ui_text",
        "z": "5303b788a046f513",
        "group": "3b53e2a5cf94ece3",
        "order": 13,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "[mA]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 330,
        "y": 840,
        "wires": []
    },
    {
        "id": "18574385c56250f1",
        "type": "ui_spacer",
        "z": "5303b788a046f513",
        "name": "spacer",
        "group": "3b53e2a5cf94ece3",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "d334d5cc93293781",
        "type": "ui_spacer",
        "z": "5303b788a046f513",
        "name": "spacer",
        "group": "19d1813dc6889b02",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "5ee27a07720a35f5",
        "type": "ui_spacer",
        "z": "5303b788a046f513",
        "name": "spacer",
        "group": "19d1813dc6889b02",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "8d76c85bf06faf7c",
        "type": "ui_spacer",
        "z": "5303b788a046f513",
        "name": "spacer",
        "group": "85f900f2581b92bc",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "175ae708f4fb94f1",
        "type": "ui_spacer",
        "z": "5303b788a046f513",
        "name": "spacer",
        "group": "85f900f2581b92bc",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "3b53e2a5cf94ece3",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4596e568da630a4f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c6664b374f58bc5",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.30:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "42ab9b98873d81c6",
        "type": "ui_group",
        "name": "Write values",
        "tab": "bf699577502254b8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdb560365232a81d",
        "type": "ui_group",
        "name": "Peristaltic pump",
        "tab": "4596e568da630a4f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19d1813dc6889b02",
        "type": "ui_group",
        "name": "Analog inputs",
        "tab": "4596e568da630a4f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85f900f2581b92bc",
        "type": "ui_group",
        "name": "Coriolis sensor",
        "tab": "4596e568da630a4f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4596e568da630a4f",
        "type": "ui_tab",
        "name": "Material delivery PLC",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf699577502254b8",
        "type": "ui_tab",
        "name": "Bronkhorst dosing pump",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]