src/flows/mtec_write_values.json
[
    {
        "id": "09f74a936e34ed02",
        "type": "tab",
        "label": "M-tec: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed9fe8e0a4294cfa",
        "type": "trigger",
        "z": "09f74a936e34ed02",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "0b08100827d5f1c3"
            ]
        ]
    },
    {
        "id": "0b08100827d5f1c3",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Livebit2extern",
        "datatype": "Boolean",
        "value": "",
        "name": "Livebit2extern",
        "x": 960,
        "y": 360,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "28934a46c30d4da5",
        "type": "OpcUa-Client",
        "z": "09f74a936e34ed02",
        "endpoint": "b02adcf7.368dd",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1340,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "52bed2e245433535",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "Communication status",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix;datatype=Boolean",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "ed9fe8e0a4294cfa"
            ]
        ]
    },
    {
        "id": "b8805f6fab92b756",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Pump speed",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "6ddb910815ccf34d"
            ]
        ]
    },
    {
        "id": "b62c4f4064b75c9c",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "Write pump velocity",
        "x": 970,
        "y": 620,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "eb1bd0f2fca4d807",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Remote_start",
        "datatype": "Boolean",
        "value": "",
        "name": "Remote start",
        "x": 950,
        "y": 400,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "531f6c94260ac779",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Enable/disable",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "eb1bd0f2fca4d807"
            ]
        ]
    },
    {
        "id": "921831315afc8cd9",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "rpm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "6ddb910815ccf34d",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "if (msg.payload<80) { msg.payload = 80 }\nelse if (msg.payload > 190) { msg.payload = 190 }\nmsg.payload = msg.payload * 65000 / 192.1\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "b62c4f4064b75c9c"
            ]
        ]
    },
    {
        "id": "4945a8b5df711968",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "531f6c94260ac779"
            ]
        ]
    },
    {
        "id": "65884eac94a8b64a",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "b8805f6fab92b756"
            ]
        ]
    },
    {
        "id": "a4318766a8d6469e",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_water_flow",
        "datatype": "Float",
        "value": "",
        "name": "Water flow set",
        "x": 960,
        "y": 720,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "a27d53afc9220b7e",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Water flow set",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 540,
        "y": 720,
        "wires": [
            [
                "a4318766a8d6469e"
            ]
        ]
    },
    {
        "id": "7b7b5ee57c8e8f36",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "300",
        "payloadType": "num",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "a27d53afc9220b7e"
            ]
        ]
    },
    {
        "id": "0f011a4158962d7b",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "L/h",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 760,
        "wires": []
    },
    {
        "id": "5dbb6adf96ab84e8",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.water_control_disable",
        "datatype": "Boolean",
        "value": "",
        "name": "Water control active",
        "x": 970,
        "y": 440,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "61e6ecf23cf438a6",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_valve",
        "datatype": "Float",
        "value": "",
        "name": "Water valve",
        "x": 950,
        "y": 820,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "5c2843c731ddb6a4",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "c39d029ea544857d"
            ]
        ]
    },
    {
        "id": "c39d029ea544857d",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Water control active",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "b5f967a8e21743b3"
            ]
        ]
    },
    {
        "id": "b5f967a8e21743b3",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "msg.payload = msg.payload == true ? false: true\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 440,
        "wires": [
            [
                "5dbb6adf96ab84e8"
            ]
        ]
    },
    {
        "id": "41b7df3f379c8e04",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Water valve set",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 540,
        "y": 820,
        "wires": [
            [
                "9d722eb74dd2ace7"
            ]
        ]
    },
    {
        "id": "148d9b617ac23dd5",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 250,
        "y": 820,
        "wires": [
            [
                "41b7df3f379c8e04"
            ]
        ]
    },
    {
        "id": "728126fb1fa44d3a",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "%",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "9d722eb74dd2ace7",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "if (msg.payload<0) { msg.payload = 0 }\nelse if (msg.payload > 100) { msg.payload = 100 }\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 820,
        "wires": [
            [
                "61e6ecf23cf438a6"
            ]
        ]
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "2159e8a83bb50b67",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4809d57f0b02fac6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4809d57f0b02fac6",
        "type": "ui_tab",
        "name": "M-tec duomix",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]