src/flows/mtec_read_values.json
[
    {
        "id": "dbcff3a91e8577ef",
        "type": "tab",
        "label": "M-tec: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1b0fd273f6291ec",
        "type": "group",
        "z": "dbcff3a91e8577ef",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "27c0a078d32b4020",
            "05878a847fda9dcc",
            "33e34773cd4f118c",
            "6110be169bf9c231",
            "bfcadbcafdb5c441",
            "40e82c2e711e92ca"
        ],
        "x": 3254,
        "y": 159,
        "w": 552,
        "h": 242
    },
    {
        "id": "769cbc7c61ddfd9b",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "mtec mixer on/off out",
        "mode": "link",
        "links": [
            "3f1241c96c7c2565"
        ],
        "x": 3125,
        "y": 280,
        "wires": []
    },
    {
        "id": "b1434d258f8ce170",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump speed set [RPM]",
        "format": "{{msg.payload.mtec_pump_speed_set.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 820,
        "wires": []
    },
    {
        "id": "b887054b7ea161b1",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "m-tec solenoid valve on/off out",
        "mode": "link",
        "links": [],
        "x": 3125,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e8952803b6095c0",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump speed actual [RPM]",
        "format": "{{msg.payload.mtec_pump_speed_actual.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 860,
        "wires": []
    },
    {
        "id": "e602cf549ebbceaf",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow set [L/h]",
        "format": "{{msg.payload.mtec_water_flow_set.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e91c0760589c18ca",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "m-tec values out",
        "mode": "link",
        "links": [
            "37b06e5fd23a6f0f"
        ],
        "x": 2745,
        "y": 420,
        "wires": []
    },
    {
        "id": "a91a6c79b5ac5310",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow actual [L/h]",
        "format": "{{msg.payload.mtec_water_flow_actual.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1180,
        "wires": []
    },
    {
        "id": "16f071019249cf26",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_temp",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_temp",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "d292f03990235419",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_flow",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_flow_actual",
        "x": 590,
        "y": 980,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "0374cf26b114ef0c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_pump_speed_actual",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a7638560c2d89e38",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.aut_waterpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_water_pump_run",
        "x": 580,
        "y": 900,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "61fcd226230758be",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_pump_speed_set",
        "x": 590,
        "y": 780,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "f8175c45ff4e1a5c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.aut_mixer",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_mixer_run",
        "x": 560,
        "y": 1220,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a106ea0c2e4dda58",
        "type": "OpcUa-Client",
        "z": "dbcff3a91e8577ef",
        "endpoint": "b02adcf7.368dd",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "a29e77a00dd04d8f"
            ],
            []
        ]
    },
    {
        "id": "d6ee9826cca15707",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "94534f76062cb5d5",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "16f071019249cf26",
                "d292f03990235419",
                "0374cf26b114ef0c",
                "a7638560c2d89e38",
                "61fcd226230758be",
                "f8175c45ff4e1a5c",
                "dc8fc56080d2f87c",
                "50f40bc46f70927a",
                "80e68bdda4f25658",
                "e21adca25ad22f06",
                "8e3469126a688da5",
                "e5498d6e3386d196",
                "4c028b371bc794ed",
                "6f9b29814d16c944",
                "bdd1dc54ac323468",
                "1d33125576d23474",
                "49facd224eafe7fa",
                "a6114c54b9f07989",
                "2f0e600e9b632c60",
                "b25de9b71f0b1941",
                "5340c143ddfba59a",
                "ff6fa77f5c595b4c",
                "2054311018c779d4",
                "8b71337df31a5ad4",
                "a6d1c80277ff4465",
                "b482ca2ed1c6906a",
                "e97015f4862882fa",
                "2874f39968d89729",
                "3d13abe0c3e2a8d2",
                "778a432575aac88f",
                "20d0485b63bb5b32",
                "f774149289f9a4c2",
                "b8a6dbbfbd158006",
                "9c9d275c6cc26d83",
                "e22547a65b0f746a",
                "fbcd22a3f8f9468f",
                "7ea687fa5d9eec4c",
                "b35c3d9e3ff1612b",
                "7f6a68bcd06ab0e5",
                "a32e2c71d6f95f0f"
            ]
        ]
    },
    {
        "id": "a29e77a00dd04d8f",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 480,
        "wires": [
            [
                "0df89d51288dc250",
                "8d642501b42ccb43"
            ]
        ]
    },
    {
        "id": "0df89d51288dc250",
        "type": "join",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "41",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2350,
        "y": 480,
        "wires": [
            [
                "01e2066577f2442d"
            ]
        ]
    },
    {
        "id": "01e2066577f2442d",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"mtec\"\n\n// Convert actual speed\nif (msg.payload.mtec_pump_speed_actual < 20000)\n{\n    msg.payload.mtec_pump_speed_actual = 0.0;\n}\nelse\n{\n    msg.payload.mtec_pump_speed_actual = ((msg.payload.mtec_pump_speed_actual - 26400) / (65535-26400)) * 65535\n    msg.payload.mtec_pump_speed_actual = ((msg.payload.mtec_pump_speed_actual / 65535)  * (50 - 20) + 20) * (195.6 / 50)   \n}\n\n// Convert analog inputs to mA and V\nmsg.payload.mtec_io_ai1 = msg.payload.mtec_io_ai1 / 10000;\nmsg.payload.mtec_io_ai2 = msg.payload.mtec_io_ai2 / 10000;\nmsg.payload.mtec_io_ai3 = msg.payload.mtec_io_ai3 / 10000;\nmsg.payload.mtec_io_ai4 = (msg.payload.mtec_io_ai4 < 0) ? 0.0 : (msg.payload.mtec_io_ai4 / 65536 * 16.0 + 4.0);\nmsg.payload.mtec_io_ai5 = (msg.payload.mtec_io_ai5 < 0) ? 0.0 : (msg.payload.mtec_io_ai5 / 65536 * 16.0 + 4.0);\n\n\n// Convert analog outputs to mA\nmsg.payload.mtec_io_ao1 = (msg.payload.mtec_io_ao1 < 0) ? 0.0 : (msg.payload.mtec_io_ao1 / 65536 * 16.0 + 4.0);\nmsg.payload.mtec_io_ao2 = (msg.payload.mtec_io_ao2 < 0) ? 0.0 : (msg.payload.mtec_io_ao2 / 65536 * 16.0 + 4.0);\n\n// Convert other values\nmsg.payload.mtec_pump_speed_set = ((msg.payload.mtec_pump_speed_set / 65535)  * (50 - 20) + 20) * (195.6 / 50)\nmsg.payload.mtec_reverse_running_active = msg.payload.mtec_reverse_running_active == 0 ? true : false\nmsg.payload.mtec_water_control_active = msg.payload.mtec_water_control_active == false ? true : false\nmsg.payload.mtec_state_remote = msg.payload.mtec_state_remote == true ? false : true\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 480,
        "wires": [
            [
                "d48d83300fdaf8b6",
                "1eb036811f810073",
                "e602cf549ebbceaf",
                "a91a6c79b5ac5310",
                "b1434d258f8ce170",
                "8e8952803b6095c0",
                "26bd1d864e363b68",
                "afd059a69b2f7b14",
                "e91c0760589c18ca",
                "7b3df1508d7a2684",
                "768bfa7a2b9ca840",
                "4e723fd1f7be201c",
                "7aab4b2397aa7e0c",
                "c332585bc6b295dc",
                "76727dc5d342981d",
                "0d040c79084a3216",
                "faa80eae45e851b4",
                "53a87be80ccc5783",
                "3cfdd58e63c59fe0",
                "4182f345843db061",
                "588dc036d6738e2c",
                "a3934b18a9312094",
                "ba3efd194421c7c4",
                "c55dcd9bf725df6a",
                "84cc4f2d4849a3f6",
                "4c6cd971faef1520",
                "7ac3059a4b20dcdc",
                "678a75060a340313",
                "e146e11dfde57d6a",
                "9b7841986a23f99d",
                "14d9f6266ba945a3",
                "5899253c10108054",
                "25d72bb521503699",
                "310361f30051c089",
                "10066f2e407a45e0",
                "c225bba12a553a58",
                "fdf29a36fa3330c5",
                "1073c477a867f152",
                "255cc4838db8c3f8",
                "3bb61fe45ca84fd9",
                "f5b5ca86bd8681b4",
                "1a37420c8871aabd",
                "b04fd7b8227aef16"
            ]
        ]
    },
    {
        "id": "c9c666ad37f84873",
        "type": "moment",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 2140,
        "y": 540,
        "wires": [
            [
                "0df89d51288dc250"
            ]
        ]
    },
    {
        "id": "8d642501b42ccb43",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Source time msg",
        "func": "if (msg.topic === \"mtec_ready_for_operation\") \n{ \n    return { topic: \"mtec_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 540,
        "wires": [
            [
                "c9c666ad37f84873"
            ]
        ]
    },
    {
        "id": "d48d83300fdaf8b6",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Pass data",
        "func": "return { topic: \"mtec_mixer_run\", payload: msg.payload.mtec_mixer_run};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 260,
        "wires": [
            [
                "769cbc7c61ddfd9b",
                "33e34773cd4f118c"
            ]
        ]
    },
    {
        "id": "1eb036811f810073",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Pass data",
        "func": "return { topic: \"mtec_water_solenoid_valve\", payload: msg.payload.mtec_water_solenoid_valve };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 220,
        "wires": [
            [
                "b887054b7ea161b1"
            ]
        ]
    },
    {
        "id": "26bd1d864e363b68",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer run [bool]",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3360,
        "y": 1380,
        "wires": []
    },
    {
        "id": "afd059a69b2f7b14",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water solenoid valve [bool]",
        "format": "{{msg.payload.mtec_water_solenoid_valve.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3400,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8db8e5f401f5c81d",
        "type": "link in",
        "z": "dbcff3a91e8577ef",
        "name": "readmultiple in",
        "links": [
            "398de18a215eb45c"
        ],
        "x": 495,
        "y": 320,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "27c0a078d32b4020",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last interval time [s]",
        "format": "{{msg.interval_time.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3660,
        "y": 280,
        "wires": []
    },
    {
        "id": "05878a847fda9dcc",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last run time [s]",
        "format": "{{msg.batch_time.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3640,
        "y": 240,
        "wires": []
    },
    {
        "id": "33e34773cd4f118c",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "name": "batch and interval time",
        "func": "if (msg.payload !== context.get('prev_mixer_run')) {\n   \n    context.set('prev_mixer_run', msg.payload);\n\t\n\ttime = new Date().getTime() / 1000;\n\tqueue = context.get('queue');\n\tprev_start = context.get('prev_mixer_start')\n\tprev_stop = context.get('prev_mixer_stop')\n\tprev_batch_time = context.get('batch_time');\n\tprev_interval_time = context.get('interval_time');\n\t\n\tif (msg.payload == false)\n\t{\n\t    batch_time = time - prev_start;\n\t\tcontext.set('prev_mixer_stop', time);\n\t\tcontext.set('batch_time', batch_time);\n\t\t\n\t\tmsg.batch_time = batch_time;\n\t\tmsg.interval_time = prev_interval_time;\n\t\tmsg.prediction = prev_batch_time / prev_interval_time * 1.0;\n\n\t\tlet sum = queue.reduce((acc, curr) => acc + curr, 0);\n\t\tmsg.mean = sum / queue.length;\n\t\t\n\t\treturn msg;\n\t}\n\telse\n\t{\n\t\tinterval_time = time - prev_start;\n\t    msg.batch_time = prev_batch_time;\n\t\tmsg.interval_time = interval_time;\n\t\tmsg.prediction = prev_batch_time / interval_time * 1.0;\n\t\t\n\t\tqueue.push(msg.prediction);\n\t\t\n\t\tif(queue.length > 8)\n\t\t{\n\t\t    queue.shift();\n\t\t}\n\t\t\n\t\tlet sum = queue.reduce((acc, curr) => acc + curr, 0);\n\t\tmsg.mean = sum / queue.length;\n\t\t\n\t\tcontext.set('queue', queue);\n\t\tcontext.set('interval_time', interval_time);\n\t\tcontext.set('prev_mixer_start', time);\n\t\treturn msg;\n\t}\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set('prev_mixer_run', false);\ncontext.set('prev_mixer_stop', new Date().getTime() / 1000);\ncontext.set('prev_mixer_start', new Date().getTime() / 1000);\ncontext.set('batch_time', 0.0);\ncontext.set('interval_time', 0.0);\ncontext.set('queue', []);",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 260,
        "wires": [
            [
                "05878a847fda9dcc",
                "27c0a078d32b4020",
                "6110be169bf9c231",
                "bfcadbcafdb5c441"
            ]
        ]
    },
    {
        "id": "6110be169bf9c231",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last ratio [-]",
        "format": "{{msg.prediction.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3630,
        "y": 320,
        "wires": []
    },
    {
        "id": "50f40bc46f70927a",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Ready_for_operation",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_ready_for_operation",
        "x": 590,
        "y": 460,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "80e68bdda4f25658",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_machine_on",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_state_machine_on",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e21adca25ad22f06",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Remote_start",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_remote_start",
        "x": 570,
        "y": 580,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "dc8fc56080d2f87c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_valve",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_valve_actual",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "4c028b371bc794ed",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.error",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_error",
        "x": 550,
        "y": 620,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "6f9b29814d16c944",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.error_no",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_error_number",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "8e3469126a688da5",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_water_flow",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_flow_set",
        "x": 580,
        "y": 1060,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e5498d6e3386d196",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_wetmaterialprobe",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_state_wet_material_probe",
        "x": 610,
        "y": 1260,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "bdd1dc54ac323468",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.delay_time_wet_material_probe_dynamically",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_delay_time_wet_material_probe_dynamically",
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "1d33125576d23474",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.delay_time_wet_material_probe_statically",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_delay_time_wet_material_probe_statically",
        "x": 660,
        "y": 1620,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "49facd224eafe7fa",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_water_pressure_ok",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_water_pressure_ok",
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a6114c54b9f07989",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.aut_solenoid_valve",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_water_solenoid_valve",
        "x": 600,
        "y": 860,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "7b3df1508d7a2684",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ready for operation [bool]",
        "format": "{{msg.payload.mtec_ready_for_operation.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 500,
        "wires": []
    },
    {
        "id": "768bfa7a2b9ca840",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State machine on [bool]",
        "format": "{{msg.payload.mtec_state_machine_on.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 540,
        "wires": []
    },
    {
        "id": "4e723fd1f7be201c",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Remote start [bool]",
        "format": "{{msg.payload.mtec_remote_start.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 620,
        "wires": []
    },
    {
        "id": "7aab4b2397aa7e0c",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Error [bool]",
        "format": "{{msg.payload.mtec_error.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 660,
        "wires": []
    },
    {
        "id": "c332585bc6b295dc",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Error number",
        "format": "{{msg.payload.mtec_error_number.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 700,
        "wires": []
    },
    {
        "id": "53a87be80ccc5783",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water temp [C]",
        "format": "{{msg.payload.mtec_water_temp.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3360,
        "y": 1260,
        "wires": []
    },
    {
        "id": "faa80eae45e851b4",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water valve actual [%]",
        "format": "{{msg.payload.mtec_water_valve_actual.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1220,
        "wires": []
    },
    {
        "id": "76727dc5d342981d",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water pump run [bool]",
        "format": "{{msg.payload.mtec_water_pump_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 980,
        "wires": []
    },
    {
        "id": "0d040c79084a3216",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water pressure ok [bool]",
        "format": "{{msg.payload.mtec_water_pressure_ok.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3cfdd58e63c59fe0",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State wet probe [bool]]",
        "format": "{{msg.payload.mtec_state_wet_material_probe.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1420,
        "wires": []
    },
    {
        "id": "63a9956d82b4132e",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mode:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 460,
        "wires": []
    },
    {
        "id": "832c975bc594aebb",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Pump:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 780,
        "wires": []
    },
    {
        "id": "c7e42fee27821b90",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Water dosing:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 940,
        "wires": []
    },
    {
        "id": "29c6f943a378e78b",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mixer:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 1340,
        "wires": []
    },
    {
        "id": "047f305375a44604",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Settings (on-site):",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1500,
        "wires": []
    },
    {
        "id": "ff6fa77f5c595b4c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.water_start_control",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_water_start_control",
        "x": 590,
        "y": 1380,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "5340c143ddfba59a",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.dry_run_protection",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_dry_run_protection",
        "x": 590,
        "y": 1340,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "2054311018c779d4",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.delay_dry_material_probe",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_dry_material_probe_delay",
        "x": 610,
        "y": 1420,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a6d1c80277ff4465",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.running_time_reverse",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_running_time_reverse",
        "x": 600,
        "y": 1500,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "2f0e600e9b632c60",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_loc_remote",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_state_remote",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "8b71337df31a5ad4",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_reverse_running",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_reverse_running_active",
        "x": 610,
        "y": 1460,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "b25de9b71f0b1941",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.water_control_disable",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_water_control_active",
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "4182f345843db061",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water control active [bool]",
        "format": "{{msg.payload.mtec_water_control_active.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c55dcd9bf725df6a",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Reverse running active [bool]",
        "format": "{{msg.payload.mtec_reverse_running_active.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3400,
        "y": 1660,
        "wires": []
    },
    {
        "id": "588dc036d6738e2c",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dry run protection [s]",
        "format": "{{msg.payload.mtec_dry_run_protection.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a3934b18a9312094",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water start control [s]",
        "format": "{{msg.payload.mtec_water_start_control.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ba3efd194421c7c4",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Dry material probe delay [s]",
        "format": "{{msg.payload.mtec_dry_material_probe_delay.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3400,
        "y": 1620,
        "wires": []
    },
    {
        "id": "84cc4f2d4849a3f6",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Delay time wet probe dynamically [s]",
        "format": "{{msg.payload.mtec_delay_time_wet_material_probe_dynamically.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3430,
        "y": 1780,
        "wires": []
    },
    {
        "id": "4c6cd971faef1520",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Delay time wet probe statically [s]",
        "format": "{{msg.payload.mtec_delay_time_wet_material_probe_statically.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3420,
        "y": 1820,
        "wires": []
    },
    {
        "id": "7ac3059a4b20dcdc",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Running time reverse [s]",
        "format": "{{msg.payload.mtec_running_time_reverse.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 1700,
        "wires": []
    },
    {
        "id": "678a75060a340313",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State remote [bool]",
        "format": "{{msg.payload.mtec_state_remote.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 580,
        "wires": []
    },
    {
        "id": "b482ca2ed1c6906a",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_delay_time_wet_material_probe",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_state_delay_time_wet_probe",
        "x": 620,
        "y": 1540,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e146e11dfde57d6a",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State delay time wet probe",
        "format": "{{msg.payload.mtec_state_delay_time_wet_probe.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3400,
        "y": 1740,
        "wires": []
    },
    {
        "id": "bfcadbcafdb5c441",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mean ratio last 8 cycles [-]",
        "format": "{{msg.mean.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3670,
        "y": 360,
        "wires": []
    },
    {
        "id": "40e82c2e711e92ca",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mixer:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3620,
        "y": 200,
        "wires": []
    },
    {
        "id": "e97015f4862882fa",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AI_1",
        "datatype": "Float",
        "value": "",
        "name": "mtec_io_ai1",
        "x": 550,
        "y": 1700,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "2874f39968d89729",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AI_2",
        "datatype": "Float",
        "value": "",
        "name": "mtec_io_ai2",
        "x": 550,
        "y": 1740,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "3d13abe0c3e2a8d2",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AI_3",
        "datatype": "Float",
        "value": "",
        "name": "mtec_io_ai3",
        "x": 550,
        "y": 1780,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "778a432575aac88f",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AI_4",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_io_ai4",
        "x": 550,
        "y": 1820,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "20d0485b63bb5b32",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AI_5",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_io_ai5",
        "x": 550,
        "y": 1860,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "f774149289f9a4c2",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AO_1",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_io_ao1",
        "x": 550,
        "y": 1920,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "b8a6dbbfbd158006",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AO_2",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_io_ao2",
        "x": 550,
        "y": 1960,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "9c9d275c6cc26d83",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DI_1",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_di1",
        "x": 550,
        "y": 2020,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e22547a65b0f746a",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DI_2",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_di2",
        "x": 550,
        "y": 2060,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "fbcd22a3f8f9468f",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DI_3",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_di3",
        "x": 550,
        "y": 2100,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "7ea687fa5d9eec4c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DI_4",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_di4",
        "x": 550,
        "y": 2140,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "b35c3d9e3ff1612b",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DI_5",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_di5",
        "x": 550,
        "y": 2180,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "7f6a68bcd06ab0e5",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DO_1",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_do1",
        "x": 550,
        "y": 2240,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a32e2c71d6f95f0f",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DO_2",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_io_do2",
        "x": 550,
        "y": 2280,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "48a7b184bd25cfce",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Analog inputs:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 1900,
        "wires": []
    },
    {
        "id": "2db4af68d4da573a",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Analog outputs:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 2180,
        "wires": []
    },
    {
        "id": "50d8bc492218049f",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Digital inputs:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 2340,
        "wires": []
    },
    {
        "id": "4ad31865fcc46aa8",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Digital outputs:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 2620,
        "wires": []
    },
    {
        "id": "9b7841986a23f99d",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI1 [V]",
        "format": "{{msg.payload.mtec_io_ai1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3330,
        "y": 1940,
        "wires": []
    },
    {
        "id": "14d9f6266ba945a3",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI2 [V]",
        "format": "{{msg.payload.mtec_io_ai2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3330,
        "y": 1980,
        "wires": []
    },
    {
        "id": "5899253c10108054",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI3 [V]",
        "format": "{{msg.payload.mtec_io_ai3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3330,
        "y": 2020,
        "wires": []
    },
    {
        "id": "25d72bb521503699",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI4 [mA]",
        "format": "{{msg.payload.mtec_io_ai4.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2060,
        "wires": []
    },
    {
        "id": "310361f30051c089",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI5 [mA]",
        "format": "{{msg.payload.mtec_io_ai5.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2100,
        "wires": []
    },
    {
        "id": "c225bba12a553a58",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AO2 [mA]",
        "format": "{{msg.payload.mtec_io_ao2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2260,
        "wires": []
    },
    {
        "id": "10066f2e407a45e0",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AO1 [mA]",
        "format": "{{msg.payload.mtec_io_ao1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2220,
        "wires": []
    },
    {
        "id": "fdf29a36fa3330c5",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI1 [bool]",
        "format": "{{msg.payload.mtec_io_di1.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2380,
        "wires": []
    },
    {
        "id": "1073c477a867f152",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI2 [bool]",
        "format": "{{msg.payload.mtec_io_di2.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2420,
        "wires": []
    },
    {
        "id": "3bb61fe45ca84fd9",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI3 [bool]",
        "format": "{{msg.payload.mtec_io_di3.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2460,
        "wires": []
    },
    {
        "id": "255cc4838db8c3f8",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI4 [bool]",
        "format": "{{msg.payload.mtec_io_di4.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2500,
        "wires": []
    },
    {
        "id": "f5b5ca86bd8681b4",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI5 [bool]",
        "format": "{{msg.payload.mtec_io_di5.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 2540,
        "wires": []
    },
    {
        "id": "1a37420c8871aabd",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DO1 [bool]",
        "format": "{{msg.payload.mtec_io_do1.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 2660,
        "wires": []
    },
    {
        "id": "b04fd7b8227aef16",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "7f5355f280f0fcec",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DO2 [bool]",
        "format": "{{msg.payload.mtec_io_do2.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 2700,
        "wires": []
    },
    {
        "id": "e8c93459e3f9c364",
        "type": "ui_group",
        "name": "Read values 1",
        "tab": "4809d57f0b02fac6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef446e96828d062e",
        "type": "ui_group",
        "name": "Read values 2",
        "tab": "4809d57f0b02fac6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "c78a245d5457d92a",
        "type": "ui_group",
        "name": "Analysis",
        "tab": "4809d57f0b02fac6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f5355f280f0fcec",
        "type": "ui_group",
        "name": "Read values 3",
        "tab": "4809d57f0b02fac6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4809d57f0b02fac6",
        "type": "ui_tab",
        "name": "M-tec duomix",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]