src/flows/mtec_write_values.json
[
    {
        "id": "09f74a936e34ed02",
        "type": "tab",
        "label": "M-tec: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed9fe8e0a4294cfa",
        "type": "trigger",
        "z": "09f74a936e34ed02",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "0b08100827d5f1c3"
            ]
        ]
    },
    {
        "id": "0b08100827d5f1c3",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Livebit2DuoMix",
        "datatype": "Boolean",
        "value": "",
        "name": "Livebit2Duomix",
        "x": 960,
        "y": 360,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "28934a46c30d4da5",
        "type": "OpcUa-Client",
        "z": "09f74a936e34ed02",
        "endpoint": "b02adcf7.368dd",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1340,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "52bed2e245433535",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "Communication status",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix;datatype=Boolean",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "ed9fe8e0a4294cfa"
            ]
        ]
    },
    {
        "id": "b8805f6fab92b756",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Pump speed",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "6ddb910815ccf34d"
            ]
        ]
    },
    {
        "id": "b62c4f4064b75c9c",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "Write pump velocity",
        "x": 970,
        "y": 620,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "eb1bd0f2fca4d807",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Remote_start",
        "datatype": "Boolean",
        "value": "",
        "name": "Remote start",
        "x": 950,
        "y": 400,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "531f6c94260ac779",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Enable/disable",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "eb1bd0f2fca4d807"
            ]
        ]
    },
    {
        "id": "921831315afc8cd9",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "rpm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "6ddb910815ccf34d",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "// Convert to frequency in Hz\nmsg.payload = msg.payload / 195.6 * 50;\n\n// Convert to signal\nmsg.payload = (msg.payload - 20) / (50 - 20) * 65535;\n\n// Bounds\nif (msg.payload<0) { msg.payload = 0 }\nelse if (msg.payload > 65535) { msg.payload = 65535 }\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "b62c4f4064b75c9c"
            ]
        ]
    },
    {
        "id": "4945a8b5df711968",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "531f6c94260ac779"
            ]
        ]
    },
    {
        "id": "65884eac94a8b64a",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "b8805f6fab92b756"
            ]
        ]
    },
    {
        "id": "a4318766a8d6469e",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_water_flow",
        "datatype": "Float",
        "value": "",
        "name": "Water flow set",
        "x": 960,
        "y": 720,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "a27d53afc9220b7e",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Water flow set",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 540,
        "y": 720,
        "wires": [
            [
                "a4318766a8d6469e"
            ]
        ]
    },
    {
        "id": "7b7b5ee57c8e8f36",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "300",
        "payloadType": "num",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "a27d53afc9220b7e"
            ]
        ]
    },
    {
        "id": "0f011a4158962d7b",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "L/h",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 760,
        "wires": []
    },
    {
        "id": "5dbb6adf96ab84e8",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.water_control_disable",
        "datatype": "Boolean",
        "value": "",
        "name": "Water control active",
        "x": 970,
        "y": 440,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "61e6ecf23cf438a6",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_valve",
        "datatype": "Float",
        "value": "",
        "name": "Water valve",
        "x": 950,
        "y": 820,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "5c2843c731ddb6a4",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "c39d029ea544857d"
            ]
        ]
    },
    {
        "id": "c39d029ea544857d",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Water control active",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "b5f967a8e21743b3"
            ]
        ]
    },
    {
        "id": "b5f967a8e21743b3",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "msg.payload = msg.payload == true ? false: true\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 440,
        "wires": [
            [
                "5dbb6adf96ab84e8"
            ]
        ]
    },
    {
        "id": "41b7df3f379c8e04",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Water valve set",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 540,
        "y": 820,
        "wires": [
            [
                "9d722eb74dd2ace7"
            ]
        ]
    },
    {
        "id": "148d9b617ac23dd5",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 250,
        "y": 820,
        "wires": [
            [
                "41b7df3f379c8e04"
            ]
        ]
    },
    {
        "id": "728126fb1fa44d3a",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "%",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "9d722eb74dd2ace7",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "if (msg.payload<0) { msg.payload = 0 }\nelse if (msg.payload > 100) { msg.payload = 100 }\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 820,
        "wires": [
            [
                "61e6ecf23cf438a6"
            ]
        ]
    },
    {
        "id": "321c1ae4815eba96",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DO_1",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO1",
        "x": 950,
        "y": 1000,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "a355e5cdb121f994",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Write DO1 [bool]",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "321c1ae4815eba96"
            ]
        ]
    },
    {
        "id": "2fd8e81cca5d5677",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_DO_2",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO2",
        "x": 950,
        "y": 1040,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "aee4b1f6a002a4c5",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Write DO2 [bool]",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 1040,
        "wires": [
            [
                "2fd8e81cca5d5677"
            ]
        ]
    },
    {
        "id": "39af4c410ce3833d",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AO_1",
        "datatype": "UInt16",
        "value": "msg.topic",
        "name": "Write AO1",
        "x": 950,
        "y": 1160,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "f40e26e904a4e547",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.reserve_AO_2",
        "datatype": "UInt16",
        "value": "msg.topic",
        "name": "Write AO2",
        "x": 950,
        "y": 1200,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "2436bfcdb188dab7",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "a355e5cdb121f994",
                "aee4b1f6a002a4c5"
            ]
        ]
    },
    {
        "id": "5ba3f6d516def8b4",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "f47f7ecf23d3b2c1",
                "dcd8bbed27794a19"
            ]
        ]
    },
    {
        "id": "f47f7ecf23d3b2c1",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Write AO1",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 14,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "d757c20886e501bf"
            ]
        ]
    },
    {
        "id": "b8ad5deeb8ec5bbc",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 15,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "mA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d757c20886e501bf",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\n\n// Convert\nmsg.payload = (msg.payload - 4) / 16 * 65536\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1160,
        "wires": [
            [
                "39af4c410ce3833d"
            ]
        ]
    },
    {
        "id": "dcd8bbed27794a19",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Write AO2",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "0f25ee033779cc2f"
            ]
        ]
    },
    {
        "id": "0f25ee033779cc2f",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\n\n// Convert\nmsg.payload = (msg.payload - 4) / 16 * 65536\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1200,
        "wires": [
            [
                "f40e26e904a4e547"
            ]
        ]
    },
    {
        "id": "733c93ec0425f27e",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 17,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "mA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 510,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4057e402051d947a",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "2766a474835c38ac",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "f06ff8b981fa1a1b",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "2766a474835c38ac",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "1bf06b8ae9d85fe0",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "d1a386c4c9384cfa",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "56aa30d919d0e0d5",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "3a626ba4387d9ca9",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "8a339496ca145acd",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "7418413594bc478c",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "8a339496ca145acd",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "0b65ed3bf3a1398b",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "2159e8a83bb50b67",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "ce86a5d69fa650cc",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "2159e8a83bb50b67",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "4c476ec949199391",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "2159e8a83bb50b67",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "72f5bbcf8b703716",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "1e55789a11354935",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "ce380dadb8b72ddd",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "6ac782dcf866e951",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "a3b262c7055ea5ac",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "427b3fa337244f48",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "7f5355f280f0fcec",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "e48a678ee5eabe26",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "7f5355f280f0fcec",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "6a5d9f681d75ce25",
        "type": "ui_spacer",
        "z": "09f74a936e34ed02",
        "name": "spacer",
        "group": "7f5355f280f0fcec",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "2159e8a83bb50b67",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4809d57f0b02fac6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2766a474835c38ac",
        "type": "ui_group",
        "name": "Write values",
        "tab": "afc4f775962a26f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6b1019bb3a082ac",
        "type": "ui_group",
        "name": "Read values part 1",
        "tab": "afc4f775962a26f4",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a339496ca145acd",
        "type": "ui_group",
        "name": "Read values part 2",
        "tab": "afc4f775962a26f4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8c93459e3f9c364",
        "type": "ui_group",
        "name": "Read values 1",
        "tab": "4809d57f0b02fac6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef446e96828d062e",
        "type": "ui_group",
        "name": "Read values 2",
        "tab": "4809d57f0b02fac6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f5355f280f0fcec",
        "type": "ui_group",
        "name": "Read values 3",
        "tab": "4809d57f0b02fac6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4809d57f0b02fac6",
        "type": "ui_tab",
        "name": "M-tec duomix",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afc4f775962a26f4",
        "type": "ui_tab",
        "name": "MAI MULTIMIX",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]