src/flows/mtec_read_values.json
[
    {
        "id": "a666a495869d02dc",
        "type": "tab",
        "label": "MAI: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4eab8620562f9ee0",
        "type": "group",
        "z": "a666a495869d02dc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4319d41a1a67ad63",
            "0997b159162f0f7f",
            "82cc9bec6be9e471",
            "8e5e4c81dcfc602f",
            "ca8c0cdbee4b1d6f",
            "7af4fd1a77dd7e9d",
            "c67ed4e4a6a615c9",
            "df5349d8f279daec",
            "b62d9be9758416dc",
            "b35e1ce244bc406a",
            "f786fdff43a57302",
            "5c0e67fd6839e92a",
            "1cd2ced26058a244",
            "bc4ee76add8323ac",
            "dc55eb434ac8abd8",
            "311dd95f6cde5038"
        ],
        "x": 3554,
        "y": 59,
        "w": 812,
        "h": 562
    },
    {
        "id": "3356952b8840e119",
        "type": "group",
        "z": "a666a495869d02dc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cb428a8c3e870c9c",
            "7e627caa5394e967",
            "b331cd3af3ec315b"
        ],
        "x": 474,
        "y": 1559,
        "w": 392,
        "h": 162
    },
    {
        "id": "66d909b768b75bf9",
        "type": "OpcUa-Client",
        "z": "a666a495869d02dc",
        "endpoint": "b6399b95df174ec3",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1060,
        "y": 440,
        "wires": [
            [
                "6b73c70260272027"
            ],
            []
        ]
    },
    {
        "id": "3dc7498753488f78",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water run [bool]",
        "format": "{{msg.payload.mai_water_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 640,
        "wires": []
    },
    {
        "id": "1adcedb975466d9a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Water:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3150,
        "y": 600,
        "wires": []
    },
    {
        "id": "53f4d54fd9b46f38",
        "type": "link out",
        "z": "a666a495869d02dc",
        "name": "MAI values out",
        "mode": "link",
        "links": [
            "22307808c33194d2",
            "9fdd6ad8a540a86e",
            "e0fca171a7e70f43"
        ],
        "x": 2655,
        "y": 360,
        "wires": []
    },
    {
        "id": "9c8d514deea8a13a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water temp at tank outlet [C]",
        "format": "{{msg.payload.mai_water_temp.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3200,
        "y": 680,
        "wires": []
    },
    {
        "id": "16e93b510d1ceae8",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow set [L/h]",
        "format": "{{msg.payload.mai_water_flow_set}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 760,
        "wires": []
    },
    {
        "id": "5c8b4a87713eb047",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow actual [L/h]",
        "format": "{{msg.payload.mai_water_flow_actual.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3180,
        "y": 800,
        "wires": []
    },
    {
        "id": "1d25fa3204aedcd5",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mixer:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3140,
        "y": 960,
        "wires": []
    },
    {
        "id": "33b60d6bbc148665",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Pump:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "869328027dd97133",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Settings:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3150,
        "y": 1460,
        "wires": []
    },
    {
        "id": "682a05f8fdacec18",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer run [bool]",
        "format": "{{msg.payload.mai_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0e3452e0bd4f7e0e",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump run [bool]",
        "format": "{{msg.payload.mai_pump_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b0bad80640665d85",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump output current [dA]",
        "format": "{{msg.payload.mai_pump_output_current}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1240,
        "wires": []
    },
    {
        "id": "4f424f3ad1151b8a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump output power [W]",
        "format": "{{msg.payload.mai_pump_output_power}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d8bbdb32c87c24ec",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump vibration mode [int]",
        "format": "{{msg.payload.mai_pump_vibration_mode}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b4e15bbde3c866e0",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Wetprobe cov. delay [s]",
        "format": "{{msg.payload.mai_setting_wetprobe_covered_delay}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ba1801e80eedb056",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Wetprobe uncov. delay [s]",
        "format": "{{msg.payload.mai_setting_wetprobe_uncovered_delay}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1620,
        "wires": []
    },
    {
        "id": "777abdc20ae1bdf2",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mode:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3140,
        "y": 400,
        "wires": []
    },
    {
        "id": "8906b7128efbc760",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Master on [bool]",
        "format": "{{msg.payload.mai_master_on.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 440,
        "wires": []
    },
    {
        "id": "b170dc5d16bd4c3d",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Auto on [bool]",
        "format": "{{msg.payload.mai_auto_on.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 480,
        "wires": []
    },
    {
        "id": "7ae1755bef9847a7",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Waterpump reference freq. [cHz]",
        "format": "{{msg.payload.mai_waterpump_ref_freq}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3210,
        "y": 840,
        "wires": []
    },
    {
        "id": "2719dee7cde1370a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Waterpump output freq. [cHz]",
        "format": "{{msg.payload.mai_waterpump_output_freq}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3200,
        "y": 880,
        "wires": []
    },
    {
        "id": "4736f8f386bdf861",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Active errors [bool]",
        "format": "{{msg.payload.mai_active_errors.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 520,
        "wires": []
    },
    {
        "id": "e2cb7d1f5ad076d2",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water pre-run [s]",
        "format": "{{msg.payload.mai_setting_water_pre_run.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 1500,
        "wires": []
    },
    {
        "id": "bdbd59c9a6c78304",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer post-run [s]",
        "format": "{{msg.payload.mai_setting_mixer_post_run.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f88a0c1f1f5aee9d",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump speed [cHz]",
        "format": "{{msg.payload.mai_pump_speed}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 1200,
        "wires": []
    },
    {
        "id": "be012f0e695f1618",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Auto_On",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_auto_on",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "ca2c531f2ceab8ad",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Master_On",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_master_on",
        "x": 580,
        "y": 440,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "ab5d831afe06d8e2",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Error_Any_Active",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_active_errors",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "fdb1ce6f623987ae",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Water_Run",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_water_run",
        "x": 580,
        "y": 600,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "b454b4872f4af5ac",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPTX_DI_Water_Temperature_C_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_water_temp",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "fe39c41e83338fb2",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Water_Flowrate_Set_lh_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_water_flow_set",
        "x": 600,
        "y": 720,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "2490caecd73e2aaa",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Waterflowrate_current_Lh_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_water_flow_actual",
        "x": 600,
        "y": 760,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "9ec2dc903f908eb8",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPYMB_Waterpump_FrequencyRef_cHz_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_waterpump_ref_freq",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "abb868529685668b",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPXMB_Waterpump_OutputFrequency_cHz_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_waterpump_output_freq",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "4361d8f9b8ca64e5",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Mixer_Run",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_mixer_run",
        "x": 580,
        "y": 920,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "9c26e9ce239ca49e",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Pump_Run",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_pump_run",
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "39ca9f5b6973a7a0",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_EXT_Pump_Speed_cHz_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_speed",
        "x": 590,
        "y": 1040,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "520b305f8cd81dc5",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPXMB_Pump_OutputCurrent_dA_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_output_current",
        "x": 610,
        "y": 1080,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "b8e77ed5edc2958a",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPXMB_Pump_OutputPower_W_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_output_power",
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "63f64cfd91140e8e",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Pump_Vib_Mode_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_vibration_mode",
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "6d5a6f100cdc5c09",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Water_Before_Mixer_s_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_setting_water_pre_run",
        "x": 620,
        "y": 1340,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "a6ec3968bc39b853",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Mixer_After_Water_s_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_setting_mixer_post_run",
        "x": 620,
        "y": 1380,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "3072d6f4198eb3c9",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Wetprobe_Upper_Cov_Delay_s_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_setting_wetprobe_covered_delay",
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "c43462b24d427311",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Wetprobe_Upper_NCov_Delay_s_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_setting_wetprobe_uncovered_delay",
        "x": 660,
        "y": 1460,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "6cfd87fecacd594f",
        "type": "link out",
        "z": "a666a495869d02dc",
        "name": "MAI water run out",
        "mode": "link",
        "links": [
            "64c1d263736002a8",
            "1127d91bf6d47d3e"
        ],
        "x": 3355,
        "y": 340,
        "wires": []
    },
    {
        "id": "ab1903982b26b091",
        "type": "inject",
        "z": "a666a495869d02dc",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "22a781bf0996920d",
        "type": "inject",
        "z": "a666a495869d02dc",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "ca2c531f2ceab8ad",
                "be012f0e695f1618",
                "ab5d831afe06d8e2",
                "fdb1ce6f623987ae",
                "b454b4872f4af5ac",
                "fe39c41e83338fb2",
                "2490caecd73e2aaa",
                "9ec2dc903f908eb8",
                "abb868529685668b",
                "4361d8f9b8ca64e5",
                "9c26e9ce239ca49e",
                "39ca9f5b6973a7a0",
                "520b305f8cd81dc5",
                "b8e77ed5edc2958a",
                "63f64cfd91140e8e",
                "6d5a6f100cdc5c09",
                "a6ec3968bc39b853",
                "3072d6f4198eb3c9",
                "c43462b24d427311",
                "b29dcf854aec6d6b",
                "b695905e2bf1ac24",
                "289bf8e135a1b4ba",
                "cb428a8c3e870c9c",
                "7e627caa5394e967"
            ]
        ]
    },
    {
        "id": "6b73c70260272027",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "a8f3a9aa9c6ba75f",
                "ebf9b1f70668ceae"
            ]
        ]
    },
    {
        "id": "a8f3a9aa9c6ba75f",
        "type": "join",
        "z": "a666a495869d02dc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "25",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2190,
        "y": 440,
        "wires": [
            [
                "3b89b3da03ce0aa6"
            ]
        ]
    },
    {
        "id": "3b89b3da03ce0aa6",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"mai\"\n\n// Convert inputs of air temperature and relative humidity\nmsg.payload.mai_silo_dry_mortar_temperature = (msg.payload.mai_silo_dry_mortar_temperature+30)/(80+30) * (100 + 0) - 0;\nmsg.payload.mai_pumping_chamber_mortar_temperature = (msg.payload.mai_pumping_chamber_mortar_temperature-5)/(95-5) * (150 + 50) - 50;\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 440,
        "wires": [
            [
                "8906b7128efbc760",
                "b170dc5d16bd4c3d",
                "4736f8f386bdf861",
                "3dc7498753488f78",
                "9c8d514deea8a13a",
                "16e93b510d1ceae8",
                "5c8b4a87713eb047",
                "7ae1755bef9847a7",
                "2719dee7cde1370a",
                "682a05f8fdacec18",
                "0e3452e0bd4f7e0e",
                "f88a0c1f1f5aee9d",
                "b0bad80640665d85",
                "4f424f3ad1151b8a",
                "d8bbdb32c87c24ec",
                "e2cb7d1f5ad076d2",
                "bdbd59c9a6c78304",
                "b4e15bbde3c866e0",
                "ba1801e80eedb056",
                "ec091ddeabb74d0f",
                "53f4d54fd9b46f38",
                "fdcc416f6ebfc11a",
                "2ed794dacb1abebd",
                "04bd0349df5ea577",
                "85a618dac1813727",
                "11cc957338b937d4"
            ]
        ]
    },
    {
        "id": "f8dafc61c42ea3c5",
        "type": "moment",
        "z": "a666a495869d02dc",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 1980,
        "y": 500,
        "wires": [
            [
                "a8f3a9aa9c6ba75f"
            ]
        ]
    },
    {
        "id": "ebf9b1f70668ceae",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Source time msg",
        "func": "if (msg.topic === \"mai_master_on\") \n{ \n    return { topic: \"mai_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 500,
        "wires": [
            [
                "f8dafc61c42ea3c5"
            ]
        ]
    },
    {
        "id": "ec091ddeabb74d0f",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Pass data mixer run",
        "func": "return { topic: \"mai_mixer_run\", payload: msg.payload.mai_mixer_run};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3180,
        "y": 300,
        "wires": [
            [
                "6cfd87fecacd594f",
                "4319d41a1a67ad63"
            ]
        ]
    },
    {
        "id": "e2dc84019a9a29b3",
        "type": "link in",
        "z": "a666a495869d02dc",
        "name": "readmultiple in",
        "links": [
            "862c74438627d0e4",
            "398de18a215eb45c"
        ],
        "x": 515,
        "y": 320,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "4319d41a1a67ad63",
        "type": "function",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "name": "batch and interval time",
        "func": "if (msg.payload !== context.get('prev_mixer_run')) {\n   \n    context.set('prev_mixer_run', msg.payload);\n\t\n\ttime = new Date().getTime() / 1000;\n\tprev_start = context.get('prev_mixer_start')\n\tprev_stop = context.get('prev_mixer_stop')\n\tprev_batch_time = context.get('batch_time');\n\tprev_interval_time = context.get('interval_time');\n\t\n\tif (msg.payload == false)\n\t{\n\t    batch_time = time - prev_start;\n\t\tcontext.set('prev_mixer_stop', time);\n\t\tcontext.set('batch_time', batch_time);\n\t}\n\telse\n\t{\n\t\tinterval_time = time - prev_start;\n\t    msg.batch_time = prev_batch_time;\n\t\tmsg.interval_time = interval_time;\n\t\tmsg.prediction = prev_batch_time / interval_time * 1.0;\n\t\t\n\t\tqueue = context.get('queue');\n\t\tqueue.push(msg.prediction);\n\t\tif(queue.length > 10)\n\t\t{\n\t\t    queue.shift();\n\t\t}\n\t\t\n\t\tlet sum = queue.reduce((acc, curr) => acc + curr, 0);\n\t\tmsg.mean = sum / queue.length;\n\t\t\n\t\tcontext.set('queue', queue);\n\t\tcontext.set('interval_time', interval_time);\n\t\tcontext.set('prev_mixer_start', time);\n\t\treturn msg;\n\t}\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set('prev_mixer_run', false);\ncontext.set('prev_mixer_stop', new Date().getTime() / 1000);\ncontext.set('prev_mixer_start', new Date().getTime() / 1000);\ncontext.set('batch_time', 0.0);\ncontext.set('interval_time', 0.0);\ncontext.set('queue', []);",
        "finalize": "",
        "libs": [],
        "x": 3680,
        "y": 300,
        "wires": [
            [
                "0997b159162f0f7f",
                "82cc9bec6be9e471",
                "8e5e4c81dcfc602f",
                "b35e1ce244bc406a",
                "c67ed4e4a6a615c9",
                "1cd2ced26058a244",
                "dc55eb434ac8abd8"
            ]
        ]
    },
    {
        "id": "0997b159162f0f7f",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "group": "4cd24b522de8febf",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last run time [s]",
        "format": "{{msg.batch_time.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 4180,
        "y": 140,
        "wires": []
    },
    {
        "id": "82cc9bec6be9e471",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "group": "4cd24b522de8febf",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last interval time [s]",
        "format": "{{msg.interval_time.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 4200,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e5e4c81dcfc602f",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "group": "4cd24b522de8febf",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last ratio [-]",
        "format": "{{msg.prediction.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 4170,
        "y": 220,
        "wires": []
    },
    {
        "id": "ca8c0cdbee4b1d6f",
        "type": "ui_chart",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "",
        "group": "66c90c1b5490c19b",
        "order": 2,
        "width": 27,
        "height": 6,
        "label": "Interval tme [s]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 4180,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7af4fd1a77dd7e9d",
        "type": "ui_button",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "Clear chart",
        "group": "66c90c1b5490c19b",
        "order": 1,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear interval time chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3950,
        "y": 440,
        "wires": [
            [
                "ca8c0cdbee4b1d6f"
            ]
        ]
    },
    {
        "id": "c67ed4e4a6a615c9",
        "type": "function",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "Get graph data",
        "func": "return { topic: \"Interval time\", payload: msg.interval_time };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3960,
        "y": 480,
        "wires": [
            [
                "ca8c0cdbee4b1d6f"
            ]
        ]
    },
    {
        "id": "df5349d8f279daec",
        "type": "ui_chart",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "",
        "group": "66c90c1b5490c19b",
        "order": 5,
        "width": 27,
        "height": 6,
        "label": "Batch time [s]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 4180,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b62d9be9758416dc",
        "type": "ui_button",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "Clear chart",
        "group": "66c90c1b5490c19b",
        "order": 4,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear batch time chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3950,
        "y": 340,
        "wires": [
            [
                "df5349d8f279daec"
            ]
        ]
    },
    {
        "id": "b35e1ce244bc406a",
        "type": "function",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "Get graph data",
        "func": "return { topic: \"Batch time\", payload: msg.batch_time };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3960,
        "y": 380,
        "wires": [
            [
                "df5349d8f279daec"
            ]
        ]
    },
    {
        "id": "f786fdff43a57302",
        "type": "ui_chart",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "",
        "group": "66c90c1b5490c19b",
        "order": 8,
        "width": 27,
        "height": 6,
        "label": "Mass flow prediction [kg/min]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "12",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 4220,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5c0e67fd6839e92a",
        "type": "ui_button",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "Clear chart",
        "group": "66c90c1b5490c19b",
        "order": 7,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear mass flow prediction chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3950,
        "y": 540,
        "wires": [
            [
                "f786fdff43a57302"
            ]
        ]
    },
    {
        "id": "1cd2ced26058a244",
        "type": "function",
        "z": "a666a495869d02dc",
        "d": true,
        "g": "4eab8620562f9ee0",
        "name": "Get graph data",
        "func": "return { topic: \"Mass flow prediction\", payload: msg.prediction };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3960,
        "y": 580,
        "wires": [
            [
                "f786fdff43a57302"
            ]
        ]
    },
    {
        "id": "bc4ee76add8323ac",
        "type": "comment",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "name": "Analysis of batch and interval time",
        "info": "",
        "x": 3720,
        "y": 140,
        "wires": []
    },
    {
        "id": "b29dcf854aec6d6b",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Pump_Auto_Reverse_Run_Active",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_auto_reverse_run_active",
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "b695905e2bf1ac24",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Pump_Auto_Reverse_Run_Time_s_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_auto_reverse_run_time",
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "fdcc416f6ebfc11a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Auto reverse run active [bool]",
        "format": "{{msg.payload.mai_auto_reverse_run_active.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3200,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2ed794dacb1abebd",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Auto reverse run time [int]",
        "format": "{{msg.payload.mai_auto_reverse_run_time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1360,
        "wires": []
    },
    {
        "id": "289bf8e135a1b4ba",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPTX_DI_Mortar_Temperature_C_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_water_temp_mixer_inlet",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "04bd0349df5ea577",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water temp at mixer inlet [C]",
        "format": "{{msg.payload.mai_water_temp_mixer_inlet.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3200,
        "y": 720,
        "wires": []
    },
    {
        "id": "dc55eb434ac8abd8",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "group": "4cd24b522de8febf",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mean ratio last 10 cycles [-]",
        "format": "{{msg.mean.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 4220,
        "y": 260,
        "wires": []
    },
    {
        "id": "311dd95f6cde5038",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "g": "4eab8620562f9ee0",
        "group": "4cd24b522de8febf",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mixer:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 4160,
        "y": 100,
        "wires": []
    },
    {
        "id": "cb428a8c3e870c9c",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "g": "3356952b8840e119",
        "item": "ns=2;s=Tags.GECO/MPTX_DI_Air_Temperature_C_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_silo_dry_mortar_temperature",
        "x": 640,
        "y": 1640,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "7e627caa5394e967",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "g": "3356952b8840e119",
        "item": "ns=2;s=Tags.GECO/MPTX_DI_Air_Humidity_pct_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_pumping_chamber_mortar_temperature",
        "x": 670,
        "y": 1680,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "b331cd3af3ec315b",
        "type": "comment",
        "z": "a666a495869d02dc",
        "g": "3356952b8840e119",
        "name": "Air temp + RH input",
        "info": "The analog input for the air temperature is used for the dry mortar temperature.\n\nThe analog input for the relative humidity is used for the mortar temperature in the pumping chamber.",
        "x": 590,
        "y": 1600,
        "wires": []
    },
    {
        "id": "c7581d022d06e394",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mortar temperature:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1700,
        "wires": []
    },
    {
        "id": "85a618dac1813727",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Silo [C]",
        "format": "{{msg.payload.mai_silo_dry_mortar_temperature.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3140,
        "y": 1740,
        "wires": []
    },
    {
        "id": "11cc957338b937d4",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pumping chamber [C]",
        "format": "{{msg.payload.mai_pumping_chamber_mortar_temperature.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3180,
        "y": 1780,
        "wires": []
    },
    {
        "id": "79e648ecbceeae72",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "66c90c1b5490c19b",
        "order": 3,
        "width": 27,
        "height": 1
    },
    {
        "id": "4272d370576c3398",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "66c90c1b5490c19b",
        "order": 6,
        "width": 27,
        "height": 1
    },
    {
        "id": "37d79325daaee457",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "2766a474835c38ac",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "2296fd0f781ba345",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "2766a474835c38ac",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "e11530df86ebde84",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "22b1f3cac7bbda6d",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "c333d3f9434ae5c8",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "cc0ec8926a1c7c25",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "8a339496ca145acd",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "ed04074913ad0f8d",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "8a339496ca145acd",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "b6399b95df174ec3",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.80:48010",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "8a339496ca145acd",
        "type": "ui_group",
        "name": "Read values part 2",
        "tab": "afc4f775962a26f4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6b1019bb3a082ac",
        "type": "ui_group",
        "name": "Read values part 1",
        "tab": "afc4f775962a26f4",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4cd24b522de8febf",
        "type": "ui_group",
        "name": "Analysis",
        "tab": "afc4f775962a26f4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "66c90c1b5490c19b",
        "type": "ui_group",
        "name": "Charts",
        "tab": "a10aa1ec6d705579",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2766a474835c38ac",
        "type": "ui_group",
        "name": "Write values",
        "tab": "afc4f775962a26f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "afc4f775962a26f4",
        "type": "ui_tab",
        "name": "MAI MULTIMIX",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a10aa1ec6d705579",
        "type": "ui_tab",
        "name": "MAI MULTIMIX Charts",
        "icon": "dashboard",
        "order": 8,
        "disabled": true,
        "hidden": true
    }
]