src/flows/printhead_read_values.json
[
    {
        "id": "8bff11da7245afcc",
        "type": "tab",
        "label": "Printhead: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b595348495af9c44",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Read  values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 3550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1b1f09986f15e8a2",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Read values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 3550,
        "y": 1680,
        "wires": []
    },
    {
        "id": "42cb607a4f738dbc",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move backward [bool]",
        "format": "{{msg.payload.printhead_move_jog_backward_left.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3560,
        "y": 1280,
        "wires": []
    },
    {
        "id": "9dcd57ea95f77572",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move forward [bool]",
        "format": "{{msg.payload.printhead_move_jog_forward_left.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1320,
        "wires": []
    },
    {
        "id": "a8610a7821cca1be",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity setpoint [RPM]",
        "format": "{{msg.payload.printhead_velocity_jog_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3570,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ed44863ea7395da0",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 22,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual torque [Nm]",
        "format": "{{msg.payload.printhead_actual_torque_left.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c615159a6abb725f",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual velocity [RPM]",
        "format": "{{msg.payload.printhead_actual_velocity_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3560,
        "y": 1400,
        "wires": []
    },
    {
        "id": "da1c4b24cbe46529",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power on [bool]",
        "format": "{{msg.payload.printhead_power_on_left.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3540,
        "y": 1240,
        "wires": []
    },
    {
        "id": "1fe89b0c688a140e",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move backward [bool]",
        "format": "{{msg.payload.printhead_move_jog_backward_right.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3560,
        "y": 1760,
        "wires": []
    },
    {
        "id": "5c1bc09a04c578cc",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move forward [bool]",
        "format": "{{msg.payload.printhead_move_jog_forward_right.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1800,
        "wires": []
    },
    {
        "id": "9c17c8b25e2d08a8",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity setpoint [RPM]",
        "format": "{{msg.payload.printhead_velocity_jog_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3570,
        "y": 1840,
        "wires": []
    },
    {
        "id": "8569f20e2e808727",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 22,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual torque [Nm]",
        "format": "{{msg.payload.printhead_actual_torque_right.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 2000,
        "wires": []
    },
    {
        "id": "3963f8a32e15bf03",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual velocity [RPM]",
        "format": "{{msg.payload.printhead_actual_velocity_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3560,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e1c9a8bcc6753db5",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power on [bool]",
        "format": "{{msg.payload.printhead_power_on_right.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3540,
        "y": 1720,
        "wires": []
    },
    {
        "id": "4154a733f103d75e",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI0 [mA]",
        "format": "{{msg.payload.printhead_box1_ai0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 660,
        "wires": []
    },
    {
        "id": "c7292b30440c1fbe",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI1 [mA]",
        "format": "{{msg.payload.printhead_box1_ai1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 700,
        "wires": []
    },
    {
        "id": "4d9514ab19896609",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI2 [mA]",
        "format": "{{msg.payload.printhead_box1_ai2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 740,
        "wires": []
    },
    {
        "id": "e25a748627d7e854",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.payload.printhead_box1_ai3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 780,
        "wires": []
    },
    {
        "id": "422b294f604a3f81",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI4 [mA]",
        "format": "{{msg.payload.printhead_box1_ai4.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 820,
        "wires": []
    },
    {
        "id": "74798ddeedbae350",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI5 [mA]",
        "format": "{{msg.payload.printhead_box1_ai5.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 860,
        "wires": []
    },
    {
        "id": "e7359503d273eedd",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI6 [mA]",
        "format": "{{msg.payload.printhead_box1_ai6.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 900,
        "wires": []
    },
    {
        "id": "ff558cda1f5ff895",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI7 [mA]",
        "format": "{{msg.payload.printhead_box1_ai7.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 940,
        "wires": []
    },
    {
        "id": "9dc78e0e620457c8",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "c3182a43b65d6f3f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI0 [mA]",
        "format": "{{msg.payload.printhead_box2_ai0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 1000,
        "wires": []
    },
    {
        "id": "6133ed9eeefe8ff6",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "c3182a43b65d6f3f",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI1 [mA]",
        "format": "{{msg.payload.printhead_box2_ai1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 1040,
        "wires": []
    },
    {
        "id": "07ae98f2205edac8",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "c3182a43b65d6f3f",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI2 [mA]",
        "format": "{{msg.payload.printhead_box2_ai2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f8ef3f64c3fd9dfd",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "c3182a43b65d6f3f",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.payload.printhead_box2_ai3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3520,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6f8707b3f82dbea0",
        "type": "function",
        "z": "8bff11da7245afcc",
        "name": "Get graph data",
        "func": "return { topic: \"AI0: WIKA Pressure sensor 0-10 bar\", payload: msg.payload.printhead_pressure };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 440,
        "wires": [
            [
                "37186ad3ec43f0b8"
            ]
        ]
    },
    {
        "id": "1088f83035f19bf3",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "751807419a0c11a8",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI0 0-10 bar [bar] ",
        "format": "{{msg.payload.printhead_pressure.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3580,
        "y": 480,
        "wires": []
    },
    {
        "id": "916e336329c32504",
        "type": "OpcUa-Client",
        "z": "8bff11da7245afcc",
        "endpoint": "3d6b24f6a6823956",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "0.1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "460f4519eff60374"
            ],
            []
        ]
    },
    {
        "id": "37186ad3ec43f0b8",
        "type": "ui_chart",
        "z": "8bff11da7245afcc",
        "name": "",
        "group": "53d83661cfcefa23",
        "order": 11,
        "width": 27,
        "height": 6,
        "label": "Pressure at printhead [bar]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8c4578a4729e028b",
        "type": "ui_button",
        "z": "8bff11da7245afcc",
        "name": "Clear chart",
        "group": "53d83661cfcefa23",
        "order": 10,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear pressure chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3290,
        "y": 400,
        "wires": [
            [
                "37186ad3ec43f0b8"
            ]
        ]
    },
    {
        "id": "579a2c32615d040a",
        "type": "link out",
        "z": "8bff11da7245afcc",
        "name": "Printhead values out",
        "mode": "link",
        "links": [
            "c6d9dba04fb03bb9",
            "c3940bec2a790a33",
            "d21f5b915ab9d47c"
        ],
        "x": 2655,
        "y": 380,
        "wires": []
    },
    {
        "id": "d2f6e33452055df1",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "d5be84c8a2a9dbe3",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI0 0-10 bar [bar] ",
        "format": "{{msg.payload.printhead_pressure.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3580,
        "y": 580,
        "wires": []
    },
    {
        "id": "31185826d3906d85",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "d5be84c8a2a9dbe3",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Printhead:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 3540,
        "y": 540,
        "wires": []
    },
    {
        "id": "ca36a06ec5f24e9d",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI0\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai0",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "43990196b8882281",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI1\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai1",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "a3d4365cf810cbbe",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI2\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai2",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "4315ce64b8b8dfd5",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI3\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai3",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "218b15ddcb0336e2",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI4\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai4",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "c1d6768cd14962f0",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI5\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai5",
        "x": 630,
        "y": 640,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "7fc99f42a06ea5d5",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI6\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai6",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "f2ce34202aefce20",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box1_AI7\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai7",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "5ef359a549d1559f",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box2_AI0\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai0",
        "x": 630,
        "y": 780,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "f09aa61ff44811d7",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box2_AI1\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai1",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "db1f53f29099c41d",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box2_AI2\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai2",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "76a52064aabf1320",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Box2_AI3\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai3",
        "x": 630,
        "y": 900,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "7dd2e637782d68fa",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Power_On_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_power_on_left",
        "x": 650,
        "y": 960,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "a426abb8340b5080",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Move_Jog_Backward_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_backward_left",
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "438076177cf72f01",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Move_Jog_Forward_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_forward_left",
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "6afda705b695498d",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Velocity_Jog_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_velocity_jog_left",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "54906418c42a2561",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisLeft\".StatusTorqueData.ActualTorque",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_torque_left",
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "cbc4628933cd8cd4",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisLeft\".Velocity",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_velocity_left",
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "07ec7fcb730d413d",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Power_On_right\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_power_on_right",
        "x": 650,
        "y": 1380,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "51181e5b931040d7",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Move_Jog_Backward_right\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_backward_right",
        "x": 690,
        "y": 1420,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "0d0a758479b244d4",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Move_Jog_Forward_right\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_forward_right",
        "x": 680,
        "y": 1460,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "91472879afb3aa42",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Velocity_Jog_right\"",
        "datatype": "Double",
        "value": "",
        "name": "printhead_velocity_jog_right",
        "x": 660,
        "y": 1500,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "5d16c0ec7c73a488",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisRight\".StatusTorqueData.ActualTorque",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_torque_right",
        "x": 670,
        "y": 1660,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "75837f943edc8e2e",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisRight\".Velocity",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_velocity_right",
        "x": 670,
        "y": 1540,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "c11f84a31c3310da",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisLeft\".DynamicLimits.MaxAcceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_acceleration_left",
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "4d675b0211516e63",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisLeft\".DynamicLimits.MaxDeceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_deceleration_left",
        "x": 670,
        "y": 1320,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "9643806047e4c899",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisRight\".DynamicLimits.MaxAcceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_acceleration_right",
        "x": 680,
        "y": 1700,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "4b2927a2cd0488c9",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"SpeedAxisRight\".DynamicLimits.MaxDeceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_deceleration_right",
        "x": 680,
        "y": 1740,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "de43f7372a4cfd65",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 24,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max acceleration [m/s2]",
        "format": "{{msg.payload.printhead_max_acceleration_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3570,
        "y": 1560,
        "wires": []
    },
    {
        "id": "2d250c5d74eb1bd1",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 25,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max deceleration [m/s2]",
        "format": "{{msg.payload.printhead_max_deceleration_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3570,
        "y": 1600,
        "wires": []
    },
    {
        "id": "0394d76ad5b72375",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 24,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max acceleration [m/s2]",
        "format": "{{msg.payload.printhead_max_acceleration_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3570,
        "y": 2040,
        "wires": []
    },
    {
        "id": "9220077fb54367bc",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 25,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max deceleration [m/s2]",
        "format": "{{msg.payload.printhead_max_deceleration_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3570,
        "y": 2080,
        "wires": []
    },
    {
        "id": "00cf7888c58f2d8e",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_left_Power\"",
        "datatype": "Float",
        "value": "",
        "name": "printhead_actual_power_left",
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "fc8e4b7772087c9b",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_left_Current\"",
        "datatype": "Float",
        "value": "",
        "name": "printhead_actual_current_left",
        "x": 660,
        "y": 1200,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "855e8873888c7dfa",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_right_Power\"",
        "datatype": "Float",
        "value": "",
        "name": "printhead_actual_power_right",
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "7b0d4e0dd63a29cf",
        "type": "OpcUa-Item",
        "z": "8bff11da7245afcc",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_right_Current\"",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_current_right",
        "x": 670,
        "y": 1620,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "51651e441fb775fd",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual power [kW]",
        "format": "{{msg.payload.printhead_actual_power_left.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1440,
        "wires": []
    },
    {
        "id": "061c8015e106e831",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "6b810393774c59ed",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual current [A]",
        "format": "{{msg.payload.printhead_actual_current_left.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1480,
        "wires": []
    },
    {
        "id": "160c785d14a3a5e5",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual power [kW]",
        "format": "{{msg.payload.printhead_actual_power_right.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1920,
        "wires": []
    },
    {
        "id": "9f065b0317232d24",
        "type": "ui_text",
        "z": "8bff11da7245afcc",
        "group": "b9011e67f72d8da0",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual current [A]",
        "format": "{{msg.payload.printhead_actual_current_right.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3550,
        "y": 1960,
        "wires": []
    },
    {
        "id": "90485ffa8c19b8ee",
        "type": "throttle",
        "z": "8bff11da7245afcc",
        "name": "Pass every second",
        "throttleType": "time",
        "timeLimit": "1",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 3050,
        "y": 440,
        "wires": [
            [
                "6f8707b3f82dbea0"
            ]
        ]
    },
    {
        "id": "7a7de048cd5f079a",
        "type": "inject",
        "z": "8bff11da7245afcc",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "485afcf3f4733187",
        "type": "inject",
        "z": "8bff11da7245afcc",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "ca36a06ec5f24e9d",
                "43990196b8882281",
                "a3d4365cf810cbbe",
                "4315ce64b8b8dfd5",
                "218b15ddcb0336e2",
                "c1d6768cd14962f0",
                "7fc99f42a06ea5d5",
                "f2ce34202aefce20",
                "5ef359a549d1559f",
                "f09aa61ff44811d7",
                "db1f53f29099c41d",
                "76a52064aabf1320",
                "7dd2e637782d68fa",
                "a426abb8340b5080",
                "438076177cf72f01",
                "6afda705b695498d",
                "54906418c42a2561",
                "cbc4628933cd8cd4",
                "07ec7fcb730d413d",
                "51181e5b931040d7",
                "0d0a758479b244d4",
                "91472879afb3aa42",
                "5d16c0ec7c73a488",
                "75837f943edc8e2e",
                "c11f84a31c3310da",
                "4d675b0211516e63",
                "9643806047e4c899",
                "4b2927a2cd0488c9",
                "00cf7888c58f2d8e",
                "fc8e4b7772087c9b",
                "855e8873888c7dfa",
                "7b0d4e0dd63a29cf"
            ]
        ]
    },
    {
        "id": "460f4519eff60374",
        "type": "function",
        "z": "8bff11da7245afcc",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 440,
        "wires": [
            [
                "e85d06dc019cd7c7",
                "b4d8f493ab26c126"
            ]
        ]
    },
    {
        "id": "e85d06dc019cd7c7",
        "type": "join",
        "z": "8bff11da7245afcc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "33",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2230,
        "y": 440,
        "wires": [
            [
                "5b8d915070dc4fab"
            ]
        ]
    },
    {
        "id": "5b8d915070dc4fab",
        "type": "function",
        "z": "8bff11da7245afcc",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"printhead\"\n\n// Pressure\nmsg.payload.printhead_pressure = (msg.payload.printhead_box1_ai0 < 0) ? 0.0 : (msg.payload.printhead_box1_ai0 / 27648 * 10.0);\n\n// Convert analog inputs of box 1 to mA\nmsg.payload.printhead_box1_ai0 = (msg.payload.printhead_box1_ai0 < 0) ? 0.0 : (msg.payload.printhead_box1_ai0 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai1 = (msg.payload.printhead_box1_ai1 < 0) ? 0.0 : (msg.payload.printhead_box1_ai1 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai2 = (msg.payload.printhead_box1_ai2 < 0) ? 0.0 : (msg.payload.printhead_box1_ai2 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai3 = (msg.payload.printhead_box1_ai3 < 0) ? 0.0 : (msg.payload.printhead_box1_ai3 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai4 = (msg.payload.printhead_box1_ai4 < 0) ? 0.0 : (msg.payload.printhead_box1_ai4 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai5 = (msg.payload.printhead_box1_ai5 < 0) ? 0.0 : (msg.payload.printhead_box1_ai5 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai6 = (msg.payload.printhead_box1_ai6 < 0) ? 0.0 : (msg.payload.printhead_box1_ai6 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box1_ai7 = (msg.payload.printhead_box1_ai7 < 0) ? 0.0 : (msg.payload.printhead_box1_ai7 / 27648 * 16.0 + 4.0);\n\n// Convert analog inputs of box 2 to mA\nmsg.payload.printhead_box2_ai0 = (msg.payload.printhead_box2_ai0 < 0) ? 0.0 : (msg.payload.printhead_box2_ai0 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box2_ai1 = (msg.payload.printhead_box2_ai1 < 0) ? 0.0 : (msg.payload.printhead_box2_ai1 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box2_ai2 = (msg.payload.printhead_box2_ai2 < 0) ? 0.0 : (msg.payload.printhead_box2_ai2 / 27648 * 16.0 + 4.0);\nmsg.payload.printhead_box2_ai3 = (msg.payload.printhead_box2_ai3 < 0) ? 0.0 : (msg.payload.printhead_box2_ai3 / 27648 * 16.0 + 4.0);\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 440,
        "wires": [
            [
                "90485ffa8c19b8ee",
                "1088f83035f19bf3",
                "d2f6e33452055df1",
                "4154a733f103d75e",
                "c7292b30440c1fbe",
                "4d9514ab19896609",
                "e25a748627d7e854",
                "422b294f604a3f81",
                "74798ddeedbae350",
                "e7359503d273eedd",
                "ff558cda1f5ff895",
                "9dc78e0e620457c8",
                "6133ed9eeefe8ff6",
                "07ae98f2205edac8",
                "f8ef3f64c3fd9dfd",
                "da1c4b24cbe46529",
                "42cb607a4f738dbc",
                "9dcd57ea95f77572",
                "a8610a7821cca1be",
                "c615159a6abb725f",
                "51651e441fb775fd",
                "061c8015e106e831",
                "ed44863ea7395da0",
                "de43f7372a4cfd65",
                "2d250c5d74eb1bd1",
                "e1c9a8bcc6753db5",
                "1fe89b0c688a140e",
                "5c1bc09a04c578cc",
                "9c17c8b25e2d08a8",
                "3963f8a32e15bf03",
                "160c785d14a3a5e5",
                "9f065b0317232d24",
                "8569f20e2e808727",
                "0394d76ad5b72375",
                "9220077fb54367bc",
                "579a2c32615d040a"
            ]
        ]
    },
    {
        "id": "2cb1fbbf91189b39",
        "type": "moment",
        "z": "8bff11da7245afcc",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 2020,
        "y": 520,
        "wires": [
            [
                "e85d06dc019cd7c7"
            ]
        ]
    },
    {
        "id": "b4d8f493ab26c126",
        "type": "function",
        "z": "8bff11da7245afcc",
        "name": "Source time msg",
        "func": "if (msg.topic === \"printhead_box1_ai0\") \n{ \n    return { topic: \"printhead_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 520,
        "wires": [
            [
                "2cb1fbbf91189b39"
            ]
        ]
    },
    {
        "id": "3798fb5d7c20808b",
        "type": "link in",
        "z": "8bff11da7245afcc",
        "name": "readmultiple in",
        "links": [
            "862c74438627d0e4",
            "398de18a215eb45c"
        ],
        "x": 555,
        "y": 320,
        "wires": [
            [
                "916e336329c32504"
            ]
        ]
    },
    {
        "id": "6b810393774c59ed",
        "type": "ui_group",
        "name": "Motor 1 (left)",
        "tab": "6a728bddbd75b4dd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9011e67f72d8da0",
        "type": "ui_group",
        "name": "Motor 2 (right)",
        "tab": "6a728bddbd75b4dd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "751807419a0c11a8",
        "type": "ui_group",
        "name": "Wall box 1 (stationary)",
        "tab": "6a728bddbd75b4dd",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3182a43b65d6f3f",
        "type": "ui_group",
        "name": "Wall box 2 (rotating)",
        "tab": "6a728bddbd75b4dd",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d6b24f6a6823956",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.20:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "53d83661cfcefa23",
        "type": "ui_group",
        "name": "Data Graphs",
        "tab": "53571d4d81ebd061",
        "order": 2,
        "disp": true,
        "width": 27,
        "collapse": false
    },
    {
        "id": "d5be84c8a2a9dbe3",
        "type": "ui_group",
        "name": "Summary",
        "tab": "53571d4d81ebd061",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a728bddbd75b4dd",
        "type": "ui_tab",
        "name": "Smart printhead PLC",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53571d4d81ebd061",
        "type": "ui_tab",
        "name": "Data overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]