src/flows/project_frankenstein.json
[
    {
        "id": "ee47eb5696c14296",
        "type": "tab",
        "label": "Project Frankenstein",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2eb16ee9ae04a13",
        "type": "group",
        "z": "ee47eb5696c14296",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bf753dfe3ad9c622",
            "583c29a24e03c966",
            "6a7e88d590b86b94",
            "1a8b8f5a702258bd",
            "1d53aba126c3d4dc",
            "da6ccf9fc66732e0",
            "690ad64443e5497e",
            "cdfacf2c22dc4148",
            "935a1ff95f8c127c"
        ],
        "x": 574,
        "y": 779,
        "w": 1212,
        "h": 262
    },
    {
        "id": "f3ae6258e2ef6f06",
        "type": "group",
        "z": "ee47eb5696c14296",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a7683fe7de9658f8",
            "f5ef904fba65b4fc",
            "16e7149e63b6d0f5",
            "7ca8b94cf12f1edf",
            "faf12f5c1c0ec6ec",
            "86f191dd05946674",
            "29eff04a28d6e027",
            "9b45896c68d03d31",
            "0e37bf3b7d21edc2",
            "54cdf15801bd459e",
            "ba72a35ca15897db",
            "cd2f68db4a520efe",
            "1e87d2551754cbe1",
            "1eb467cb808fc687",
            "d341fe2b174049a3",
            "44bd8c327a5241be",
            "b868ce963f739e40",
            "23d61be9231596de",
            "6e6f53f75617275b",
            "8b5f40fb37f58a5c"
        ],
        "x": 574,
        "y": 159,
        "w": 1472,
        "h": 362
    },
    {
        "id": "5cb0c1066f2d700a",
        "type": "group",
        "z": "ee47eb5696c14296",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "00f2d8cec6354b70",
            "ee9ca6c3fd6287ef",
            "b9791d6139d7440d",
            "878139420e718ada",
            "1d5e9f291a42a601",
            "4d05149daa5f269f",
            "5c62e146f43bb96b",
            "3a97e2ffa8349f56",
            "d6b8079f5eb89894"
        ],
        "x": 574,
        "y": 539,
        "w": 972,
        "h": 162
    },
    {
        "id": "821874784e32c025",
        "type": "group",
        "z": "ee47eb5696c14296",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "49a9289d24246df6",
            "7e260252f0f1f2c4",
            "a1850bc1e1f5541e",
            "6b6607affea207f2",
            "48fed1cfdfc9624d",
            "3752106afea2d4ca",
            "87eba3f1d6c99412",
            "50504acb80f45d99",
            "f395931556ba214f"
        ],
        "x": 574,
        "y": 1059,
        "w": 972,
        "h": 162
    },
    {
        "id": "3f1241c96c7c2565",
        "type": "link in",
        "z": "ee47eb5696c14296",
        "name": "mtec mixer on/off in",
        "links": [
            "769cbc7c61ddfd9b"
        ],
        "x": 145,
        "y": 360,
        "wires": [
            [
                "dfd880c639b8903f"
            ]
        ]
    },
    {
        "id": "a7683fe7de9658f8",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "item": "ns=4;i=22",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO0",
        "x": 1650,
        "y": 360,
        "wires": [
            [
                "f5ef904fba65b4fc"
            ]
        ]
    },
    {
        "id": "f5ef904fba65b4fc",
        "type": "OpcUa-Client",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "endpoint": "9c6664b374f58bc5",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1880,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "16e7149e63b6d0f5",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "item": "ns=4;i=78",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO0",
        "x": 1650,
        "y": 400,
        "wires": [
            [
                "f5ef904fba65b4fc"
            ]
        ]
    },
    {
        "id": "7ca8b94cf12f1edf",
        "type": "ui_switch",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "label": "Listen to m-tec [bool]",
        "tooltip": "",
        "group": "941553f899610cff",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 440,
        "wires": [
            [
                "1eb467cb808fc687"
            ]
        ]
    },
    {
        "id": "faf12f5c1c0ec6ec",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "var mixer_run = msg.payload;\nvar sync = false;\n\n// Global value\nif (flow.get(\"sync_ads\")!==undefined)\n{\n    sync = flow.get(\"sync_ads\");\n}\n\n// Check mixer\nmsg.payload = mixer_run\n\n// Sync?\nif (sync == false)\n{\n    msg.payload = false\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "a7683fe7de9658f8",
                "86f191dd05946674"
            ]
        ]
    },
    {
        "id": "86f191dd05946674",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ADS on/off [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 320,
        "wires": []
    },
    {
        "id": "29eff04a28d6e027",
        "type": "comment",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "Write values to material delivery PLC",
        "info": "",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf753dfe3ad9c622",
        "type": "comment",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "Write values to Vertico dosing system",
        "info": "",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "583c29a24e03c966",
        "type": "OpcUa-Client",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "endpoint": "df0e8d096d8a204d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1660,
        "y": 960,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dfd880c639b8903f",
        "type": "function",
        "z": "ee47eb5696c14296",
        "name": "Only inject when value changes",
        "func": "if (context.get('prev_mixer_run') === 'undefined') {\n    context.set('prev_mixer_run', false);\n}\n\nif (msg.payload !== context.get('prev_mixer_run')) {\n    context.set('prev_mixer_run', msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "faf12f5c1c0ec6ec",
                "1d53aba126c3d4dc"
            ]
        ]
    },
    {
        "id": "6a7e88d590b86b94",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "item": "ns=5;i=2",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "vertico_do3",
        "x": 1310,
        "y": 960,
        "wires": [
            [
                "583c29a24e03c966"
            ]
        ]
    },
    {
        "id": "1a8b8f5a702258bd",
        "type": "ui_switch",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "",
        "label": "Listen to m-tec [bool]",
        "tooltip": "",
        "group": "b1d6f3e06f0a0eff",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 1000,
        "wires": [
            [
                "935a1ff95f8c127c"
            ]
        ]
    },
    {
        "id": "1d53aba126c3d4dc",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "",
        "func": "var mixer_run = msg.payload;\nvar sync = false;\n\n// Global value\nif (flow.get(\"sync_vertico\")!==undefined)\n{\n    sync = flow.get(\"sync_vertico\");\n}\n\n// Check mixer\nmsg.payload = mixer_run\n\n// Is enabled?\nif (sync == false)\n{\n    msg.payload = false\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 960,
        "wires": [
            [
                "6a7e88d590b86b94",
                "da6ccf9fc66732e0"
            ]
        ]
    },
    {
        "id": "da6ccf9fc66732e0",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "group": "b1d6f3e06f0a0eff",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Liquid dosing on/off [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1350,
        "y": 920,
        "wires": []
    },
    {
        "id": "9b45896c68d03d31",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Write values (manual):",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1900,
        "y": 200,
        "wires": []
    },
    {
        "id": "0e37bf3b7d21edc2",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Read values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1870,
        "y": 240,
        "wires": []
    },
    {
        "id": "690ad64443e5497e",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "group": "b1d6f3e06f0a0eff",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Write values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 820,
        "wires": []
    },
    {
        "id": "cdfacf2c22dc4148",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "group": "b1d6f3e06f0a0eff",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Read values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 860,
        "wires": []
    },
    {
        "id": "1e87d2551754cbe1",
        "type": "inject",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 670,
        "y": 400,
        "wires": [
            [
                "ba72a35ca15897db"
            ]
        ]
    },
    {
        "id": "ba72a35ca15897db",
        "type": "ui_text_input",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "label": "Write AO0",
        "tooltip": "",
        "group": "941553f899610cff",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "54cdf15801bd459e",
                "23d61be9231596de"
            ]
        ]
    },
    {
        "id": "54cdf15801bd459e",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "if( msg.payload<4){msg.payload=4}\nelse if(msg.payload>20){msg.payload=20}\n\n// Convert (incorrect scaling on PLC)\nmsg.payload = (msg.payload - 4) * (27648 / 32767) + 4\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "16e7149e63b6d0f5"
            ]
        ]
    },
    {
        "id": "cd2f68db4a520efe",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "mA",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1910,
        "y": 280,
        "wires": []
    },
    {
        "id": "f395931556ba214f",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "group": "b1d6f3e06f0a0eff",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Calibration:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 680,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d6b8079f5eb89894",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "group": "941553f899610cff",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Calibration:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "00f2d8cec6354b70",
        "type": "ui_button",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "",
        "group": "941553f899610cff",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RUN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "a7683fe7de9658f8",
                "4d05149daa5f269f"
            ]
        ]
    },
    {
        "id": "ee9ca6c3fd6287ef",
        "type": "delay",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "run time",
        "pauseType": "delayv",
        "timeout": "5000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1320,
        "y": 620,
        "wires": [
            [
                "b9791d6139d7440d"
            ]
        ]
    },
    {
        "id": "b9791d6139d7440d",
        "type": "ui_button",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "",
        "group": "941553f899610cff",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 620,
        "wires": [
            [
                "a7683fe7de9658f8"
            ]
        ]
    },
    {
        "id": "878139420e718ada",
        "type": "ui_numeric",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "",
        "label": "Fixed run time [s]",
        "tooltip": "",
        "group": "941553f899610cff",
        "order": 13,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 930,
        "y": 660,
        "wires": [
            [
                "5c62e146f43bb96b"
            ]
        ]
    },
    {
        "id": "1d5e9f291a42a601",
        "type": "inject",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 710,
        "y": 660,
        "wires": [
            [
                "878139420e718ada"
            ]
        ]
    },
    {
        "id": "4d05149daa5f269f",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "run_time_ads",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 620,
        "wires": [
            [
                "3a97e2ffa8349f56"
            ]
        ]
    },
    {
        "id": "5c62e146f43bb96b",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "run_time_ads",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3a97e2ffa8349f56",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "5cb0c1066f2d700a",
        "name": "convert to ms",
        "func": "msg.delay = msg.delay * 1000;\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "ee9ca6c3fd6287ef"
            ]
        ]
    },
    {
        "id": "49a9289d24246df6",
        "type": "ui_button",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "",
        "group": "b1d6f3e06f0a0eff",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RUN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "3752106afea2d4ca",
                "6a7e88d590b86b94"
            ]
        ]
    },
    {
        "id": "7e260252f0f1f2c4",
        "type": "delay",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "run time",
        "pauseType": "delayv",
        "timeout": "5000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1320,
        "y": 1140,
        "wires": [
            [
                "a1850bc1e1f5541e"
            ]
        ]
    },
    {
        "id": "a1850bc1e1f5541e",
        "type": "ui_button",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "",
        "group": "b1d6f3e06f0a0eff",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 1140,
        "wires": [
            [
                "6a7e88d590b86b94"
            ]
        ]
    },
    {
        "id": "6b6607affea207f2",
        "type": "ui_numeric",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "",
        "label": "Fixed run time [s]",
        "tooltip": "",
        "group": "b1d6f3e06f0a0eff",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 930,
        "y": 1180,
        "wires": [
            [
                "87eba3f1d6c99412"
            ]
        ]
    },
    {
        "id": "48fed1cfdfc9624d",
        "type": "inject",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 710,
        "y": 1180,
        "wires": [
            [
                "6b6607affea207f2"
            ]
        ]
    },
    {
        "id": "3752106afea2d4ca",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "run_time_ads",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1140,
        "wires": [
            [
                "50504acb80f45d99"
            ]
        ]
    },
    {
        "id": "87eba3f1d6c99412",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "run_time_ads",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "50504acb80f45d99",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "821874784e32c025",
        "name": "convert to ms",
        "func": "msg.delay = msg.delay * 1000;\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1140,
        "wires": [
            [
                "7e260252f0f1f2c4"
            ]
        ]
    },
    {
        "id": "935a1ff95f8c127c",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sync_vertico",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "1eb467cb808fc687",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sync_ads",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "912fa5ab3ae08043",
        "type": "link in",
        "z": "ee47eb5696c14296",
        "name": "Gantry R101 in",
        "links": [
            "3a1ccd11aab7dd16"
        ],
        "x": 145,
        "y": 580,
        "wires": [
            [
                "18b1b9c57fbcca5f"
            ]
        ]
    },
    {
        "id": "18b1b9c57fbcca5f",
        "type": "function",
        "z": "ee47eb5696c14296",
        "name": "Only inject when value changes",
        "func": "if (context.get('prev_r101') === 'undefined') {\n    context.set('prev_r101', 0);\n}\n\nif (msg.payload !== context.get('prev_r101')) {\n    context.set('prev_r101', msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "b868ce963f739e40"
            ]
        ]
    },
    {
        "id": "6e6f53f75617275b",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "item": "ns=2;s=/Channel/Parameter/R[101]",
        "datatype": "Double",
        "value": "",
        "name": "gantry_r101",
        "x": 1650,
        "y": 480,
        "wires": [
            [
                "8b5f40fb37f58a5c"
            ]
        ]
    },
    {
        "id": "8b5f40fb37f58a5c",
        "type": "OpcUa-Client",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "endpoint": "e8d1b376d5668d60",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "newCerts",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1880,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d341fe2b174049a3",
        "type": "change",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "listen_to_gantry",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "44bd8c327a5241be",
        "type": "ui_switch",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "label": "Listen to gantry [bool]",
        "tooltip": "",
        "group": "941553f899610cff",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 480,
        "wires": [
            [
                "d341fe2b174049a3"
            ]
        ]
    },
    {
        "id": "b868ce963f739e40",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "// Global value\nif (flow.get(\"listen_to_gantry\")!==undefined)\n{\n    listen = flow.get(\"listen_to_gantry\");\n}\nelse\n{\n\tlisten = false;\n}\n\n// Listen?\nif (listen == true)\n{\n    if( msg.payload<4){msg.payload=4}\n    else if(msg.payload>20){msg.payload=20}\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "ba72a35ca15897db"
            ]
        ]
    },
    {
        "id": "23d61be9231596de",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "// Global value\nif (flow.get(\"listen_to_gantry\")!==undefined)\n{\n    listen = flow.get(\"listen_to_gantry\");\n}\nelse\n{\n\tlisten = false;\n}\n\n// Listen?\nif (listen == true)\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 480,
        "wires": [
            [
                "6e6f53f75617275b"
            ]
        ]
    },
    {
        "id": "fda0c253fa1a3147",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "42ab9b98873d81c6",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "08535c2e62e7e63a",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "abfd115f36655ac8",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "9c6664b374f58bc5",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.30:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "941553f899610cff",
        "type": "ui_group",
        "name": "ADS",
        "tab": "d16e0686aa3f78d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df0e8d096d8a204d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.40:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "b1d6f3e06f0a0eff",
        "type": "ui_group",
        "name": "Vertico liquid dosing",
        "tab": "d16e0686aa3f78d3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d1b376d5668d60",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.100:4840",
        "secpol": "Basic256Sha256",
        "secmode": "SignAndEncrypt",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "42ab9b98873d81c6",
        "type": "ui_group",
        "name": "Write values",
        "tab": "bf699577502254b8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "abfd115f36655ac8",
        "type": "ui_group",
        "name": "Read values",
        "tab": "bf699577502254b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d16e0686aa3f78d3",
        "type": "ui_tab",
        "name": "Project Frankenstein",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf699577502254b8",
        "type": "ui_tab",
        "name": "Bronkhorst dosing pump",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]