src/flows/vertico_dosing_pump_read_values.json
[
    {
        "id": "4f5ca443e5d9546b",
        "type": "tab",
        "label": "Vertico dosing: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0c9dda99c1d1bcad",
        "type": "OpcUa-Client",
        "z": "4f5ca443e5d9546b",
        "endpoint": "df0e8d096d8a204d",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 980,
        "y": 340,
        "wires": [
            [
                "c5e6830fce3770ba"
            ],
            []
        ]
    },
    {
        "id": "398e88061ed887dc",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Actual motor velocity [RPM]",
        "format": "{{msg.payload.vertico_motor_velocity_measured.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3040,
        "y": 800,
        "wires": []
    },
    {
        "id": "dddceb5e4bce52f9",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Actual flow [ml/min]",
        "format": "{{msg.payload.vertico_flow_measured_ml_min.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3010,
        "y": 720,
        "wires": []
    },
    {
        "id": "d42bfb7e49aef199",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 7,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Actual pressure [bar]",
        "format": "{{msg.payload.vertico_pressure_measured.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3020,
        "y": 840,
        "wires": []
    },
    {
        "id": "cc913c7b7c72bb39",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=4;i=4",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_remote_start_stop",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "47ea63d043ce8638",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=4;i=12",
        "datatype": "Float",
        "value": "",
        "name": "vertico_remote_setpoint_open_loop",
        "x": 640,
        "y": 520,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "873f723a466c5f9e",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=4;i=9",
        "datatype": "Float",
        "value": "",
        "name": "vertico_remote_setpoint_closed_loop",
        "x": 650,
        "y": 480,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "334d4fd7ea90a013",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=6;i=5",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pid_p",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "371873752c34a284",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=6;i=6",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pid_i",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "09de347837d8c979",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=6;i=7",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pid_d",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "068aabedae160646",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=8;i=14",
        "datatype": "Float",
        "value": "",
        "name": "vertico_flow_measured_ml_min",
        "x": 630,
        "y": 740,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "8b4614ddfb75dd01",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=8;i=17",
        "datatype": "Float",
        "value": "",
        "name": "vertico_motor_velocity_measured",
        "x": 640,
        "y": 820,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "45f5930ef55a55f6",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=8;i=16",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pressure_measured",
        "x": 620,
        "y": 860,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "48f42e2a066d2670",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 16,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "P",
        "format": "{{msg.payload.vertico_pid_p.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2970,
        "y": 340,
        "wires": []
    },
    {
        "id": "58ddc5faa72a9e56",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 17,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "I",
        "format": "{{msg.payload.vertico_pid_i.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2970,
        "y": 380,
        "wires": []
    },
    {
        "id": "a62863549b613d5a",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 18,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "D",
        "format": "{{msg.payload.vertico_pid_d.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2970,
        "y": 420,
        "wires": []
    },
    {
        "id": "88bdfc01272fdc93",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 14,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Remote setpoint closed loop [ml/min]",
        "format": "{{msg.payload.vertico_remote_setpoint_closed_loop.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3070,
        "y": 480,
        "wires": []
    },
    {
        "id": "59330e5a1a9471d4",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 13,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Remote setpoint open loop [RPM]",
        "format": "{{msg.payload.vertico_remote_setpoint_open_loop.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3060,
        "y": 520,
        "wires": []
    },
    {
        "id": "7e7b0c38a5c86030",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 12,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Remote start/stop [bool]",
        "format": "{{msg.payload.vertico_remote_start_stop.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3030,
        "y": 560,
        "wires": []
    },
    {
        "id": "2a258f841ed19336",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=5;i=17",
        "datatype": "Float",
        "value": "",
        "name": "vertico_ai3",
        "x": 570,
        "y": 940,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "97fa54cf341fba7d",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=5;i=2",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_do3",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "bd7068e036035310",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=5;i=13",
        "datatype": "Float",
        "value": "",
        "name": "vertico_ao0",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "fc87c69fdd2a9f98",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=8;i=22",
        "datatype": "Float",
        "value": "",
        "name": "vertico_flow_measured_ma",
        "x": 620,
        "y": 780,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "08e9be9379ab1a75",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Actual flow [mA]",
        "format": "{{msg.payload.vertico_flow_measured_ma.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3000,
        "y": 760,
        "wires": []
    },
    {
        "id": "2eba47c178839e9d",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=8;i=21",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_is_open_loop",
        "x": 600,
        "y": 1080,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "46654617e7052c9a",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=8;i=18",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_is_remote",
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "d0f611243686c9a2",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Is open loop [bool]",
        "format": "{{msg.payload.vertico_is_open_loop.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3010,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e8f07597d7610c4c",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Is remote [bool]",
        "format": "{{msg.payload.vertico_is_remote.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3000,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6f35835b53e3b080",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 20,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.payload.vertico_ai3.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2980,
        "y": 900,
        "wires": []
    },
    {
        "id": "21b5f6aa1432a0ea",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 21,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "AO0 [mA]",
        "format": "{{msg.payload.vertico_ao0.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2980,
        "y": 940,
        "wires": []
    },
    {
        "id": "4841054122639007",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 22,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "DO3 [bool]",
        "format": "{{msg.payload.vertico_do3.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2990,
        "y": 980,
        "wires": []
    },
    {
        "id": "ae1e5faf7741244a",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=3;s=\"Scaled_Values\".\"Scaled_input_knob_closed_loop\"",
        "datatype": "Float",
        "value": "",
        "name": "vertico_local_setpoint_closed_loop",
        "x": 640,
        "y": 620,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "581770bffd92dd4e",
        "type": "OpcUa-Item",
        "z": "4f5ca443e5d9546b",
        "item": "ns=3;s=\"Scaled_Values\".\"Rotary knob (open loop\"",
        "datatype": "Float",
        "value": "",
        "name": "vertico_local_setpoint_open_loop",
        "x": 640,
        "y": 660,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "5a6228a0f4852311",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 10,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Local setpoint closed loop [ml/min]",
        "format": "{{msg.payload.vertico_local_setpoint_closed_loop.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3060,
        "y": 620,
        "wires": []
    },
    {
        "id": "bc3b27d9579dbaec",
        "type": "ui_text",
        "z": "4f5ca443e5d9546b",
        "group": "29e604be7d0124bf",
        "order": 9,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Local setpoint open loop [RPM]",
        "format": "{{msg.payload.vertico_local_setpoint_open_loop.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3050,
        "y": 660,
        "wires": []
    },
    {
        "id": "7739713b64d7d620",
        "type": "link out",
        "z": "4f5ca443e5d9546b",
        "name": "Vertico dosing values out",
        "mode": "link",
        "links": [
            "ef5d7562560cba3c",
            "0ace778878b2f219",
            "2a9352879b1ae46f"
        ],
        "x": 2615,
        "y": 260,
        "wires": []
    },
    {
        "id": "3fea55fc9ed0ef77",
        "type": "inject",
        "z": "4f5ca443e5d9546b",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "e3359b041e9e931a",
        "type": "inject",
        "z": "4f5ca443e5d9546b",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "334d4fd7ea90a013",
                "371873752c34a284",
                "09de347837d8c979",
                "873f723a466c5f9e",
                "47ea63d043ce8638",
                "cc913c7b7c72bb39",
                "068aabedae160646",
                "8b4614ddfb75dd01",
                "45f5930ef55a55f6",
                "fc87c69fdd2a9f98",
                "2a258f841ed19336",
                "bd7068e036035310",
                "97fa54cf341fba7d",
                "2eba47c178839e9d",
                "46654617e7052c9a",
                "ae1e5faf7741244a",
                "581770bffd92dd4e"
            ]
        ]
    },
    {
        "id": "c5e6830fce3770ba",
        "type": "function",
        "z": "4f5ca443e5d9546b",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 340,
        "wires": [
            [
                "66ebb8aacb89b92a",
                "40b3806e96847b4f"
            ]
        ]
    },
    {
        "id": "66ebb8aacb89b92a",
        "type": "join",
        "z": "4f5ca443e5d9546b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "18",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2150,
        "y": 340,
        "wires": [
            [
                "1b1d0af4fd284883"
            ]
        ]
    },
    {
        "id": "1b1d0af4fd284883",
        "type": "function",
        "z": "4f5ca443e5d9546b",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"vertico\"\n\n// Convert values\nmsg.payload.vertico_ai3 = (msg.payload.vertico_ai3 < 0) ? 0.0 : (msg.payload.vertico_ai3 / 27468 * 16.0 + 4.0);\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 340,
        "wires": [
            [
                "7739713b64d7d620",
                "48f42e2a066d2670",
                "58ddc5faa72a9e56",
                "a62863549b613d5a",
                "88bdfc01272fdc93",
                "59330e5a1a9471d4",
                "7e7b0c38a5c86030",
                "dddceb5e4bce52f9",
                "08e9be9379ab1a75",
                "398e88061ed887dc",
                "d42bfb7e49aef199",
                "6f35835b53e3b080",
                "21b5f6aa1432a0ea",
                "4841054122639007",
                "d0f611243686c9a2",
                "e8f07597d7610c4c",
                "5a6228a0f4852311",
                "bc3b27d9579dbaec"
            ]
        ]
    },
    {
        "id": "52730312314b53b4",
        "type": "moment",
        "z": "4f5ca443e5d9546b",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 1940,
        "y": 400,
        "wires": [
            [
                "66ebb8aacb89b92a"
            ]
        ]
    },
    {
        "id": "40b3806e96847b4f",
        "type": "function",
        "z": "4f5ca443e5d9546b",
        "name": "Source time msg",
        "func": "if (msg.topic === \"vertico_pid_p\") \n{ \n    return { topic: \"vertico_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 400,
        "wires": [
            [
                "52730312314b53b4"
            ]
        ]
    },
    {
        "id": "fe35509bae6f9228",
        "type": "link in",
        "z": "4f5ca443e5d9546b",
        "name": "readmultiple in",
        "links": [
            "862c74438627d0e4",
            "398de18a215eb45c"
        ],
        "x": 515,
        "y": 240,
        "wires": [
            [
                "0c9dda99c1d1bcad"
            ]
        ]
    },
    {
        "id": "df0e8d096d8a204d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.40:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "29e604be7d0124bf",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ab2d93c8cfc6d927",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab2d93c8cfc6d927",
        "type": "ui_tab",
        "name": "Vertico dosing system",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]