src/flows/vertico_dosing_pump_write_values.json
[
    {
        "id": "aa92b93f0e76caa9",
        "type": "tab",
        "label": "Vertico dosing: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17fd444a55bb11b3",
        "type": "OpcUa-Client",
        "z": "aa92b93f0e76caa9",
        "endpoint": "df0e8d096d8a204d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1600,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0fb260ecda3a49b3",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=6;i=5",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "P",
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "7ecac4a0fbfb17ef",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=6;i=6",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "I",
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "b5ec351c64a164be",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=6;i=7",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "D",
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "aa18fd49eb7d44bb",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=4;i=9",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "setpoint_closed_loop",
        "x": 1060,
        "y": 580,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "c63cc8288018c950",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=4;i=4",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "start_stop",
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "be0a1a9b0e603cbd",
        "type": "ui_switch",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Start/stop [bool]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "c63cc8288018c950"
            ]
        ]
    },
    {
        "id": "5a539802cf222927",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "be0a1a9b0e603cbd"
            ]
        ]
    },
    {
        "id": "6f919520f594e709",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "e642e27bad9601f6"
            ]
        ]
    },
    {
        "id": "52c2864e315e1804",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "3de1c3bc3e49dd78"
            ]
        ]
    },
    {
        "id": "62db3f5ccf28962e",
        "type": "ui_switch",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write DO3 [bool]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 740,
        "wires": [
            [
                "d98522af266cd978"
            ]
        ]
    },
    {
        "id": "128d3b98e5d8d591",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 740,
        "wires": [
            [
                "62db3f5ccf28962e"
            ]
        ]
    },
    {
        "id": "31f1554733c6b41b",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "44e934bfe08929e1"
            ]
        ]
    },
    {
        "id": "d98522af266cd978",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=5;i=2",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "vertico_do3",
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "95a40f2837e2f3de",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=5;i=13",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "vertico_ao0",
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "c887e7b13ea5a0ad",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "2f327df4fb81ee4b"
            ]
        ]
    },
    {
        "id": "2f327df4fb81ee4b",
        "type": "ui_text_input",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write P",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "0fb260ecda3a49b3"
            ]
        ]
    },
    {
        "id": "28705792af9d72ee",
        "type": "ui_text",
        "z": "aa92b93f0e76caa9",
        "group": "6cb02d1b18effc68",
        "order": 6,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "-",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "d501465965a92064",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "f5c18ff7e1b1229e"
            ]
        ]
    },
    {
        "id": "f5c18ff7e1b1229e",
        "type": "ui_text_input",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write I",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "7ecac4a0fbfb17ef"
            ]
        ]
    },
    {
        "id": "e3954ab04c409744",
        "type": "ui_text",
        "z": "aa92b93f0e76caa9",
        "group": "6cb02d1b18effc68",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "-",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "cddd9d7e7d3e8797",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "2dacf71131d15bfa"
            ]
        ]
    },
    {
        "id": "2dacf71131d15bfa",
        "type": "ui_text_input",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write D",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "b5ec351c64a164be"
            ]
        ]
    },
    {
        "id": "094ce6247f741ae4",
        "type": "ui_text",
        "z": "aa92b93f0e76caa9",
        "group": "6cb02d1b18effc68",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "-",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "e642e27bad9601f6",
        "type": "ui_text_input",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Setpoint closed loop",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 540,
        "y": 580,
        "wires": [
            [
                "aa18fd49eb7d44bb"
            ]
        ]
    },
    {
        "id": "40bd502e07a8e3cf",
        "type": "ui_text",
        "z": "aa92b93f0e76caa9",
        "group": "6cb02d1b18effc68",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "ml/m",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 620,
        "wires": []
    },
    {
        "id": "3de1c3bc3e49dd78",
        "type": "ui_text_input",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Setpoint open loop",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 660,
        "wires": [
            [
                "ec0ce49799b6199a"
            ]
        ]
    },
    {
        "id": "9febc135435a7026",
        "type": "ui_text",
        "z": "aa92b93f0e76caa9",
        "group": "6cb02d1b18effc68",
        "order": 13,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "RPM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "ec0ce49799b6199a",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=4;i=12",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "setpoint_open_loop",
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "44e934bfe08929e1",
        "type": "ui_text_input",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write AO0",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 510,
        "y": 780,
        "wires": [
            [
                "5530018465aeee2a"
            ]
        ]
    },
    {
        "id": "eba119a921bd3a0f",
        "type": "ui_text",
        "z": "aa92b93f0e76caa9",
        "group": "6cb02d1b18effc68",
        "order": 17,
        "width": 1,
        "height": 1,
        "name": "",
        "label": " mA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 820,
        "wires": []
    },
    {
        "id": "5530018465aeee2a",
        "type": "function",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "func": "if( msg.payload<4.0){msg.payload=4.0}\nelse if(msg.payload>20){msg.payload=20}\n\n// Convert (incorrect scaling on PLC)\nmsg.payload = (msg.payload - 4) * (27648 / 32767) + 4\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 780,
        "wires": [
            [
                "95a40f2837e2f3de"
            ]
        ]
    },
    {
        "id": "8d3f28b0222cf10b",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "6cb02d1b18effc68",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "7fc62cbbbf60f90f",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "6cb02d1b18effc68",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "7d7a5c1897abb40f",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "6cb02d1b18effc68",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "b3bbe2c5d2d73d26",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "7e7bb23c5c2d3ab8",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "ad5879f01eb9b0ab",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 11,
        "width": 8,
        "height": 1
    },
    {
        "id": "442dc3fbb929e450",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 15,
        "width": 8,
        "height": 1
    },
    {
        "id": "3c3fe4d5897a067a",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 19,
        "width": 8,
        "height": 1
    },
    {
        "id": "df0e8d096d8a204d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.40:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "6cb02d1b18effc68",
        "type": "ui_group",
        "name": "Write values",
        "tab": "ab2d93c8cfc6d927",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "29e604be7d0124bf",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ab2d93c8cfc6d927",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab2d93c8cfc6d927",
        "type": "ui_tab",
        "name": "Vertico dosing system",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]