flows/fred.json
[
    {
        "id": "98ee35b2.acfb58",
        "type": "tab",
        "label": "FRED",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f4f75e3c.39643",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Berghof MotorSpeed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Berghof MotorSpeed",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Berghof_pump\".\"Set_Speed\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 1060,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "db2e6dfc.d445b",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Actual  height",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Actual  height",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Berghof_pump\".\"Output_actual_hight\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "88fa85c6.a8b298",
        "type": "csv",
        "z": "98ee35b2.acfb58",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 2310,
        "y": 1200,
        "wires": [
            [
                "bb54d129.c4195"
            ]
        ]
    },
    {
        "id": "40ebcef2.79cd2",
        "type": "file",
        "z": "98ee35b2.acfb58",
        "name": "Time, MotorSpeed",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 3090,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "20ebd7d2.d50618",
        "type": "join",
        "z": "98ee35b2.acfb58",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "11",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1690,
        "y": 1200,
        "wires": [
            [
                "71b4bb64.68c764"
            ]
        ]
    },
    {
        "id": "c771bd4f.1bb7",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Temp Sensor_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Temp Sensor_1",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Temprature\".\"Temprature_1\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "b67f1aa4.138868",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.TempSensor_1= {\n'TempSensor' : parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1100,
        "wires": [
            [
                "20ebd7d2.d50618",
                "a5cbda6a.1a93c8"
            ]
        ]
    },
    {
        "id": "54a0fa4c.082914",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "\nmsg.MotorSpeed= {\n'MotorSpeed' : parseFloat(msg.payload.toString()/65536*400).toFixed(2)}\n\n//msg.MotorSpeed;\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1420,
        "wires": [
            [
                "20ebd7d2.d50618",
                "e14f4f50.ec24c",
                "d18e9b58.c2f0d8"
            ]
        ]
    },
    {
        "id": "a7c2cc8a.92f76",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.ActualHeight= {\n'ActualHeight' : parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1060,
        "wires": [
            [
                "20ebd7d2.d50618",
                "b0cc0b75.292558"
            ]
        ]
    },
    {
        "id": "ab4038b0.99af98",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Temp Sensor_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Temp Sensor_2",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Temprature\".\"Temprature_2\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "ed5fcbc3.cd1358",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.TempSensor_2= {\n'TempSensor' : parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1140,
        "wires": [
            [
                "20ebd7d2.d50618",
                "57dc85b1.9e34ec"
            ]
        ]
    },
    {
        "id": "c613695.f16c698",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Pressure Sensor_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Pressure Sensor_1",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Pressure\".\"Pressure_1\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 1220,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "ae37c69e.645ed8",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.Pressure_1= {\n'PressureSensor' : parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1180,
        "wires": [
            [
                "20ebd7d2.d50618",
                "54f0c911.912e68"
            ]
        ]
    },
    {
        "id": "bb47adbc.0d707",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Pressure Sensor_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Pressure Sensor_2",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Pressure\".\"Pressure_2\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 1260,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "2a6c109c.b9cff",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.Pressure_2= {\n'PressureSensor' :parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1220,
        "wires": [
            [
                "20ebd7d2.d50618",
                "6d875186.2c4cc"
            ]
        ]
    },
    {
        "id": "978560cb.8d06b",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Inptut value's",
        "info": "",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "71b4bb64.68c764",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "\n// function addZero(i) {\n//   if (i < 10) {\n//     i = \"0\" + i;\n//   }\n//   return i;\n// }\n\n// var d = new Date();\n\n// var h = addZero(d.getHours());\n// var m = addZero(d.getMinutes());\n// var s = addZero(d.getSeconds());\n// Time =  h + \":\" + m + \":\"+ s ;\n\n// new Date().toISOString(),\n\nmsg.payload= {\n'Time': msg.Time,\n'MotorSpeedBerghof' :msg.MotorSpeed.MotorSpeed,  \n'ActualHeight' :  msg.ActualHeight.ActualHeight,\n'TempSensor_1' :  msg.TempSensor_1.TempSensor,\n'TempSensor_2' :  msg.TempSensor_2.TempSensor,\n'PressureSensor_1' : msg.Pressure_1.PressureSensor,\n'PressureSensor_2' :  msg.Pressure_2.PressureSensor,\n'MixmotorAcctualSpeed' :   msg.MixmotorAcctualSpeed.MixmotorAcctualSpeed,\n'MixmotorAcctualTorque' :  msg.MixmotorAcctualTorque.MixmotorAcctualTorque,  \n'PumpmotorAcctualSpeed' :  msg.PumpmotorAcctualSpeed.PumpmotorAcctualSpeed,\n'PumpmotorAcctualTorque' :   msg.PumpmotorAcctualTorque.PumpmotorAcctualTorque\n};\nreturn msg;\n   \n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1980,
        "y": 1200,
        "wires": [
            [
                "88fa85c6.a8b298"
            ]
        ]
    },
    {
        "id": "80702ccd.02989",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Mix_motor_AcctualSpeed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Mix_motor_AcctualSpeed",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Status Mixer\".\"ActualSpeed_Mixer\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "153b4bca.ea0df4",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.MixmotorAcctualSpeed= {\n'MixmotorAcctualSpeed' : parseFloat (msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1260,
        "wires": [
            [
                "20ebd7d2.d50618",
                "27388de0.81f6b2",
                "63d3c2a3.387c5c"
            ]
        ]
    },
    {
        "id": "2d8a4d72.553752",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Mix_motor_AcctualTorque",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Mix_motor_AcctualTorque",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Status Mixer\".\"ActualTorque\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 1340,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "d0586dd2.0296",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.MixmotorAcctualTorque= {\n'MixmotorAcctualTorque' : parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1300,
        "wires": [
            [
                "20ebd7d2.d50618",
                "c58837f4.6911f8"
            ]
        ]
    },
    {
        "id": "44699b74.332074",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Pump_motor_AcctualSpeed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Pump_motor_AcctualSpeed",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Status Pump\".\"ActualSpeed_Pump\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 1380,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "b3972a.03a368d8",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.PumpmotorAcctualSpeed= {\n'PumpmotorAcctualSpeed' : parseFloat( msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1340,
        "wires": [
            [
                "20ebd7d2.d50618",
                "fbbb252d.7484a8",
                "8f6c46c8.cce218"
            ]
        ]
    },
    {
        "id": "82d7ff8c.98cb7",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Pump_motor_AcctualTorque",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "Pump_motor_AcctualTorque",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Status Pump\".\"ActualTorque\";datatype=Double",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 1420,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "4a3b8191.7514c",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "msg.PumpmotorAcctualTorque= {\n'PumpmotorAcctualTorque' : parseFloat(msg.payload.toString()).toFixed(2)}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 1380,
        "wires": [
            [
                "20ebd7d2.d50618",
                "b1ec0e18.6edbe"
            ]
        ]
    },
    {
        "id": "de61cdf2.b2305",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Level_warning",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Object",
                "v": "Level_warning",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Alarms & Warning\".\"Warnings_Levelsystem\";datatype=String",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 740,
        "wires": [
            [
                "5e899eb8.39eba"
            ]
        ]
    },
    {
        "id": "e6729964.f5ec68",
        "type": "trigger",
        "z": "98ee35b2.acfb58",
        "name": "",
        "op1": "red",
        "op2": "transparent",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1480,
        "y": 740,
        "wires": [
            [
                "de27790f.f23f18"
            ]
        ]
    },
    {
        "id": "396d5203.37ef8e",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Blink",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Object",
                "v": "Blink",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "ns=3;s=\"DB_Manage_I/O\".\"Emergency_state\";datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "x": 770,
        "y": 780,
        "wires": [
            [
                "5e899eb8.39eba"
            ]
        ]
    },
    {
        "id": "d22f466a.f80e48",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "if (msg.payload === true)\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1340,
        "y": 740,
        "wires": [
            [
                "e6729964.f5ec68"
            ]
        ]
    },
    {
        "id": "c6459736.472c88",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Input levelmixing chamber",
        "info": "",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "cfaa57d1.718db8",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Berghof communication status",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix;datatype=Boolean",
        "x": 690,
        "y": 940,
        "wires": [
            [
                "a163bc73.5345"
            ]
        ]
    },
    {
        "id": "af06d304.18b2b",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Emergency",
        "info": "",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "807ac5c2.2c6808",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Torque_error",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Object",
                "v": "Torque_error",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Alarms & Warning\".\"Error_torquelimit\";datatype=String",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 820,
        "wires": [
            [
                "5e899eb8.39eba"
            ]
        ]
    },
    {
        "id": "8d4370ae.5e7d9",
        "type": "switch",
        "z": "98ee35b2.acfb58",
        "name": "",
        "property": "Object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Level_warning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Blink",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Torque_error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MachineState",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 4,
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "a86da279.9d58d"
            ],
            [
                "d22f466a.f80e48"
            ],
            [
                "853f6355.0184b"
            ],
            [
                "338f582f.4b3808",
                "8e736b13.6f3758"
            ]
        ]
    },
    {
        "id": "aaacc4f3.21d988",
        "type": "switch",
        "z": "98ee35b2.acfb58",
        "name": "Inputvalue",
        "property": "Input_Value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BerghofONOFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Berghof MotorSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Actual  height",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Temp Sensor_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Temp Sensor_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pressure Sensor_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pressure Sensor_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mix_motor_AcctualSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mix_motor_AcctualTorque",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pump_motor_AcctualSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pump_motor_AcctualTorque",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 11,
        "x": 1150,
        "y": 1200,
        "wires": [
            [
                "67c6d4fd.89fb9c"
            ],
            [
                "fa1257d4.bd6788"
            ],
            [
                "a7c2cc8a.92f76"
            ],
            [
                "b67f1aa4.138868"
            ],
            [
                "ed5fcbc3.cd1358"
            ],
            [
                "ae37c69e.645ed8"
            ],
            [
                "2a6c109c.b9cff"
            ],
            [
                "153b4bca.ea0df4"
            ],
            [
                "d0586dd2.0296"
            ],
            [
                "b3972a.03a368d8"
            ],
            [
                "4a3b8191.7514c"
            ]
        ]
    },
    {
        "id": "3443fc28.247344",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Create individual msg",
        "info": "",
        "x": 1380,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2933fb70.8fe584",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Berghof control",
        "info": "",
        "x": 740,
        "y": 900,
        "wires": []
    },
    {
        "id": "a163bc73.5345",
        "type": "trigger",
        "z": "98ee35b2.acfb58",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix;datatype=Boolean",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 960,
        "y": 900,
        "wires": [
            [
                "b12a5f59.0382e"
            ]
        ]
    },
    {
        "id": "23e93542.8bb56a",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Write value's to Berghof ",
        "info": "",
        "x": 1620,
        "y": 860,
        "wires": []
    },
    {
        "id": "b4204b0.25a60b8",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Usercontrol",
        "info": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "3c5e4855.050c28",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Visuals",
        "info": "",
        "x": 1590,
        "y": 1000,
        "wires": []
    },
    {
        "id": "dc2441d6.94091",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Add OPCUA connection",
        "info": "",
        "x": 1380,
        "y": 860,
        "wires": []
    },
    {
        "id": "f3cf3027.76c42",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Create alarm text",
        "info": "",
        "x": 1360,
        "y": 660,
        "wires": []
    },
    {
        "id": "17f77abf.c18825",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "ALLOW",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "true",
        "payloadType": "bool",
        "x": 2660,
        "y": 1040,
        "wires": [
            [
                "96f94083.e32a3"
            ]
        ]
    },
    {
        "id": "f3562abf.f858c8",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "INTERRUPT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 2660,
        "y": 1080,
        "wires": [
            [
                "80f3d4c9.24f968"
            ]
        ]
    },
    {
        "id": "a3073da1.a2ed",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": "\n\n\nmsg.data = msg.payload\n\nmsg.file = global.get(\"name\") + \".csv\";\n\nmsg.filename=\"/home/pi/\" + msg.file;\n\n\n\nreturn msg;\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2860,
        "y": 1200,
        "wires": [
            [
                "40ebcef2.79cd2",
                "633ad02f.5a6cb"
            ]
        ]
    },
    {
        "id": "8f7cbd59.810f",
        "type": "function",
        "z": "98ee35b2.acfb58",
        "name": "",
        "func": " global.set(\"name\",msg.payload);\n var data =   \"Time\"+\",\"+\"BerghofmotorSpeed \"+\",\"\n +\"ActualHeight\"+\",\"\n +\"TempSensor_1\"+\",\"\n +\"TempSensor_2\"+\",\"\n +\"PressureSensor_1\"+\",\"\n +\"PressureSensor_2\"+\",\"\n +\"ActualSpeed_Mixermotor\"+\",\"\n +\"ActualTorque_mixermotor\"+\",\"\n +\"ActualSpeed_Pumpmotor\"+\",\"\n +\"ActualTorque_Pumpmotor\"+\",\"\n +\"\\n\"\n\nmsg.payload= data\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2880,
        "y": 1160,
        "wires": [
            [
                "a3073da1.a2ed"
            ]
        ]
    },
    {
        "id": "69c5288e.cc45e8",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Filename",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "Filename",
        "payload": "",
        "payloadType": "date",
        "x": 2880,
        "y": 1080,
        "wires": [
            [
                "a1a2871c.108168"
            ]
        ]
    },
    {
        "id": "f0d3af7d.11966",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Create new file",
        "info": "",
        "x": 2880,
        "y": 960,
        "wires": []
    },
    {
        "id": "70628a78.4a12a4",
        "type": "trigger",
        "z": "98ee35b2.acfb58",
        "name": "",
        "op1": "green",
        "op2": "transparent",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2860,
        "y": 1260,
        "wires": [
            [
                "51b180bd.a7699"
            ]
        ]
    },
    {
        "id": "ffa65805.b30d08",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 2650,
        "y": 1260,
        "wires": [
            [
                "bb54d129.c4195"
            ]
        ]
    },
    {
        "id": "e0971c54.9c824",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "transparent",
        "payloadType": "str",
        "x": 1670,
        "y": 700,
        "wires": [
            [
                "de27790f.f23f18"
            ]
        ]
    },
    {
        "id": "1f2b2b96.48b5e4",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "transparent",
        "payloadType": "str",
        "x": 2870,
        "y": 1340,
        "wires": [
            [
                "51b180bd.a7699"
            ]
        ]
    },
    {
        "id": "b50621e3.2e5de",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"Start\"; datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "5454b56e.685f4c",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_Manage_I/O\".\"Reset\"; datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "483a5bc9.09c4a4",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"Stop\"; datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "518462c7.5fc29c",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Berghof MotorOnOFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "BerghofONOFF",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Berghof_pump\".\"Berghof_Remote_Start\";datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 1020,
        "wires": [
            [
                "eeb26b7.aa75d98"
            ]
        ]
    },
    {
        "id": "273c8173.65a19e",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Berghof Actual motorspeed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Input_Value",
                "v": "BerghofActualMotorSpeed",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.actual_value_mixingpump.Value.Value;datatype=Uint16",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 1500,
        "wires": [
            [
                "f9bc75a0.03f4b8"
            ]
        ]
    },
    {
        "id": "4263553a.8539dc",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Default torque ratio",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "41e6ac37.04ca04"
            ]
        ]
    },
    {
        "id": "f1810d5.80d42f",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Actual speed Berghof motor",
        "info": "",
        "x": 700,
        "y": 1460,
        "wires": []
    },
    {
        "id": "d09a4d3b.f1c28",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Set Upper value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "65535.0",
        "payloadType": "num",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "ba7a520a.9fadc"
            ]
        ]
    },
    {
        "id": "6b6ba56a.67c33c",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Set Lower value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "5b50da9.73f3424"
            ]
        ]
    },
    {
        "id": "54f0b1b5.0301d",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "77e4c2bb.bf09ec"
            ]
        ]
    },
    {
        "id": "70081ea6.c8f04",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Set Lower",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "x": 250,
        "y": 600,
        "wires": [
            [
                "77e4c2bb.bf09ec"
            ]
        ]
    },
    {
        "id": "69525fc.ecadfa",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "Set Upper",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "65535.0",
        "payloadType": "num",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "8b64e75f.ad4f68"
            ]
        ]
    },
    {
        "id": "94bb4c33.00d58",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "8b64e75f.ad4f68"
            ]
        ]
    },
    {
        "id": "1032cc1d.eb80a4",
        "type": "comment",
        "z": "98ee35b2.acfb58",
        "name": "Scale Berghof",
        "info": "",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "3482e5d8.0c7f3a",
        "type": "inject",
        "z": "98ee35b2.acfb58",
        "name": "MachineState",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Object",
                "v": "MachineState",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Alarms & Warning\".\"FRED_Machine_State\";datatype=String",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 860,
        "wires": [
            [
                "5e899eb8.39eba"
            ]
        ]
    },
    {
        "id": "8e736b13.6f3758",
        "type": "debug",
        "z": "98ee35b2.acfb58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 880,
        "wires": []
    },
    {
        "id": "633ad02f.5a6cb",
        "type": "debug",
        "z": "98ee35b2.acfb58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3170,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3f38a7b3.1e8ce8",
        "type": "link in",
        "z": "98ee35b2.acfb58",
        "name": "",
        "links": [
            "9e97518e.b3782",
            "9656ecfaf0077b89"
        ],
        "x": 1415,
        "y": 1200,
        "wires": [
            [
                "20ebd7d2.d50618"
            ]
        ]
    },
    {
        "id": "b12a5f59.0382e",
        "type": "OpcUa-Item",
        "z": "98ee35b2.acfb58",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix.Value.Value;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "Livebit2extern",
        "x": 1360,
        "y": 900,
        "wires": [
            [
                "792cec45.4127d4"
            ]
        ]
    },
    {
        "id": "fa1257d4.bd6788",
        "type": "OpcUa-Item",
        "z": "98ee35b2.acfb58",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.set_value_mixingpump.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "Write speed to Berghof",
        "x": 1380,
        "y": 940,
        "wires": [
            [
                "792cec45.4127d4"
            ]
        ]
    },
    {
        "id": "67c6d4fd.89fb9c",
        "type": "OpcUa-Item",
        "z": "98ee35b2.acfb58",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Remote_start.Value.Value;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "Remote_start",
        "x": 1360,
        "y": 980,
        "wires": [
            [
                "792cec45.4127d4"
            ]
        ]
    },
    {
        "id": "5b50da9.73f3424",
        "type": "OpcUa-Item",
        "z": "98ee35b2.acfb58",
        "item": "ns=3;s=\"DB_IOT2050\".\"Berghof_pump\".\"Berghof_Scale_Lower\";datatype=Double",
        "datatype": "Double",
        "value": "",
        "name": "Berghof Scale lower",
        "x": 720,
        "y": 620,
        "wires": [
            [
                "4aaec6e8.67d6d8",
                "bb0c5e52.89f0f"
            ]
        ]
    },
    {
        "id": "ba7a520a.9fadc",
        "type": "OpcUa-Item",
        "z": "98ee35b2.acfb58",
        "item": "ns=3;s=\"DB_IOT2050\".\"Berghof_pump\".\"Berghof_Scale_Upper\";datatype=Double",
        "datatype": "Double",
        "value": "Berghof Scale upper",
        "name": "Berghof Scale upper",
        "x": 720,
        "y": 580,
        "wires": [
            [
                "4aaec6e8.67d6d8",
                "d15fddfe.0050f"
            ]
        ]
    },
    {
        "id": "4aaec6e8.67d6d8",
        "type": "OpcUa-Client",
        "z": "98ee35b2.acfb58",
        "endpoint": "4c5b4d38.be98a4",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": " ",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 980,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5e899eb8.39eba",
        "type": "OpcUa-Client",
        "z": "98ee35b2.acfb58",
        "endpoint": "4c5b4d38.be98a4",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": " ",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "8d4370ae.5e7d9"
            ]
        ]
    },
    {
        "id": "792cec45.4127d4",
        "type": "OpcUa-Client",
        "z": "98ee35b2.acfb58",
        "endpoint": "b02adcf7.368dd",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": " ",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1660,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1d3cf2ff.49783d",
        "type": "OpcUa-Client",
        "z": "98ee35b2.acfb58",
        "endpoint": "4c5b4d38.be98a4",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": " ",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 480,
        "y": 300,
        "wires": [
            [
                "ea888343.c87f8",
                "bfbdfff9.2280c",
                "eba1633b.6ecdd",
                "8933c401.484ed8",
                "41e6ac37.04ca04",
                "578cbfd9.6c3de",
                "d6f471aa.82015",
                "7ae683f1.11261c"
            ]
        ]
    },
    {
        "id": "eeb26b7.aa75d98",
        "type": "OpcUa-Client",
        "z": "98ee35b2.acfb58",
        "endpoint": "4c5b4d38.be98a4",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": " ",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "aaacc4f3.21d988"
            ]
        ]
    },
    {
        "id": "f9bc75a0.03f4b8",
        "type": "OpcUa-Client",
        "z": "98ee35b2.acfb58",
        "endpoint": "b02adcf7.368dd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": " ",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1160,
        "y": 1500,
        "wires": [
            [
                "54a0fa4c.082914"
            ]
        ]
    },
    {
        "id": "eba1633b.6ecdd",
        "type": "ui_numeric",
        "z": "98ee35b2.acfb58",
        "name": "",
        "label": "Torquelimit Mixer [Nm]",
        "tooltip": "",
        "group": "d946ef52.c4e01",
        "order": 10,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "ns=3;s=\"DB_IOT2050\".\"TorqueLimSetMix\";datatype=Double",
        "topicType": "str",
        "format": "{{value}}",
        "min": "0.05",
        "max": 10,
        "step": "0.05",
        "className": "",
        "x": 720,
        "y": 540,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "bfbdfff9.2280c",
        "type": "ui_numeric",
        "z": "98ee35b2.acfb58",
        "name": "",
        "label": "Torquelimit Pump [Nm]",
        "tooltip": "",
        "group": "d946ef52.c4e01",
        "order": 11,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "ns=3;s=\"DB_IOT2050\".\"TorqueLimSetPump\";datatype=Double",
        "topicType": "str",
        "format": "{{value}}",
        "min": "0.05",
        "max": 10,
        "step": "0.05",
        "className": "",
        "x": 720,
        "y": 500,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "41e6ac37.04ca04",
        "type": "ui_numeric",
        "z": "98ee35b2.acfb58",
        "name": "",
        "label": "Print Pump Ratio",
        "tooltip": "",
        "group": "d946ef52.c4e01",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "ns=3;s=\"DB_IOT2050\".\"Status Pump\".\"Ratio_Print_Pump_Speed\";datatype=Double",
        "topicType": "str",
        "format": "{{value}}",
        "min": "0.1",
        "max": "40",
        "step": "0.1",
        "className": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "80f3d4c9.24f968",
        "type": "ui_button",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "d946ef52.c4e01",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop trace",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "false",
        "payloadType": "bool",
        "topic": "trigger",
        "topicType": "str",
        "x": 2650,
        "y": 1000,
        "wires": [
            [
                "bb54d129.c4195",
                "85bae3c7.9ac33"
            ]
        ]
    },
    {
        "id": "96f94083.e32a3",
        "type": "ui_button",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "d946ef52.c4e01",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Start trace",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "true",
        "payloadType": "bool",
        "topic": "trigger",
        "topicType": "str",
        "x": 2670,
        "y": 960,
        "wires": [
            [
                "bb54d129.c4195",
                "8a77e932.de0ff8"
            ]
        ]
    },
    {
        "id": "578cbfd9.6c3de",
        "type": "ui_button",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "d946ef52.c4e01",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Start ",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkgreen",
        "className": "",
        "icon": "play_arrow",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=3;s=\"Start\"; datatype=Boolean",
        "topicType": "str",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "d6f471aa.82015",
        "type": "ui_button",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "d946ef52.c4e01",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkblue",
        "className": "",
        "icon": "autorenew",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=3;s=\"DB_Manage_I/O\".\"Reset\"; datatype=Boolean",
        "topicType": "str",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "7ae683f1.11261c",
        "type": "ui_button",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "d946ef52.c4e01",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "stop",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=3;s=\"Stop\"; datatype=Boolean",
        "topicType": "str",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "f93fcd3c.50973",
        "type": "ui_button",
        "z": "98ee35b2.acfb58",
        "name": "Default settings",
        "group": "d946ef52.c4e01",
        "order": 25,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Default ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "autorenew",
        "payload": "true",
        "payloadType": "bool",
        "topic": "trigger",
        "topicType": "str",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "77e4c2bb.bf09ec",
                "8b64e75f.ad4f68"
            ]
        ]
    },
    {
        "id": "ea888343.c87f8",
        "type": "ui_slider",
        "z": "98ee35b2.acfb58",
        "name": "MixerSpeedSetvalue",
        "label": "Mix Speed [rpm]",
        "tooltip": "",
        "group": "d946ef52.c4e01",
        "order": 14,
        "width": 10,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ns=3;s=\"DB_IOT2050\".\"Mixer_speed\";datatype=Double",
        "topicType": "str",
        "min": 0,
        "max": "500",
        "step": "10",
        "className": "",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "8933c401.484ed8",
        "type": "ui_slider",
        "z": "98ee35b2.acfb58",
        "name": "level",
        "label": "Tank Level [mm]",
        "tooltip": "",
        "group": "d946ef52.c4e01",
        "order": 13,
        "width": 10,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "ns=3;s=\"DB_Mod_Levelsensor\".\"Actual_levelsensor\";datatype=Double",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "4aaec6e8.67d6d8"
            ]
        ]
    },
    {
        "id": "d18e9b58.c2f0d8",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "e5f312d5.bb93e",
        "order": 12,
        "width": 7,
        "height": 1,
        "name": "Actual motorspeed Berghof",
        "label": "Actual motorspeed Berghof [rpm]",
        "format": "{{msg.MotorSpeed.MotorSpeed}}",
        "layout": "col-center",
        "className": "",
        "x": 1660,
        "y": 1520,
        "wires": []
    },
    {
        "id": "27388de0.81f6b2",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "e5f312d5.bb93e",
        "order": 10,
        "width": 7,
        "height": 1,
        "name": "MixmotorAcctualSpeed",
        "label": "Actual motorspeed Mixer [rpm]",
        "format": "{{msg.MixmotorAcctualSpeed.MixmotorAcctualSpeed}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fbbb252d.7484a8",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "e5f312d5.bb93e",
        "order": 8,
        "width": 7,
        "height": 1,
        "name": "PumpmotorAcctualSpeed",
        "label": "Actual Pumpmotorspeed [rpm]",
        "format": "{{msg.PumpmotorAcctualSpeed.PumpmotorAcctualSpeed}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a86da279.9d58d",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "31520101.7d7dae",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "Tank Level",
        "label": "Tank Level:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1350,
        "y": 700,
        "wires": []
    },
    {
        "id": "853f6355.0184b",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 2,
        "width": 10,
        "height": 1,
        "name": "Error:",
        "label": "Error:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1330,
        "y": 780,
        "wires": []
    },
    {
        "id": "279795e0.b9252a",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Start new log",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4a9c976a.f72248",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 9,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Motor settings ",
        "format": "<font color=\"red\" size=120%>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb0c5e52.89f0f",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 21,
        "width": 3,
        "height": 1,
        "name": "Lower value [Hex]",
        "label": "Lower value [Hex]",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 620,
        "wires": []
    },
    {
        "id": "d15fddfe.0050f",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 26,
        "width": 3,
        "height": 1,
        "name": "Upper value [Hex]",
        "label": "Upper value [Hex]",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "cf10c74a.b7d328",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 23,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Berghof scale settings ",
        "format": "<font color=\"red\" size=120%>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "338f582f.4b3808",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "order": 3,
        "width": 10,
        "height": 1,
        "name": "Machine state:",
        "label": "Machine state:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1360,
        "y": 820,
        "wires": []
    },
    {
        "id": "b1ec0e18.6edbe",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "e5f312d5.bb93e",
        "order": 14,
        "width": 7,
        "height": 1,
        "name": "Actual Torque Pumpmotor [Nm]",
        "label": "Actual Torque Pumpmotor [Nm]",
        "format": "{{msg.PumpmotorAcctualTorque.PumpmotorAcctualTorque}}",
        "layout": "col-center",
        "className": "",
        "x": 1670,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c58837f4.6911f8",
        "type": "ui_text",
        "z": "98ee35b2.acfb58",
        "group": "e5f312d5.bb93e",
        "order": 16,
        "width": 7,
        "height": 1,
        "name": "Actual Torque Mixmotor [Nm]",
        "label": "Actual Torque Mixmotor [Nm]",
        "format": "{{msg.MixmotorAcctualTorque.MixmotorAcctualTorque}}",
        "layout": "col-center",
        "className": "",
        "x": 1660,
        "y": 1400,
        "wires": []
    },
    {
        "id": "63d3c2a3.387c5c",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "e5f312d5.bb93e",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Actual  Mixer motorspeed  [rpm]",
        "label": "Rpm",
        "format": "{{msg.MixmotorAcctualSpeed.MixmotorAcctualSpeed}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1670,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b0cc0b75.292558",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "Actual  height mixchamber",
        "group": "31520101.7d7dae",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "wave",
        "title": "Tank level",
        "label": "mm",
        "format": "{{msg.ActualHeight.ActualHeight}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a5cbda6a.1a93c8",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "Temprature_1",
        "group": "31520101.7d7dae",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temprature_1",
        "label": "C",
        "format": "{{msg.TempSensor_1.TempSensor}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1620,
        "y": 1080,
        "wires": []
    },
    {
        "id": "57dc85b1.9e34ec",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "Temprature_2",
        "group": "31520101.7d7dae",
        "order": 5,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temprature_2",
        "label": "C",
        "format": "{{msg.TempSensor_2.TempSensor}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1620,
        "y": 1120,
        "wires": []
    },
    {
        "id": "54f0c911.912e68",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "Pressure_1",
        "group": "31520101.7d7dae",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pressure_1",
        "label": "Pa",
        "format": "{{msg.Pressure_1.PressureSensor}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1610,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6d875186.2c4cc",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "Pressure_2",
        "group": "31520101.7d7dae",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pressure_2",
        "label": "Pa",
        "format": "{{msg.Pressure_2.PressureSensor}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1610,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8f6c46c8.cce218",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "",
        "group": "e5f312d5.bb93e",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Pump motorspeed [rpm]",
        "label": "Rpm",
        "format": "{{msg.PumpmotorAcctualSpeed.PumpmotorAcctualSpeed}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1670,
        "y": 1480,
        "wires": []
    },
    {
        "id": "e14f4f50.ec24c",
        "type": "ui_gauge",
        "z": "98ee35b2.acfb58",
        "name": "Actual Berghof motorspeed [rpm]",
        "group": "e5f312d5.bb93e",
        "order": 7,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Actual  Berghof motorspeed [rpm]",
        "label": "rpm",
        "format": "{{msg.MotorSpeed.MotorSpeed}}",
        "min": "160",
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1680,
        "y": 1560,
        "wires": []
    },
    {
        "id": "85bae3c7.9ac33",
        "type": "ui_toast",
        "z": "98ee35b2.acfb58",
        "position": "bottom right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Trace is stopped",
        "name": "",
        "x": 2650,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8a77e932.de0ff8",
        "type": "ui_toast",
        "z": "98ee35b2.acfb58",
        "position": "bottom right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Trace is started",
        "name": "",
        "x": 2650,
        "y": 1160,
        "wires": []
    },
    {
        "id": "de27790f.f23f18",
        "type": "ui_template",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "name": "Emergency",
        "order": 1,
        "width": 10,
        "height": 1,
        "format": "<svg>\n<circle cx=\"55\" cy=\"40\" r=\"3000\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n    \n</svg>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1670,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a1a2871c.108168",
        "type": "ui_template",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "name": "Filename",
        "order": 16,
        "width": 10,
        "height": 2,
        "format": "<md-input-container  style=\"overflow:hidden;\">\n    <span> \n    <input ng-model=\"user.input\" style=\"width350px\" placeholder={{msg.topic}}><button class=\"bluebutton\" ng-click=\"msg.payload = user.input; send(msg)\" ng-keypress=\"($event.charCode==13)?msg.payload = user.input; send(msg)\" ngstyle=\"{background-color: #008CBA;}\" style=\"\n    color: #fff;\n    background-color: #5bc0de;\n    border-color: #46b8da;\">Save file</button></span>\n</md-input-container>\n    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2880,
        "y": 1120,
        "wires": [
            [
                "8f7cbd59.810f"
            ]
        ]
    },
    {
        "id": "51b180bd.a7699",
        "type": "ui_template",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "name": "Stop/break",
        "order": 17,
        "width": 2,
        "height": 2,
        "format": "<svg>\n<circle cx=\"55\" cy=\"40\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n    \n</svg>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2870,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "bae21402.6c6148",
        "type": "ui_template",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "name": "Set lower limit",
        "order": 19,
        "width": 4,
        "height": 2,
        "format": "<md-input-container  style=\"overflow:hidden;\">\n    <span> \n    <input ng-model=\"user.input\" style=\"width350px\" placeholder={{msg.topic}}><button class=\"bluebutton\" ng-click=\"msg.payload = user.input; send(msg)\" ng-keypress=\"($event.charCode==13)?msg.payload = user.input; send(msg)\" ngstyle=\"{background-color: #008CBA;}\" style=\"\n    color: #fff;\n    background-color: #5bc0de;\n    border-color: #46b8da;\">Set lower limit</button></span>\n</md-input-container>\n    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 660,
        "wires": [
            [
                "5b50da9.73f3424"
            ]
        ]
    },
    {
        "id": "dcd990c6.5047c",
        "type": "ui_template",
        "z": "98ee35b2.acfb58",
        "group": "d946ef52.c4e01",
        "name": "Set Upper limit",
        "order": 24,
        "width": 4,
        "height": 2,
        "format": "<md-input-container  style=\"overflow:hidden;\">\n    <span> \n    <input ng-model=\"user.input\" style=\"width350px\" placeholder={{msg.topic}}><button class=\"bluebutton\" ng-click=\"msg.payload = user.input; send(msg)\" ng-keypress=\"($event.charCode==13)?msg.payload = user.input; send(msg)\" ngstyle=\"{background-color: #008CBA;}\" style=\"\n    color: #fff;\n    background-color: #5bc0de;\n    border-color: #46b8da;\">Set Upper limit</button></span>\n</md-input-container>\n    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "ba7a520a.9fadc"
            ]
        ]
    },
    {
        "id": "bb54d129.c4195",
        "type": "InterruptFlowUltimate",
        "z": "98ee35b2.acfb58",
        "name": "Interrupt Flow",
        "triggertopic": "trigger",
        "x": 2640,
        "y": 1200,
        "wires": [
            [
                "a3073da1.a2ed",
                "70628a78.4a12a4"
            ]
        ]
    },
    {
        "id": "77e4c2bb.bf09ec",
        "type": "InterruptFlowUltimate",
        "z": "98ee35b2.acfb58",
        "name": "payload",
        "triggertopic": "trigger",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "5b50da9.73f3424"
            ]
        ]
    },
    {
        "id": "8b64e75f.ad4f68",
        "type": "InterruptFlowUltimate",
        "z": "98ee35b2.acfb58",
        "name": "payload",
        "triggertopic": "trigger",
        "x": 460,
        "y": 540,
        "wires": [
            [
                "ba7a520a.9fadc"
            ]
        ]
    },
    {
        "id": "4c5b4d38.be98a4",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.10:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "d946ef52.c4e01",
        "type": "ui_group",
        "name": "Control",
        "tab": "29764b84.e49f2c",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "e5f312d5.bb93e",
        "type": "ui_group",
        "name": "Motor Overview",
        "tab": "29764b84.e49f2c",
        "order": 3,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "31520101.7d7dae",
        "type": "ui_group",
        "name": "Sensor Overview",
        "tab": "29764b84.e49f2c",
        "order": 3,
        "disp": true,
        "width": 25,
        "collapse": true
    },
    {
        "id": "29764b84.e49f2c",
        "type": "ui_tab",
        "name": "PLC1515T",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    }
]