flows/gantry_robot_read_values.json
[
    {
        "id": "a71eb2e3d73a904d",
        "type": "tab",
        "label": "Gantry: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0dbc8f3da94a77b9",
        "type": "moment",
        "z": "a71eb2e3d73a904d",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 1600,
        "y": 400,
        "wires": [
            [
                "6d10866b439d0f4a"
            ]
        ]
    },
    {
        "id": "f036e0e2688a56bd",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position X [mm]",
        "format": "{{msg.payload.gantry_position[0].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2880,
        "y": 300,
        "wires": []
    },
    {
        "id": "6f5020af3ddd2abb",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position Y [mm]",
        "format": "{{msg.payload.gantry_position[1].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2880,
        "y": 340,
        "wires": []
    },
    {
        "id": "5095f0e444c6a63a",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position Z [mm]",
        "format": "{{msg.payload.gantry_position[2].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2880,
        "y": 380,
        "wires": []
    },
    {
        "id": "17515af3276b57e6",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position C [deg]",
        "format": "{{msg.payload.gantry_position[3].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2880,
        "y": 420,
        "wires": []
    },
    {
        "id": "45d08f2621892d0d",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity X [mm/min]",
        "format": "{{msg.payload.gantry_velocity[0].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2890,
        "y": 480,
        "wires": []
    },
    {
        "id": "ce3b0e8a02cacb08",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity Y [mm/min]",
        "format": "{{msg.payload.gantry_velocity[1].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2890,
        "y": 520,
        "wires": []
    },
    {
        "id": "9f15ed6a3024fc24",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity Z [mm/min]",
        "format": "{{msg.payload.gantry_velocity[2].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2890,
        "y": 560,
        "wires": []
    },
    {
        "id": "a9433ed30527c94b",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity C [deg/min]",
        "format": "{{msg.payload.gantry_velocity[3].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2900,
        "y": 600,
        "wires": []
    },
    {
        "id": "e83a926391a32bf8",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R100",
        "format": "{{msg.payload.gantry_r_parameters[0].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 900,
        "wires": []
    },
    {
        "id": "904e4315f32a9cdf",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R101",
        "format": "{{msg.payload.gantry_r_parameters[1].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 940,
        "wires": []
    },
    {
        "id": "7aa1e39b165f2dc1",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R102",
        "format": "{{msg.payload.gantry_r_parameters[2].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 980,
        "wires": []
    },
    {
        "id": "b6cc93ea4679a5e8",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R103",
        "format": "{{msg.payload.gantry_r_parameters[3].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f18869a9996effd4",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R104",
        "format": "{{msg.payload.gantry_r_parameters[4].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a6948fab65a063f7",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R105",
        "format": "{{msg.payload.gantry_r_parameters[5].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c9ffa66cf8b9f25e",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R106",
        "format": "{{msg.payload.gantry_r_parameters[6].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b2637085a986827e",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R107",
        "format": "{{msg.payload.gantry_r_parameters[7].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d34dbf0e28144568",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R108",
        "format": "{{msg.payload.gantry_r_parameters[8].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2162fc936d10dcee",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "e31c1e5841100a2d",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R109",
        "format": "{{msg.payload.gantry_r_parameters[9].toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2850,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b1f50cb4688536dc",
        "type": "link out",
        "z": "a71eb2e3d73a904d",
        "name": "Gantry values out",
        "mode": "link",
        "links": [
            "999dc9438e6b944c",
            "4ef9f95a54d565bc"
        ],
        "x": 2235,
        "y": 260,
        "wires": []
    },
    {
        "id": "a9820a162af9eb2e",
        "type": "OpcUa-Client",
        "z": "a71eb2e3d73a904d",
        "endpoint": "e8d1b376d5668d60",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "newCerts",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 820,
        "y": 320,
        "wires": [
            [
                "d0ff1fcc0752bd95"
            ],
            []
        ]
    },
    {
        "id": "bb62e41a68057569",
        "type": "inject",
        "z": "a71eb2e3d73a904d",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "5d4d7af3e193c51f",
                "0b2f2ec61568ebd3",
                "1e4eaf216297bd64",
                "b0346cba86d0a297",
                "ac287bafd15a86cc"
            ]
        ]
    },
    {
        "id": "5d4d7af3e193c51f",
        "type": "OpcUa-Item",
        "z": "a71eb2e3d73a904d",
        "item": "ns=2;s=/Channel/MachineAxis/aaIm[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "gantry_position",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "0b2f2ec61568ebd3",
        "type": "OpcUa-Item",
        "z": "a71eb2e3d73a904d",
        "item": "ns=2;s=/Channel/MachineAxis/aaVactM[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "gantry_velocity",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "1e4eaf216297bd64",
        "type": "OpcUa-Item",
        "z": "a71eb2e3d73a904d",
        "item": "ns=2;s=/Channel/MachineAxis/cmdFeedRate[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "gantry_feedrate",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "b0346cba86d0a297",
        "type": "OpcUa-Item",
        "z": "a71eb2e3d73a904d",
        "item": "ns=2;s=/Channel/MachineAxis/feedRateOvr",
        "datatype": "Double",
        "value": "",
        "name": "gantry_feedrate_overwrite",
        "x": 490,
        "y": 440,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "f6e658910defe653",
        "type": "OpcUa-Item",
        "z": "a71eb2e3d73a904d",
        "d": true,
        "item": "ns=2;s=/Nck/MachineAxis/vaPower[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "gantry_power",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "41076e7e0254e332",
        "type": "inject",
        "z": "a71eb2e3d73a904d",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "ac287bafd15a86cc",
        "type": "OpcUa-Item",
        "z": "a71eb2e3d73a904d",
        "item": "ns=2;s=/Channel/Parameter/R[100,109]",
        "datatype": "Double Array",
        "value": "",
        "name": "gantry_r_parameters",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "d0ff1fcc0752bd95",
        "type": "function",
        "z": "a71eb2e3d73a904d",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "6d10866b439d0f4a",
                "4fbf0d0260313436"
            ]
        ]
    },
    {
        "id": "6d10866b439d0f4a",
        "type": "join",
        "z": "a71eb2e3d73a904d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1830,
        "y": 320,
        "wires": [
            [
                "08e36b89fc17b8c0"
            ]
        ]
    },
    {
        "id": "08e36b89fc17b8c0",
        "type": "function",
        "z": "a71eb2e3d73a904d",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"gantry\"\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2070,
        "y": 320,
        "wires": [
            [
                "f036e0e2688a56bd",
                "6f5020af3ddd2abb",
                "5095f0e444c6a63a",
                "17515af3276b57e6",
                "45d08f2621892d0d",
                "ce3b0e8a02cacb08",
                "9f15ed6a3024fc24",
                "a9433ed30527c94b",
                "e83a926391a32bf8",
                "904e4315f32a9cdf",
                "7aa1e39b165f2dc1",
                "b6cc93ea4679a5e8",
                "f18869a9996effd4",
                "a6948fab65a063f7",
                "c9ffa66cf8b9f25e",
                "b2637085a986827e",
                "d34dbf0e28144568",
                "2162fc936d10dcee",
                "b1f50cb4688536dc",
                "1ef5cb0ab52ce65f",
                "7b40669016c3bfc9",
                "bd779217b37cd5a2",
                "d269581578f30a3e",
                "d11cdddc5a322cdc"
            ]
        ]
    },
    {
        "id": "4fbf0d0260313436",
        "type": "function",
        "z": "a71eb2e3d73a904d",
        "name": "Source time msg",
        "func": "if (msg.topic === \"gantry_position\") \n{ \n    return { topic: \"gantry_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 400,
        "wires": [
            [
                "0dbc8f3da94a77b9"
            ]
        ]
    },
    {
        "id": "98d496b12aaf1ee3",
        "type": "link in",
        "z": "a71eb2e3d73a904d",
        "name": "readmultiple in",
        "links": [
            "862c74438627d0e4",
            "398de18a215eb45c"
        ],
        "x": 395,
        "y": 240,
        "wires": [
            [
                "a9820a162af9eb2e"
            ]
        ]
    },
    {
        "id": "d11cdddc5a322cdc",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feedrate X [mm/min]",
        "format": "{{msg.payload.gantry_feedrate[0].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2900,
        "y": 700,
        "wires": []
    },
    {
        "id": "d269581578f30a3e",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feedrate Y [mm/min]",
        "format": "{{msg.payload.gantry_feedrate[1].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2900,
        "y": 740,
        "wires": []
    },
    {
        "id": "bd779217b37cd5a2",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feedrate Z [mm/min]",
        "format": "{{msg.payload.gantry_feedrate[2].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2900,
        "y": 780,
        "wires": []
    },
    {
        "id": "7b40669016c3bfc9",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feedrate C [deg/min]",
        "format": "{{msg.payload.gantry_feedrate[3].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2900,
        "y": 820,
        "wires": []
    },
    {
        "id": "1ef5cb0ab52ce65f",
        "type": "ui_text",
        "z": "a71eb2e3d73a904d",
        "group": "39abb633de44e13c",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feedrate overwrite [%]",
        "format": "{{msg.payload.gantry_feedrate_overwrite.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2900,
        "y": 660,
        "wires": []
    },
    {
        "id": "5a06500b4af42181",
        "type": "ui_spacer",
        "z": "a71eb2e3d73a904d",
        "name": "spacer",
        "group": "39abb633de44e13c",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "04494c21b80c5660",
        "type": "ui_spacer",
        "z": "a71eb2e3d73a904d",
        "name": "spacer",
        "group": "39abb633de44e13c",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "a1c5f489512d9fdc",
        "type": "ui_spacer",
        "z": "a71eb2e3d73a904d",
        "name": "spacer",
        "group": "39abb633de44e13c",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "39abb633de44e13c",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ca315ccc11e55671",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e31c1e5841100a2d",
        "type": "ui_group",
        "name": "R-parameters",
        "tab": "ca315ccc11e55671",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d1b376d5668d60",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.100:4840",
        "secpol": "Basic256Sha256",
        "secmode": "SignAndEncrypt",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "ca315ccc11e55671",
        "type": "ui_tab",
        "name": "Gantry robot",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]