flows/gantry_robot_read_values.json
[
    {
        "id": "71261ff4e362dfc9",
        "type": "tab",
        "label": "Gantry: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "569cbbcd9c221e22",
        "type": "join",
        "z": "71261ff4e362dfc9",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 2150,
        "y": 1240,
        "wires": [
            [
                "b618b2a5afcd6387"
            ]
        ]
    },
    {
        "id": "b0db6d1a5f3bec61",
        "type": "function",
        "z": "71261ff4e362dfc9",
        "name": "aaIm",
        "func": "msg.X_mm=msg.payload[0].toString()\nmsg.Y_mm=msg.payload[1].toString()\nmsg.Z_mm=msg.payload[2].toString()\nmsg.C_deg= msg.payload[3].toString()\n// msg.payload.add(msg.sourceTimestamp.toString())\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 260,
        "wires": [
            [
                "569cbbcd9c221e22",
                "fa7791b085677403",
                "68dac79938b8b2e4",
                "6f782d52e5755afb",
                "ad24950bc0a04ea0"
            ]
        ]
    },
    {
        "id": "d96e4b77951a7bb2",
        "type": "function",
        "z": "71261ff4e362dfc9",
        "name": "aaVactM",
        "func": "msg.XVel_mmMin=msg.payload[0].toString()\nmsg.YVel_mmMin=msg.payload[1].toString()\nmsg.ZVel_mmMin=msg.payload[2].toString()\nmsg.CVel_mmMin=msg.payload[3].toString()\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 300,
        "wires": [
            [
                "569cbbcd9c221e22",
                "50b84d8a7535a7fc",
                "e185a7aa455094f6",
                "1bf4dea24aa37e88",
                "12445c5a5615510a"
            ]
        ]
    },
    {
        "id": "f3a13254034a5420",
        "type": "function",
        "z": "71261ff4e362dfc9",
        "name": "cmdFeedRate",
        "func": "msg.XFeedRate_mmMin=msg.payload[0].toString()\nmsg.YFeedRate_mmMin=msg.payload[1].toString()\nmsg.ZFeedRate_mmMin=msg.payload[2].toString()\nmsg.CFeedRate_mmMin=msg.payload[3].toString()\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 340,
        "wires": [
            [
                "569cbbcd9c221e22"
            ]
        ]
    },
    {
        "id": "92b8f75f56bf3130",
        "type": "function",
        "z": "71261ff4e362dfc9",
        "name": "feedRateOvr",
        "func": "msg.FeedRateOverride_Perc=msg.payload.toString()\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 380,
        "wires": [
            [
                "569cbbcd9c221e22"
            ]
        ]
    },
    {
        "id": "3c520222712bcfaf",
        "type": "function",
        "z": "71261ff4e362dfc9",
        "name": "vaPower",
        "func": "msg.XPower_W=msg.payload[0].toString()\nmsg.YPower_W=msg.payload[1].toString()\nmsg.ZPower_W=msg.payload[2].toString()\nmsg.CPower_W=msg.payload[3].toString()\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "569cbbcd9c221e22",
                "372e03cf61bbf926",
                "8b1ca803d9b4b749",
                "d68dc2a261983d6f",
                "614311a69b92bb68"
            ]
        ]
    },
    {
        "id": "d6970df1643bc0d2",
        "type": "moment",
        "z": "71261ff4e362dfc9",
        "name": "",
        "topic": "",
        "input": "sourceTimestamp",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "sourceTime",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 1320,
        "y": 220,
        "wires": [
            [
                "569cbbcd9c221e22"
            ]
        ]
    },
    {
        "id": "3e167bd351b96a9b",
        "type": "switch",
        "z": "71261ff4e362dfc9",
        "name": "Values",
        "property": "browseName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "aaIm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aaVactM",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cmdFeedRate",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "feedRateOvr",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vaPower",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "R",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 6,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "b0db6d1a5f3bec61",
                "d6970df1643bc0d2"
            ],
            [
                "d96e4b77951a7bb2"
            ],
            [
                "f3a13254034a5420"
            ],
            [
                "92b8f75f56bf3130"
            ],
            [
                "3c520222712bcfaf"
            ],
            [
                "2d323e50ce986709"
            ]
        ]
    },
    {
        "id": "fa7791b085677403",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "X position [mm]",
        "format": "{{msg.payload[0].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2180,
        "y": 380,
        "wires": []
    },
    {
        "id": "68dac79938b8b2e4",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Y position [mm]",
        "format": "{{msg.payload[1].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2180,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f782d52e5755afb",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Z position [mm]",
        "format": "{{msg.payload[2].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2180,
        "y": 460,
        "wires": []
    },
    {
        "id": "ad24950bc0a04ea0",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "C position [deg]",
        "format": "{{msg.payload[3].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2180,
        "y": 500,
        "wires": []
    },
    {
        "id": "50b84d8a7535a7fc",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "X velocity [mm/min]",
        "format": "{{msg.payload[0].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2190,
        "y": 540,
        "wires": []
    },
    {
        "id": "e185a7aa455094f6",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Y velocity [mm/min]",
        "format": "{{msg.payload[1].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2190,
        "y": 580,
        "wires": []
    },
    {
        "id": "1bf4dea24aa37e88",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Z velocity [mm/min]",
        "format": "{{msg.payload[2].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2190,
        "y": 620,
        "wires": []
    },
    {
        "id": "12445c5a5615510a",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "C velocity [deg/min]",
        "format": "{{msg.payload[3].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2190,
        "y": 660,
        "wires": []
    },
    {
        "id": "372e03cf61bbf926",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power X [W]",
        "format": "{{msg.payload[0].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2170,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b1ca803d9b4b749",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Y [W]",
        "format": "{{msg.payload[1].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2170,
        "y": 260,
        "wires": []
    },
    {
        "id": "d68dc2a261983d6f",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Z [W]",
        "format": "{{msg.payload[2].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2170,
        "y": 300,
        "wires": []
    },
    {
        "id": "614311a69b92bb68",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "39abb633de44e13c",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power C [W]",
        "format": "{{msg.payload[3].toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2170,
        "y": 340,
        "wires": []
    },
    {
        "id": "4483b25e45becc2f",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R100",
        "format": "{{msg.R100.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 720,
        "wires": []
    },
    {
        "id": "d09f73723709053f",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R101",
        "format": "{{msg.R101.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 760,
        "wires": []
    },
    {
        "id": "d9ab2a3b4b92b9fd",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R102",
        "format": "{{msg.R102.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 800,
        "wires": []
    },
    {
        "id": "f1a214eed371c87f",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R103",
        "format": "{{msg.R103.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 840,
        "wires": []
    },
    {
        "id": "a4d571d857413224",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R104",
        "format": "{{msg.R104.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 880,
        "wires": []
    },
    {
        "id": "a292abb4e4016267",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R105",
        "format": "{{msg.R105.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 920,
        "wires": []
    },
    {
        "id": "186c4e2d985c4a0b",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R106",
        "format": "{{msg.R106.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 960,
        "wires": []
    },
    {
        "id": "32dc1d08bb4ac58c",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R107",
        "format": "{{msg.R107.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e979ef019c4a3833",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R108",
        "format": "{{msg.R108.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ca9041b540d10759",
        "type": "ui_text",
        "z": "71261ff4e362dfc9",
        "group": "e31c1e5841100a2d",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R109",
        "format": "{{msg.R109.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b618b2a5afcd6387",
        "type": "link out",
        "z": "71261ff4e362dfc9",
        "name": "",
        "mode": "link",
        "links": [
            "ac137530bff3e422"
        ],
        "x": 2295,
        "y": 1240,
        "wires": []
    },
    {
        "id": "74c2ed4e4f99efea",
        "type": "OpcUa-Client",
        "z": "71261ff4e362dfc9",
        "endpoint": "e8d1b376d5668d60",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "newCerts",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 800,
        "y": 320,
        "wires": [
            [
                "3e167bd351b96a9b"
            ],
            []
        ]
    },
    {
        "id": "ffede7a6c36d2694",
        "type": "inject",
        "z": "71261ff4e362dfc9",
        "d": true,
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7b3bc7c6128f53fa",
        "type": "OpcUa-Item",
        "z": "71261ff4e362dfc9",
        "item": "ns=2;s=/Channel/MachineAxis/aaIm[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "aaIm",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "74c2ed4e4f99efea"
            ]
        ]
    },
    {
        "id": "57a5a8037cf7efa7",
        "type": "OpcUa-Item",
        "z": "71261ff4e362dfc9",
        "item": "ns=2;s=/Channel/MachineAxis/aaVactM[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "aaVactM",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "74c2ed4e4f99efea"
            ]
        ]
    },
    {
        "id": "971393380fc1c5fe",
        "type": "OpcUa-Item",
        "z": "71261ff4e362dfc9",
        "item": "ns=2;s=/Channel/MachineAxis/cmdFeedRate[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "cmdFeedRate",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "74c2ed4e4f99efea"
            ]
        ]
    },
    {
        "id": "6aeaa8c8322dee8e",
        "type": "OpcUa-Item",
        "z": "71261ff4e362dfc9",
        "item": "ns=2;s=/Channel/MachineAxis/feedRateOvr",
        "datatype": "Double",
        "value": "",
        "name": "feedRateOvr",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "74c2ed4e4f99efea"
            ]
        ]
    },
    {
        "id": "fa26547a5264758b",
        "type": "OpcUa-Item",
        "z": "71261ff4e362dfc9",
        "item": "ns=2;s=/Nck/MachineAxis/vaPower[1,4]",
        "datatype": "Double Array",
        "value": "",
        "name": "vaPower",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "74c2ed4e4f99efea"
            ]
        ]
    },
    {
        "id": "ad094fc96d40e38f",
        "type": "inject",
        "z": "71261ff4e362dfc9",
        "d": true,
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d42206c3abc5381d",
        "type": "inject",
        "z": "71261ff4e362dfc9",
        "d": true,
        "name": "Read items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 410,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0eca5e3ea008443a",
        "type": "link in",
        "z": "71261ff4e362dfc9",
        "name": "Timer in",
        "links": [
            "b847af6089af00ad"
        ],
        "x": 225,
        "y": 320,
        "wires": [
            [
                "57a5a8037cf7efa7",
                "971393380fc1c5fe",
                "6aeaa8c8322dee8e",
                "fa26547a5264758b",
                "7b3bc7c6128f53fa",
                "40a14ba37d873c4d"
            ]
        ]
    },
    {
        "id": "40a14ba37d873c4d",
        "type": "OpcUa-Item",
        "z": "71261ff4e362dfc9",
        "item": "ns=2;s=/Channel/Parameter/R[100,109]",
        "datatype": "Double Array",
        "value": "",
        "name": "R",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "74c2ed4e4f99efea"
            ]
        ]
    },
    {
        "id": "2d323e50ce986709",
        "type": "function",
        "z": "71261ff4e362dfc9",
        "name": "R parameters",
        "func": "msg.R100=msg.payload[0]\nmsg.R101=msg.payload[1]\nmsg.R102=msg.payload[2]\nmsg.R103=msg.payload[3]\nmsg.R104=msg.payload[4]\nmsg.R105=msg.payload[5]\nmsg.R106=msg.payload[6]\nmsg.R107=msg.payload[7]\nmsg.R108=msg.payload[8]\nmsg.R109=msg.payload[9]\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "569cbbcd9c221e22",
                "4483b25e45becc2f",
                "d09f73723709053f",
                "d9ab2a3b4b92b9fd",
                "f1a214eed371c87f",
                "a4d571d857413224",
                "a292abb4e4016267",
                "186c4e2d985c4a0b",
                "32dc1d08bb4ac58c",
                "e979ef019c4a3833",
                "ca9041b540d10759"
            ]
        ]
    },
    {
        "id": "39abb633de44e13c",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ca315ccc11e55671",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e31c1e5841100a2d",
        "type": "ui_group",
        "name": "R-parameters",
        "tab": "ca315ccc11e55671",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d1b376d5668d60",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.100:4840",
        "secpol": "Basic256Sha256",
        "secmode": "SignAndEncrypt",
        "none": false,
        "login": true
    },
    {
        "id": "ca315ccc11e55671",
        "type": "ui_tab",
        "name": "Gantry robot",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]