flows/mai_multimix_write_values.json
[
    {
        "id": "f858fffa6ac7f49d",
        "type": "tab",
        "label": "MAI: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a2e14230045e5f9",
        "type": "group",
        "z": "f858fffa6ac7f49d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f15fa9b2cd469c78",
            "8bbc2474e3a9e099",
            "86bc458168320c72",
            "f9745893478aeae3",
            "076d54139244fcfb",
            "d152c0ba40133166",
            "ca966d78f595dc3c",
            "cf01da23037770d0",
            "1127d91bf6d47d3e",
            "eebae6302dd8e985",
            "d91fa1df083d06d7"
        ],
        "x": 94,
        "y": 1139,
        "w": 1132,
        "h": 242
    },
    {
        "id": "be0d44dfca8ec0b4",
        "type": "OpcUa-Client",
        "z": "f858fffa6ac7f49d",
        "endpoint": "b6399b95df174ec3",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1380,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ced1a533230444db",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MP_Auto_On",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Auto on",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "3e0551a5cff4b152",
        "type": "ui_switch",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Auto on",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "ced1a533230444db"
            ]
        ]
    },
    {
        "id": "de4c286b0e726f06",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Reset_Error",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Reset",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "719bc5690d37800d",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "3e0551a5cff4b152",
                "89a60585e3571cb0",
                "9d3215d0bd60e43a",
                "06a37496a36eeff5",
                "1b9be0e161b52ca5"
            ]
        ]
    },
    {
        "id": "f15fa9b2cd469c78",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Water_Flowrate_Set_lh_I",
        "datatype": "Int16",
        "value": "msg.payload",
        "name": "Set water flow",
        "x": 1120,
        "y": 1240,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "8bbc2474e3a9e099",
        "type": "ui_text_input",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "",
        "label": "Water flow",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 1300,
        "wires": [
            [
                "86bc458168320c72"
            ]
        ]
    },
    {
        "id": "86bc458168320c72",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "",
        "func": "if( msg.payload<170){msg.payload=170}\nelse if(msg.payload>500){msg.payload=500}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1300,
        "wires": [
            [
                "d152c0ba40133166"
            ]
        ]
    },
    {
        "id": "f9745893478aeae3",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "230",
        "payloadType": "num",
        "x": 190,
        "y": 1300,
        "wires": [
            [
                "8bbc2474e3a9e099"
            ]
        ]
    },
    {
        "id": "13fa937a742be8b0",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_EXT_Pump_Run",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Pump run",
        "x": 880,
        "y": 380,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "89a60585e3571cb0",
        "type": "ui_switch",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Pump run",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "13fa937a742be8b0"
            ]
        ]
    },
    {
        "id": "c576c431b01642bf",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Mixer_Disabled",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Mixer disabled",
        "x": 900,
        "y": 420,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "9d3215d0bd60e43a",
        "type": "ui_switch",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Mixer disabled",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "c576c431b01642bf"
            ]
        ]
    },
    {
        "id": "1d399ea4b4e7dc89",
        "type": "ui_text_input",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Pump speed",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "ec99de5165855795"
            ]
        ]
    },
    {
        "id": "ab0f5dd794b7c432",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "2100",
        "payloadType": "num",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "1d399ea4b4e7dc89"
            ]
        ]
    },
    {
        "id": "cb735cfbbd91b5b1",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_EXT_Pump_Speed_cHz_I",
        "datatype": "Int16",
        "value": "msg.payload",
        "name": "Set pump speed",
        "x": 900,
        "y": 640,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "ec99de5165855795",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "func": "if( msg.payload<1500){msg.payload=1500}\nelse if(msg.payload>8000){msg.payload=8000}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 640,
        "wires": [
            [
                "cb735cfbbd91b5b1"
            ]
        ]
    },
    {
        "id": "06a37496a36eeff5",
        "type": "ui_switch",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Vibration block enabled",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "e69f14bb010a1c44"
            ]
        ]
    },
    {
        "id": "2957321064a4ba7c",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Pump_Vib_Mode_I",
        "datatype": "Int16",
        "value": "msg.topic",
        "name": "Mixer disabled",
        "x": 900,
        "y": 460,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "e69f14bb010a1c44",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "func": "msg.payload = msg.payload == true ? 1 : 0\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "2957321064a4ba7c"
            ]
        ]
    },
    {
        "id": "1c822ab91217639e",
        "type": "ui_text",
        "z": "f858fffa6ac7f49d",
        "group": "2766a474835c38ac",
        "order": 12,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "cHz",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "6286b209a9af5523",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "d97f08b9569b68d3"
            ]
        ]
    },
    {
        "id": "b44ed9acfd9a4c7b",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "4b6613454008cb06"
            ]
        ]
    },
    {
        "id": "d97f08b9569b68d3",
        "type": "ui_text_input",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Wetprobe covered delay",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 18,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "e774e368e954bff0"
            ]
        ]
    },
    {
        "id": "4b6613454008cb06",
        "type": "ui_text_input",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Wetprobe uncovered delay",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 20,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 420,
        "y": 900,
        "wires": [
            [
                "871d7cafdea7c8fe"
            ]
        ]
    },
    {
        "id": "e774e368e954bff0",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "func": "if( msg.payload<2){msg.payload=2}\nelse if(msg.payload>120){msg.payload=120}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 860,
        "wires": [
            [
                "c1507aa966157f97"
            ]
        ]
    },
    {
        "id": "871d7cafdea7c8fe",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "func": "if( msg.payload<2){msg.payload=2}\nelse if(msg.payload>120){msg.payload=120}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 900,
        "wires": [
            [
                "0af23cb1d7ba1468"
            ]
        ]
    },
    {
        "id": "c1507aa966157f97",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Wetprobe_Upper_Cov_Delay_s_I",
        "datatype": "Int16",
        "value": "msg.payload",
        "name": "Covered delay",
        "x": 900,
        "y": 860,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "0af23cb1d7ba1468",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Wetprobe_Upper_NCov_Delay_s_I",
        "datatype": "Int16",
        "value": "msg.payload",
        "name": "Uncovered delay",
        "x": 910,
        "y": 900,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "3fa25b5ad9385ed0",
        "type": "ui_text",
        "z": "f858fffa6ac7f49d",
        "group": "2766a474835c38ac",
        "order": 15,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 860,
        "wires": []
    },
    {
        "id": "66e4a40602cd87e5",
        "type": "ui_text",
        "z": "f858fffa6ac7f49d",
        "group": "2766a474835c38ac",
        "order": 17,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 900,
        "wires": []
    },
    {
        "id": "24bab3221f00c3fd",
        "type": "ui_text_input",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Water pre-run",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 14,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "56b4523e62818768"
            ]
        ]
    },
    {
        "id": "bc3de36ca287de84",
        "type": "ui_text_input",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Mixer post-run",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "08e8d46c6af76785"
            ]
        ]
    },
    {
        "id": "f9a6f07948c37569",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "24bab3221f00c3fd"
            ]
        ]
    },
    {
        "id": "293b5368cb2eedb7",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0.1",
        "payloadType": "num",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "bc3de36ca287de84"
            ]
        ]
    },
    {
        "id": "56b4523e62818768",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "func": "if( msg.payload<0.1){msg.payload=0.1}\nelse if(msg.payload>2.5){msg.payload=2.5}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 780,
        "wires": [
            [
                "08ce9b7a0878f1d4"
            ]
        ]
    },
    {
        "id": "08e8d46c6af76785",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "func": "if( msg.payload<0.1){msg.payload=0.1}\nelse if(msg.payload>2.5){msg.payload=2.5}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 820,
        "wires": [
            [
                "7208d1d98ccfa8af"
            ]
        ]
    },
    {
        "id": "846ea45ee03b170f",
        "type": "ui_text",
        "z": "f858fffa6ac7f49d",
        "group": "2766a474835c38ac",
        "order": 19,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 780,
        "wires": []
    },
    {
        "id": "b32420689c7f0d31",
        "type": "ui_text",
        "z": "f858fffa6ac7f49d",
        "group": "2766a474835c38ac",
        "order": 21,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 820,
        "wires": []
    },
    {
        "id": "08ce9b7a0878f1d4",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Water_Before_Mixer_s_R",
        "datatype": "Float",
        "value": "msg.payload",
        "name": "Water pre-run",
        "x": 900,
        "y": 780,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "7208d1d98ccfa8af",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Mixer_After_Water_s_R",
        "datatype": "Float",
        "value": "msg.payload",
        "name": "Mixer post-run",
        "x": 900,
        "y": 820,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "076d54139244fcfb",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "Throw value",
        "func": "if (flow.get(\"last\") === undefined) \n{\n    flow.set(\"last\", 230)\n}\n\nif (flow.get(\"mai_water_set_value\") === undefined) \n{\n    flow.set(\"mai_water_set_value\", 230)\n}\n\n\nif (msg.payload == true) \n{\n    msg.payload = flow.get(\"mai_water_set_value\")\n    flow.set(\"last\", flow.get(\"mai_water_set_value\"))\n}\nelse \n{\n    msg.payload = flow.get(\"last\")\n\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "ca966d78f595dc3c"
            ]
        ]
    },
    {
        "id": "d152c0ba40133166",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "Water flow set value",
        "func": "flow.set(\"mai_water_set_value\", msg.payload)\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "ca966d78f595dc3c",
        "type": "delay",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 1240,
        "wires": [
            [
                "f15fa9b2cd469c78"
            ]
        ]
    },
    {
        "id": "cf01da23037770d0",
        "type": "comment",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "Water input: only adjust at water pump run with delay of 2s",
        "info": "",
        "x": 350,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1127d91bf6d47d3e",
        "type": "link in",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "Mai water run in",
        "links": [
            "6cfd87fecacd594f"
        ],
        "x": 155,
        "y": 1240,
        "wires": [
            [
                "d91fa1df083d06d7"
            ]
        ]
    },
    {
        "id": "eebae6302dd8e985",
        "type": "ui_text",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "group": "2766a474835c38ac",
        "order": 10,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "l/h",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 330,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d91fa1df083d06d7",
        "type": "function",
        "z": "f858fffa6ac7f49d",
        "g": "2a2e14230045e5f9",
        "name": "Only inject when value changes",
        "func": "if (context.get('prev_water_set') === 'undefined') {\n    context.set('prev_water_set', false);\n}\n\nif (msg.payload !== context.get('prev_water_set')) {\n    context.set('prev_water_set', msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "076d54139244fcfb"
            ]
        ]
    },
    {
        "id": "e479053b3b742cb9",
        "type": "trigger",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "d075320d990e061d"
            ]
        ]
    },
    {
        "id": "d075320d990e061d",
        "type": "OpcUa-Item",
        "z": "f858fffa6ac7f49d",
        "item": "ns=2;s=Tags.GECO/MPRX_EXT_Heartbeat",
        "datatype": "Boolean",
        "value": "",
        "name": "Heartbeat",
        "x": 880,
        "y": 140,
        "wires": [
            [
                "be0d44dfca8ec0b4"
            ]
        ]
    },
    {
        "id": "5ad0f3017fb2b3bd",
        "type": "inject",
        "z": "f858fffa6ac7f49d",
        "name": "Heartbeat",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "ns=2;s=Tags.GECO/MPRX_EXT_Heartbeat",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "e479053b3b742cb9"
            ]
        ]
    },
    {
        "id": "1b9be0e161b52ca5",
        "type": "ui_switch",
        "z": "f858fffa6ac7f49d",
        "name": "",
        "label": "Reset",
        "tooltip": "",
        "group": "2766a474835c38ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "de4c286b0e726f06"
            ]
        ]
    },
    {
        "id": "b6399b95df174ec3",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.80:48010",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "2766a474835c38ac",
        "type": "ui_group",
        "name": "Write values",
        "tab": "afc4f775962a26f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "afc4f775962a26f4",
        "type": "ui_tab",
        "name": "MAI MULTIMIX",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]