flows/mai_multimix_read_values.json
[
    {
        "id": "a666a495869d02dc",
        "type": "tab",
        "label": "MAI: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66d909b768b75bf9",
        "type": "OpcUa-Client",
        "z": "a666a495869d02dc",
        "endpoint": "b6399b95df174ec3",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1060,
        "y": 440,
        "wires": [
            [
                "6b73c70260272027"
            ],
            []
        ]
    },
    {
        "id": "3dc7498753488f78",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water run [bool]",
        "format": "{{msg.payload.mai_water_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 640,
        "wires": []
    },
    {
        "id": "1adcedb975466d9a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Water:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3150,
        "y": 600,
        "wires": []
    },
    {
        "id": "53f4d54fd9b46f38",
        "type": "link out",
        "z": "a666a495869d02dc",
        "name": "MAI values out",
        "mode": "link",
        "links": [
            "22307808c33194d2",
            "9fdd6ad8a540a86e",
            "e0fca171a7e70f43"
        ],
        "x": 2655,
        "y": 360,
        "wires": []
    },
    {
        "id": "9c8d514deea8a13a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water temp [C]",
        "format": "{{msg.payload.mai_water_temp.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 680,
        "wires": []
    },
    {
        "id": "16e93b510d1ceae8",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow set [L/h]",
        "format": "{{msg.payload.mai_water_flow_set}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 720,
        "wires": []
    },
    {
        "id": "5c8b4a87713eb047",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow actual [L/h]",
        "format": "{{msg.payload.mai_water_flow_actual.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3180,
        "y": 760,
        "wires": []
    },
    {
        "id": "1d25fa3204aedcd5",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mixer:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3140,
        "y": 920,
        "wires": []
    },
    {
        "id": "33b60d6bbc148665",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Pump:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "869328027dd97133",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Settings:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "682a05f8fdacec18",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer run [bool]",
        "format": "{{msg.payload.mai_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 960,
        "wires": []
    },
    {
        "id": "0e3452e0bd4f7e0e",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump run [bool]",
        "format": "{{msg.payload.mai_pump_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b0bad80640665d85",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump output current [dA]",
        "format": "{{msg.payload.mai_pump_output_current}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4f424f3ad1151b8a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump output power [W]",
        "format": "{{msg.payload.mai_pump_output_power}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d8bbdb32c87c24ec",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump vibration mode [int]",
        "format": "{{msg.payload.mai_pump_vibration_mode}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b4e15bbde3c866e0",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Wetprobe cov. delay [s]",
        "format": "{{msg.payload.mai_setting_wetprobe_covered_delay}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ba1801e80eedb056",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Wetprobe uncov. delay [s]",
        "format": "{{msg.payload.mai_setting_wetprobe_uncovered_delay}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3190,
        "y": 1480,
        "wires": []
    },
    {
        "id": "777abdc20ae1bdf2",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mode:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3140,
        "y": 400,
        "wires": []
    },
    {
        "id": "8906b7128efbc760",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Master on [bool]",
        "format": "{{msg.payload.mai_master_on.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 440,
        "wires": []
    },
    {
        "id": "b170dc5d16bd4c3d",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Auto on [bool]",
        "format": "{{msg.payload.mai_auto_on.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3160,
        "y": 480,
        "wires": []
    },
    {
        "id": "7ae1755bef9847a7",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Waterpump reference freq. [cHz]",
        "format": "{{msg.payload.mai_waterpump_ref_freq}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3210,
        "y": 800,
        "wires": []
    },
    {
        "id": "2719dee7cde1370a",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Waterpump output freq. [cHz]",
        "format": "{{msg.payload.mai_waterpump_output_freq}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3200,
        "y": 840,
        "wires": []
    },
    {
        "id": "4736f8f386bdf861",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Active errors [bool]",
        "format": "{{msg.payload.mai_active_errors.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 520,
        "wires": []
    },
    {
        "id": "e2cb7d1f5ad076d2",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water pre-run [s]",
        "format": "{{msg.payload.mai_setting_water_pre_run.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bdbd59c9a6c78304",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "8a339496ca145acd",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer post-run [s]",
        "format": "{{msg.payload.mai_setting_mixer_post_run.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f88a0c1f1f5aee9d",
        "type": "ui_text",
        "z": "a666a495869d02dc",
        "group": "e6b1019bb3a082ac",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump speed [cHz]",
        "format": "{{msg.payload.mai_pump_speed}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3170,
        "y": 1120,
        "wires": []
    },
    {
        "id": "be012f0e695f1618",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Auto_On",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_auto_on",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "ca2c531f2ceab8ad",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Master_On",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_master_on",
        "x": 580,
        "y": 440,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "ab5d831afe06d8e2",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Error_Any_Active",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_active_errors",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "fdb1ce6f623987ae",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Water_Run",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_water_run",
        "x": 580,
        "y": 600,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "b454b4872f4af5ac",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPTX_DI_Water_Temperature_C_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_water_temp",
        "x": 590,
        "y": 640,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "fe39c41e83338fb2",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Water_Flowrate_Set_lh_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_water_flow_set",
        "x": 600,
        "y": 680,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "2490caecd73e2aaa",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Waterflowrate_current_Lh_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_water_flow_actual",
        "x": 600,
        "y": 720,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "9ec2dc903f908eb8",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPYMB_Waterpump_FrequencyRef_cHz_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_waterpump_ref_freq",
        "x": 610,
        "y": 760,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "abb868529685668b",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPXMB_Waterpump_OutputFrequency_cHz_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_waterpump_output_freq",
        "x": 620,
        "y": 800,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "4361d8f9b8ca64e5",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Mixer_Run",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_mixer_run",
        "x": 580,
        "y": 860,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "9c26e9ce239ca49e",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MP_Pump_Run",
        "datatype": "Boolean",
        "value": "",
        "name": "mai_pump_run",
        "x": 580,
        "y": 940,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "39ca9f5b6973a7a0",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_EXT_Pump_Speed_cHz_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_speed",
        "x": 590,
        "y": 980,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "520b305f8cd81dc5",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPXMB_Pump_OutputCurrent_dA_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_output_current",
        "x": 610,
        "y": 1020,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "b8e77ed5edc2958a",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPXMB_Pump_OutputPower_W_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_output_power",
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "63f64cfd91140e8e",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Pump_Vib_Mode_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_pump_vibration_mode",
        "x": 620,
        "y": 1100,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "6d5a6f100cdc5c09",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Water_Before_Mixer_s_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_setting_water_pre_run",
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "a6ec3968bc39b853",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Mixer_After_Water_s_R",
        "datatype": "Float",
        "value": "",
        "name": "mai_setting_mixer_post_run",
        "x": 620,
        "y": 1200,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "3072d6f4198eb3c9",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Wetprobe_Upper_Cov_Delay_s_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_setting_wetprobe_covered_delay",
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "c43462b24d427311",
        "type": "OpcUa-Item",
        "z": "a666a495869d02dc",
        "item": "ns=2;s=Tags.GECO/MPRX_DI_Wetprobe_Upper_NCov_Delay_s_I",
        "datatype": "Int16",
        "value": "",
        "name": "mai_setting_wetprobe_uncovered_delay",
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "6cfd87fecacd594f",
        "type": "link out",
        "z": "a666a495869d02dc",
        "name": "MAI water run out",
        "mode": "link",
        "links": [
            "64c1d263736002a8"
        ],
        "x": 3105,
        "y": 260,
        "wires": []
    },
    {
        "id": "ab1903982b26b091",
        "type": "inject",
        "z": "a666a495869d02dc",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "d27b9f49279714c6",
        "type": "inject",
        "z": "a666a495869d02dc",
        "d": true,
        "name": "Read items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "22a781bf0996920d",
        "type": "inject",
        "z": "a666a495869d02dc",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "ca2c531f2ceab8ad",
                "be012f0e695f1618",
                "ab5d831afe06d8e2",
                "fdb1ce6f623987ae",
                "b454b4872f4af5ac",
                "fe39c41e83338fb2",
                "2490caecd73e2aaa",
                "9ec2dc903f908eb8",
                "abb868529685668b",
                "4361d8f9b8ca64e5",
                "9c26e9ce239ca49e",
                "39ca9f5b6973a7a0",
                "520b305f8cd81dc5",
                "b8e77ed5edc2958a",
                "63f64cfd91140e8e",
                "6d5a6f100cdc5c09",
                "a6ec3968bc39b853",
                "3072d6f4198eb3c9",
                "c43462b24d427311"
            ]
        ]
    },
    {
        "id": "6b73c70260272027",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "a8f3a9aa9c6ba75f",
                "ebf9b1f70668ceae"
            ]
        ]
    },
    {
        "id": "a8f3a9aa9c6ba75f",
        "type": "join",
        "z": "a666a495869d02dc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "20",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2190,
        "y": 440,
        "wires": [
            [
                "3b89b3da03ce0aa6"
            ]
        ]
    },
    {
        "id": "3b89b3da03ce0aa6",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"mai\"\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 440,
        "wires": [
            [
                "8906b7128efbc760",
                "b170dc5d16bd4c3d",
                "4736f8f386bdf861",
                "3dc7498753488f78",
                "9c8d514deea8a13a",
                "16e93b510d1ceae8",
                "5c8b4a87713eb047",
                "7ae1755bef9847a7",
                "2719dee7cde1370a",
                "682a05f8fdacec18",
                "0e3452e0bd4f7e0e",
                "f88a0c1f1f5aee9d",
                "b0bad80640665d85",
                "4f424f3ad1151b8a",
                "d8bbdb32c87c24ec",
                "e2cb7d1f5ad076d2",
                "bdbd59c9a6c78304",
                "b4e15bbde3c866e0",
                "ba1801e80eedb056",
                "ec091ddeabb74d0f",
                "53f4d54fd9b46f38"
            ]
        ]
    },
    {
        "id": "f8dafc61c42ea3c5",
        "type": "moment",
        "z": "a666a495869d02dc",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 1980,
        "y": 500,
        "wires": [
            [
                "a8f3a9aa9c6ba75f"
            ]
        ]
    },
    {
        "id": "ebf9b1f70668ceae",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Source time msg",
        "func": "if (msg.topic === \"mai_master_on\") \n{ \n    return { topic: \"mai_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 500,
        "wires": [
            [
                "f8dafc61c42ea3c5"
            ]
        ]
    },
    {
        "id": "ec091ddeabb74d0f",
        "type": "function",
        "z": "a666a495869d02dc",
        "name": "Pass data",
        "func": "return { topic: \"mai_mixer_run\", payload: msg.payload.mai_mixer_run};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2920,
        "y": 260,
        "wires": [
            [
                "6cfd87fecacd594f"
            ]
        ]
    },
    {
        "id": "e2dc84019a9a29b3",
        "type": "link in",
        "z": "a666a495869d02dc",
        "name": "readmultiple in",
        "links": [
            "862c74438627d0e4",
            "398de18a215eb45c"
        ],
        "x": 515,
        "y": 320,
        "wires": [
            [
                "66d909b768b75bf9"
            ]
        ]
    },
    {
        "id": "7d03ccd5c320c9a9",
        "type": "delay",
        "z": "a666a495869d02dc",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "40",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2f0c0dbfa9e0e403",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "2766a474835c38ac",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "c4fdbeb4a992b7a8",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "2766a474835c38ac",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "c92622947e30064f",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "6b3396bf9ca2c30e",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "90a3555e5b7d983e",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "e6b1019bb3a082ac",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "70a504db66cb6aaf",
        "type": "ui_spacer",
        "z": "a666a495869d02dc",
        "name": "spacer",
        "group": "8a339496ca145acd",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "b6399b95df174ec3",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.80:48010",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "8a339496ca145acd",
        "type": "ui_group",
        "name": "Read values part 2",
        "tab": "afc4f775962a26f4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6b1019bb3a082ac",
        "type": "ui_group",
        "name": "Read values part 1",
        "tab": "afc4f775962a26f4",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2766a474835c38ac",
        "type": "ui_group",
        "name": "Write values",
        "tab": "afc4f775962a26f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "afc4f775962a26f4",
        "type": "ui_tab",
        "name": "MAI MULTIMIX",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]