flows/material_delivery_read_values.json
[
    {
        "id": "5497c1fcd3b57568",
        "type": "tab",
        "label": "Material delivery: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e03251ae48bd0ae",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Torsion tube:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 3770,
        "y": 2420,
        "wires": []
    },
    {
        "id": "356906cbd45e914b",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Measuring tube:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 3780,
        "y": 2160,
        "wires": []
    },
    {
        "id": "0931299f2191e31a",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI0 0-25 bar [bar] ",
        "format": "{{msg.payload.material_pressure_ai0.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 800,
        "wires": []
    },
    {
        "id": "8897631ad3617dda",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI0 [mA]",
        "format": "{{msg.payload.material_io_ai0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 920,
        "wires": []
    },
    {
        "id": "137623e575a7dc0a",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI1 [mA]",
        "format": "{{msg.payload.material_io_ai1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 960,
        "wires": []
    },
    {
        "id": "64a9858d780f2556",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI2 [mA]",
        "format": "{{msg.payload.material_io_ai2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1000,
        "wires": []
    },
    {
        "id": "21b53442bada65bb",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.payload.material_io_ai3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b956eb96c1fa6b29",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI4 [mA]",
        "format": "{{msg.payload.material_io_ai4.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1080,
        "wires": []
    },
    {
        "id": "92bcd2b3e0c80e19",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI5 [mA]",
        "format": "{{msg.payload.material_io_ai5.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ac81bcdac9b4b7e5",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Relative humidity [%]",
        "format": "{{msg.payload.material_io_relative_humidity.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 1160,
        "wires": []
    },
    {
        "id": "478d26581259e376",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ambient temperature [C]",
        "format": "{{msg.payload.material_io_ambient_temperature.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3790,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b1f1cdad29128b73",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "93a79a9496bde61c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AO0 [mA]",
        "format": "{{msg.payload.material_io_ao0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7239922463c48e4e",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "93a79a9496bde61c",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AO1 [mA]",
        "format": "{{msg.payload.material_io_ao1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1300,
        "wires": []
    },
    {
        "id": "18a11163fc3c7ed4",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "93a79a9496bde61c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AO2 [mA]",
        "format": "{{msg.payload.material_io_ao2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6b850aa8b920e940",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "93a79a9496bde61c",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AO3 [mA]",
        "format": "{{msg.payload.material_io_ao3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1380,
        "wires": []
    },
    {
        "id": "7d3126b6b49455ec",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "59a353dccbd25e8d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DO0 [bool]",
        "format": "{{msg.payload.material_io_do0.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3750,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4ed10c05db629b57",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "59a353dccbd25e8d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DO1 [bool]",
        "format": "{{msg.payload.material_io_do1.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3750,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c1f6353ed4d1a56d",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "59a353dccbd25e8d",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DO2 [bool]",
        "format": "{{msg.payload.material_io_do2.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3750,
        "y": 1520,
        "wires": []
    },
    {
        "id": "492ef29ef1bf4e3d",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "59a353dccbd25e8d",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DO3 [bool]",
        "format": "{{msg.payload.material_io_do3.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3750,
        "y": 1560,
        "wires": []
    },
    {
        "id": "4425dc40ecfcbe03",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9c8639e609d0387f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI0 [bool]",
        "format": "{{msg.payload.material_io_di0.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1620,
        "wires": []
    },
    {
        "id": "e856455592c050ab",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9c8639e609d0387f",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI1 [bool]",
        "format": "{{msg.payload.material_io_di1.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1660,
        "wires": []
    },
    {
        "id": "bc7dc033e834e9cb",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9c8639e609d0387f",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI2 [bool]",
        "format": "{{msg.payload.material_io_di2.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1700,
        "wires": []
    },
    {
        "id": "4ea9fcf51af62d83",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9c8639e609d0387f",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DI3 [bool]",
        "format": "{{msg.payload.material_io_di3.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3740,
        "y": 1740,
        "wires": []
    },
    {
        "id": "c0d872fa619003ae",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mass flow rate [kg/min]",
        "format": "{{msg.payload.material_coriolis_mass_flow.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 1800,
        "wires": []
    },
    {
        "id": "18ce708a2bafe6b9",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Volume flow rate [l/min]",
        "format": "{{msg.payload.material_coriolis_volume_flow.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3790,
        "y": 1840,
        "wires": []
    },
    {
        "id": "23b89e3e4719a093",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Density [kg/m3]",
        "format": "{{msg.payload.material_coriolis_density.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 1880,
        "wires": []
    },
    {
        "id": "00d8650e34578ee1",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Apparent dynamic viscocity [cP]",
        "format": "{{msg.payload.material_coriolis_dynamic_visco.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3810,
        "y": 1920,
        "wires": []
    },
    {
        "id": "3c1932809a2220ad",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature [C]",
        "format": "{{msg.payload.material_coriolis_temperature.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 1960,
        "wires": []
    },
    {
        "id": "fddf9c02769932e0",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Exciter current 0 [mA]",
        "format": "{{msg.payload.material_coriolis_exciter_current_0.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 2200,
        "wires": []
    },
    {
        "id": "afbc81f8320cf4ab",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Oscillation frequency 0 [Hz]",
        "format": "{{msg.payload.material_coriolis_oscillation_frequency_0.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2240,
        "wires": []
    },
    {
        "id": "29cd5882f787778d",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Oscillation amplitude 0 [%]",
        "format": "{{msg.payload.material_coriolis_oscillation_amplitude_0.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f5e198d19ebeacd0",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Oscillation damping 0 [A/m]",
        "format": "{{msg.payload.material_coriolis_oscillation_damping_0.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2320,
        "wires": []
    },
    {
        "id": "86d4674b3278736e",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Signal asymmetry [%]",
        "format": "{{msg.payload.material_coriolis_signal_asymmetry.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 2360,
        "wires": []
    },
    {
        "id": "8371b964fecb36ea",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R0",
        "format": "{{msg.payload.material_r0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2640,
        "wires": []
    },
    {
        "id": "3d20e3aa3337347e",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R1",
        "format": "{{msg.payload.material_r1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2680,
        "wires": []
    },
    {
        "id": "8c7a8d6471c8fca0",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R2",
        "format": "{{msg.payload.material_r2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2720,
        "wires": []
    },
    {
        "id": "ab377022f31fd060",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R3",
        "format": "{{msg.payload.material_r3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2760,
        "wires": []
    },
    {
        "id": "c07992190160505d",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R4",
        "format": "{{msg.payload.material_r4.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2800,
        "wires": []
    },
    {
        "id": "e99faf38251b9eb4",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R5",
        "format": "{{msg.payload.material_r5.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2840,
        "wires": []
    },
    {
        "id": "d012440c75d1f1e3",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R6",
        "format": "{{msg.payload.material_r6.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2880,
        "wires": []
    },
    {
        "id": "dd519271396dd9bc",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R7",
        "format": "{{msg.payload.material_r7.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2920,
        "wires": []
    },
    {
        "id": "4238a604256b4887",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R9",
        "format": "{{msg.payload.material_r9.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 3000,
        "wires": []
    },
    {
        "id": "cd4da7cd9fbe3ae7",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "9793d35b1449dfd7",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "R8",
        "format": "{{msg.payload.material_r8.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3730,
        "y": 2960,
        "wires": []
    },
    {
        "id": "07d11810c0c601bf",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Exciter current 1 [mA]",
        "format": "{{msg.payload.material_coriolis_exciter_current_1.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 2460,
        "wires": []
    },
    {
        "id": "c21e673ed12b2a7c",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Oscillation frequency 1 [Hz]",
        "format": "{{msg.payload.material_coriolis_oscillation_frequency_1.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2500,
        "wires": []
    },
    {
        "id": "d3c16562aeebc84a",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Oscillation amplitude 1 [%]",
        "format": "{{msg.payload.material_coriolis_oscillation_amplitude_1.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2540,
        "wires": []
    },
    {
        "id": "e1837115847f3a40",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "85f900f2581b92bc",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Oscillation damping 1 [A/m]",
        "format": "{{msg.payload.material_coriolis_oscillation_damping_1.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2580,
        "wires": []
    },
    {
        "id": "ac5fb1c491b49179",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "19d1813dc6889b02",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI1 0-25 bar [bar] ",
        "format": "{{msg.payload.material_pressure_ai1.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 840,
        "wires": []
    },
    {
        "id": "0e933e5eba868098",
        "type": "OpcUa-Client",
        "z": "5497c1fcd3b57568",
        "endpoint": "9c6664b374f58bc5",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1420,
        "y": 480,
        "wires": [
            [
                "5257a8f10bbae2bb"
            ],
            []
        ]
    },
    {
        "id": "c56afe4be1ad886b",
        "type": "ui_chart",
        "z": "5497c1fcd3b57568",
        "name": "",
        "group": "53d83661cfcefa23",
        "order": 2,
        "width": 27,
        "height": 6,
        "label": "Pressure at sensing station [bar]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0d45770fbaf90e93",
        "type": "ui_chart",
        "z": "5497c1fcd3b57568",
        "name": "",
        "group": "53d83661cfcefa23",
        "order": 5,
        "width": 27,
        "height": 6,
        "label": "Apparent dynamic viscocity [cP]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "6000",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "20aa5dfad1f6f24f",
        "type": "ui_button",
        "z": "5497c1fcd3b57568",
        "name": "Clear chart",
        "group": "53d83661cfcefa23",
        "order": 1,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear pressure chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3550,
        "y": 400,
        "wires": [
            [
                "c56afe4be1ad886b"
            ]
        ]
    },
    {
        "id": "43f7566282f48f08",
        "type": "ui_button",
        "z": "5497c1fcd3b57568",
        "name": "Clear chart",
        "group": "53d83661cfcefa23",
        "order": 4,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear viscocity chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3550,
        "y": 540,
        "wires": [
            [
                "0d45770fbaf90e93"
            ]
        ]
    },
    {
        "id": "797b0ccd6074df32",
        "type": "link out",
        "z": "5497c1fcd3b57568",
        "name": "Material delivery values out",
        "mode": "link",
        "links": [
            "ecd23e2819d0c96e",
            "7acf6a303552bacf",
            "a0688a5c7674197e"
        ],
        "x": 2895,
        "y": 420,
        "wires": []
    },
    {
        "id": "1115ceada0ea280b",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "d5be84c8a2a9dbe3",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI0 0-25 bar [bar] ",
        "format": "{{msg.payload.material_pressure_ai0.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 720,
        "wires": []
    },
    {
        "id": "1ac1e5eb10cd6cd9",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "d5be84c8a2a9dbe3",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI1 0-25 bar [bar] ",
        "format": "{{msg.payload.material_pressure_ai1.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 760,
        "wires": []
    },
    {
        "id": "8b7402f42f6471d2",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "d5be84c8a2a9dbe3",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Apparent dynamic viscocity [cP]",
        "format": "{{msg.payload.material_coriolis_dynamic_visco.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3850,
        "y": 2000,
        "wires": []
    },
    {
        "id": "d005094fb26ed539",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "d5be84c8a2a9dbe3",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mortar temperature [C]",
        "format": "{{msg.payload.material_coriolis_temperature.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3820,
        "y": 2040,
        "wires": []
    },
    {
        "id": "683969ad9e0d26c0",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "d5be84c8a2a9dbe3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Sensing station:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 680,
        "wires": []
    },
    {
        "id": "3f54ea05da8da78e",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=70",
        "datatype": "Int16",
        "value": "",
        "name": "material_io_ai0",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "ba4613bf62745291",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=71",
        "datatype": "Int16",
        "value": "",
        "name": "material_io_ai1",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "6878a7c7dcdd5593",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=72",
        "datatype": "Int16",
        "value": "",
        "name": "material_io_ai2",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "0977ae7aaa91ba0c",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=74",
        "datatype": "Int16",
        "value": "",
        "name": "material_io_ai4",
        "x": 680,
        "y": 660,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "cb3e54faf26c0ff0",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=75",
        "datatype": "Int16",
        "value": "",
        "name": "material_io_ai5",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "041f123678231805",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=73",
        "datatype": "Int16",
        "value": "",
        "name": "material_io_ai3",
        "x": 680,
        "y": 620,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "a4da71f57fcaf071",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=76",
        "datatype": "Float",
        "value": "",
        "name": "material_io_relative_humidity",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "bee533b5f0b86699",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=77",
        "datatype": "Float",
        "value": "",
        "name": "material_io_ambient_temperature",
        "x": 740,
        "y": 780,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "528abe7c3d0dfbfb",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=78",
        "datatype": "Float",
        "value": "",
        "name": "material_io_ao0",
        "x": 680,
        "y": 860,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "3b017ae02ec97ec6",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=79",
        "datatype": "Float",
        "value": "",
        "name": "material_io_ao1",
        "x": 680,
        "y": 900,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "3519bf1951d72adc",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=80",
        "datatype": "Float",
        "value": "",
        "name": "material_io_ao2",
        "x": 680,
        "y": 940,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "b5a20a27b7b21770",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=81",
        "datatype": "Float",
        "value": "",
        "name": "material_io_ao3",
        "x": 680,
        "y": 980,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "71b800e572030933",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=22",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_do0",
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "aba65aefd06d8bad",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=14",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_di0",
        "x": 680,
        "y": 1260,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "3f316d2fc25cdd18",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=82",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_mass_flow",
        "x": 720,
        "y": 1460,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "35c7c18bac2580c3",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=83",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_volume_flow",
        "x": 730,
        "y": 1500,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "73004db61d675bc5",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=85",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_density",
        "x": 710,
        "y": 1540,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "facad8e002acabd9",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=86",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_dynamic_visco",
        "x": 730,
        "y": 1580,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "2e20cd8462046643",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=115",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_exciter_current_0",
        "x": 740,
        "y": 1700,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "4cd4978d2cad2fd1",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=88",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_oscillation_frequency_0",
        "x": 760,
        "y": 1740,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "aeec5163a52a5fa2",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=90",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_oscillation_amplitude_0",
        "x": 760,
        "y": 1780,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "db0c08570dcd2144",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=110",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_oscillation_damping_0",
        "x": 760,
        "y": 1820,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "3ea4e13a2e5f8c39",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=114",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_exciter_current_1",
        "x": 740,
        "y": 1920,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "03c0e604ceae84f6",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=89",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_oscillation_frequency_1",
        "x": 760,
        "y": 1960,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "95e47269564cff94",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=91",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_oscillation_amplitude_1",
        "x": 760,
        "y": 2000,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "595289f6bd5d4ebb",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=93",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_oscillation_damping_1",
        "x": 760,
        "y": 2040,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "db814d8704f86fd3",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=113",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_signal_asymmetry",
        "x": 740,
        "y": 1860,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "1536977966e774d5",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=87",
        "datatype": "Float",
        "value": "",
        "name": "material_coriolis_temperature",
        "x": 730,
        "y": 1620,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "b5328d9305e0aed1",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=116",
        "datatype": "Float",
        "value": "",
        "name": "material_r0",
        "x": 670,
        "y": 2140,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "f0e43a390b977462",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=23",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_do1",
        "x": 680,
        "y": 1100,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "ee9d01cffe9e8010",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=24",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_do2",
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "02d17fc37e6e99ad",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=25",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_do3",
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "c695059711b7722e",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=15",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_di1",
        "x": 680,
        "y": 1300,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "1a5363cf2986288d",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=16",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_di2",
        "x": 680,
        "y": 1340,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "58f552a835444906",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=17",
        "datatype": "Boolean",
        "value": "",
        "name": "material_io_di3",
        "x": 680,
        "y": 1380,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "f0728168ef1d1319",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=94",
        "datatype": "Float",
        "value": "",
        "name": "material_r1",
        "x": 670,
        "y": 2180,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "d4ceeddcfbd0d546",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=95",
        "datatype": "Float",
        "value": "",
        "name": "material_r2",
        "x": 670,
        "y": 2220,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "c6e1d15e9c92608f",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=96",
        "datatype": "Float",
        "value": "",
        "name": "material_r3",
        "x": 670,
        "y": 2260,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "f49c3b045e665535",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=97",
        "datatype": "Float",
        "value": "",
        "name": "material_r4",
        "x": 670,
        "y": 2300,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "6b935592805e689c",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=98",
        "datatype": "Float",
        "value": "",
        "name": "material_r5",
        "x": 670,
        "y": 2340,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "2fb653c615a4f771",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=99",
        "datatype": "Float",
        "value": "",
        "name": "material_r6",
        "x": 670,
        "y": 2380,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "ef7913c5e7b2f0f2",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=100",
        "datatype": "Float",
        "value": "",
        "name": "material_r7",
        "x": 670,
        "y": 2420,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "11939c2a2b45ba39",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=101",
        "datatype": "Float",
        "value": "",
        "name": "material_r8",
        "x": 670,
        "y": 2460,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "6c3b66b5417acec1",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=4;i=102",
        "datatype": "Float",
        "value": "",
        "name": "material_r9",
        "x": 670,
        "y": 2500,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "6ad5831f4354dc5d",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_Actual_density\"",
        "datatype": "Float",
        "value": "",
        "name": "material_bronkhorst_read_actual_density",
        "x": 760,
        "y": 2620,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "892597c1dc21615a",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_analog_input\"",
        "datatype": "Int16",
        "value": "",
        "name": "material_bronkhorst_read_analog_input",
        "x": 760,
        "y": 2660,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "7bbf7cc0388b8334",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_meassure\"",
        "datatype": "Float",
        "value": "",
        "name": "material_bronkhorst_read_measure",
        "x": 740,
        "y": 2700,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "b18f38cc923a1cc4",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_setpoint\"",
        "datatype": "Float",
        "value": "",
        "name": "material_bronkhorst_read_setpoint",
        "x": 740,
        "y": 2740,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "5c20c076d2c3cc09",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_setpoint_slope\"",
        "datatype": "Int16",
        "value": "",
        "name": "material_bronkhorst_read_setpoint_slope",
        "x": 760,
        "y": 2780,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "71d515735880c709",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_temperature\"",
        "datatype": "Float",
        "value": "",
        "name": "material_bronkhorst_read_temperature",
        "x": 750,
        "y": 2820,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "3ba4c6b2b3ae595e",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_valve_output\"",
        "datatype": "Int16",
        "value": "",
        "name": "material_bronkhorst_read_valve_output",
        "x": 760,
        "y": 2860,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "122699af7daf043b",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"BH_read_alarm_info\"",
        "datatype": "Int16",
        "value": "",
        "name": "material_bronkhorst_read_alarm_info",
        "x": 750,
        "y": 2580,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "c99c9d803a2646da",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"G120C_DB\".\"G120C_Current\"",
        "datatype": "Float",
        "value": "",
        "name": "material_peristaltic_pump_actual_current",
        "x": 760,
        "y": 3020,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "c9d02afaf118a1a1",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"G120C_DB\".\"G120C_Power\"",
        "datatype": "Float",
        "value": "",
        "name": "material_peristaltic_pump_actual_power",
        "x": 760,
        "y": 2980,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "dd78ecad8994691a",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"G120C_DB\".\"G120C_Torque\"",
        "datatype": "Float",
        "value": "",
        "name": "material_peristaltic_pump_actual_torque",
        "x": 760,
        "y": 3060,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "e937277c2703458c",
        "type": "OpcUa-Item",
        "z": "5497c1fcd3b57568",
        "item": "ns=3;s=\"G120C_DB\".\"G120C_Speed\"",
        "datatype": "Float",
        "value": "",
        "name": "material_peristaltic_pump_actual_velocity",
        "x": 760,
        "y": 2940,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "c40c8b115d618403",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "cdb560365232a81d",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual current [A]",
        "format": "{{msg.payload.material_peristaltic_pump_actual_current.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3770,
        "y": 3480,
        "wires": []
    },
    {
        "id": "3c263bd0acc1eaf5",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "cdb560365232a81d",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual power [kW]",
        "format": "{{msg.payload.material_peristaltic_pump_actual_power.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3770,
        "y": 3440,
        "wires": []
    },
    {
        "id": "80d2cb2d5aeb4913",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "cdb560365232a81d",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual torque [Nm]",
        "format": "{{msg.payload.material_peristaltic_pump_actual_torque.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3770,
        "y": 3520,
        "wires": []
    },
    {
        "id": "52d1390603ec35d6",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "cdb560365232a81d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual velocity [RPM]",
        "format": "{{msg.payload.material_peristaltic_pump_actual_velocity.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 3400,
        "wires": []
    },
    {
        "id": "35d2898e50ae755c",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Alarm info [int]",
        "format": "{{msg.payload.material_bronkhorst_read_alarm_info.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 3060,
        "wires": []
    },
    {
        "id": "38d9514a40441579",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual density [kg/m3]",
        "format": "{{msg.payload.material_bronkhorst_read_actual_density.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3780,
        "y": 3100,
        "wires": []
    },
    {
        "id": "90cdd0fa66188244",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Analog input [-]",
        "format": "{{msg.payload.material_bronkhorst_read_analog_input.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 3140,
        "wires": []
    },
    {
        "id": "820f0b25b7b4a9b5",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Measure [g/min]",
        "format": "{{msg.payload.material_bronkhorst_read_measure.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 3180,
        "wires": []
    },
    {
        "id": "5dbcb51360f5b13c",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Setpoint [g/min]",
        "format": "{{msg.payload.material_bronkhorst_read_setpoint.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 3220,
        "wires": []
    },
    {
        "id": "b5c4fcb42dc386ac",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Setpoint slope [s]",
        "format": "{{msg.payload.material_bronkhorst_read_setpoint_slope.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3770,
        "y": 3260,
        "wires": []
    },
    {
        "id": "1b40e237a995c7b5",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature [C]",
        "format": "{{msg.payload.material_bronkhorst_read_temperature.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 3300,
        "wires": []
    },
    {
        "id": "7023b94605ab0d2e",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "abfd115f36655ac8",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Valve output [-]",
        "format": "{{msg.payload.material_bronkhorst_read_valve_output.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3760,
        "y": 3340,
        "wires": []
    },
    {
        "id": "1a6bdf5e0ec42381",
        "type": "inject",
        "z": "5497c1fcd3b57568",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "eb75613d662d20ea",
        "type": "inject",
        "z": "5497c1fcd3b57568",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "3f54ea05da8da78e",
                "ba4613bf62745291",
                "6878a7c7dcdd5593",
                "041f123678231805",
                "0977ae7aaa91ba0c",
                "cb3e54faf26c0ff0",
                "a4da71f57fcaf071",
                "bee533b5f0b86699",
                "528abe7c3d0dfbfb",
                "3b017ae02ec97ec6",
                "3519bf1951d72adc",
                "b5a20a27b7b21770",
                "71b800e572030933",
                "f0e43a390b977462",
                "ee9d01cffe9e8010",
                "02d17fc37e6e99ad",
                "aba65aefd06d8bad",
                "c695059711b7722e",
                "1a5363cf2986288d",
                "58f552a835444906",
                "b5328d9305e0aed1",
                "f0728168ef1d1319",
                "d4ceeddcfbd0d546",
                "c6e1d15e9c92608f",
                "f49c3b045e665535",
                "6b935592805e689c",
                "2fb653c615a4f771",
                "ef7913c5e7b2f0f2",
                "11939c2a2b45ba39",
                "6c3b66b5417acec1",
                "2e20cd8462046643",
                "4cd4978d2cad2fd1",
                "aeec5163a52a5fa2",
                "db0c08570dcd2144",
                "db814d8704f86fd3",
                "3ea4e13a2e5f8c39",
                "03c0e604ceae84f6",
                "95e47269564cff94",
                "595289f6bd5d4ebb",
                "3f316d2fc25cdd18",
                "35c7c18bac2580c3",
                "73004db61d675bc5",
                "facad8e002acabd9",
                "1536977966e774d5",
                "6ad5831f4354dc5d",
                "892597c1dc21615a",
                "7bbf7cc0388b8334",
                "b18f38cc923a1cc4",
                "5c20c076d2c3cc09",
                "71d515735880c709",
                "3ba4c6b2b3ae595e",
                "122699af7daf043b",
                "c99c9d803a2646da",
                "c9d02afaf118a1a1",
                "dd78ecad8994691a",
                "e937277c2703458c"
            ]
        ]
    },
    {
        "id": "5257a8f10bbae2bb",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 480,
        "wires": [
            [
                "2498a461d8408c7e",
                "bb47e3f0f14ca790"
            ]
        ]
    },
    {
        "id": "2498a461d8408c7e",
        "type": "join",
        "z": "5497c1fcd3b57568",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "57",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2390,
        "y": 480,
        "wires": [
            [
                "e1913ae06a072980"
            ]
        ]
    },
    {
        "id": "e1913ae06a072980",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"material\"\n\n// Pressure\nmsg.payload.material_pressure_ai0 = (msg.payload.material_io_ai0 < 0) ? 0.0 : (msg.payload.material_io_ai0 / 27468 * 25.0);\nmsg.payload.material_pressure_ai1 = (msg.payload.material_io_ai1 < 0) ? 0.0 : (msg.payload.material_io_ai1 / 27468 * 25.0);\n\n// Temperature pumping chamber\nmsg.payload.material_temperature_ai2 = (msg.payload.material_io_ai1 < 0) ? 0.0 : (msg.payload.material_io_ai1 / 27468 * 100.0);\n\n// Convert analog inputs to mA\nmsg.payload.material_io_ai0 = (msg.payload.material_io_ai0 < 0) ? 0.0 : (msg.payload.material_io_ai0 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai1 = (msg.payload.material_io_ai1 < 0) ? 0.0 : (msg.payload.material_io_ai1 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai2 = (msg.payload.material_io_ai2 < 0) ? 0.0 : (msg.payload.material_io_ai2 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai3 = (msg.payload.material_io_ai3 < 0) ? 0.0 : (msg.payload.material_io_ai3 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai4 = (msg.payload.material_io_ai4 < 0) ? 0.0 : (msg.payload.material_io_ai4 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai5 = (msg.payload.material_io_ai5 < 0) ? 0.0 : (msg.payload.material_io_ai5 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai6 = (msg.payload.material_io_ai6 < 0) ? 0.0 : (msg.payload.material_io_ai6 / 27468 * 16.0 + 4.0);\nmsg.payload.material_io_ai7 = (msg.payload.material_io_ai7 < 0) ? 0.0 : (msg.payload.material_io_ai7 / 27468 * 16.0 + 4.0);\n\n// Coriolis conversions\nmsg.payload.material_coriolis_mass_flow = msg.payload.material_coriolis_mass_flow / 60.0\nmsg.payload.material_coriolis_volume_flow = msg.payload.material_coriolis_volume_flow / 60.0\nmsg.payload.material_coriolis_density = msg.payload.material_coriolis_density * 1000.0\nmsg.payload.material_coriolis_exciter_current_0 = msg.payload.material_coriolis_exciter_current_0 * 1000.0\nmsg.payload.material_coriolis_exciter_current_1 = msg.payload.material_coriolis_exciter_current_1 * 1000.0\n\n// Bronkhorst conversion\nmsg.payload.material_bronkhorst_read_setpoint_slope = msg.payload.material_bronkhorst_read_setpoint_slope / 10.0\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 480,
        "wires": [
            [
                "8897631ad3617dda",
                "1115ceada0ea280b",
                "1ac1e5eb10cd6cd9",
                "ac5fb1c491b49179",
                "0931299f2191e31a",
                "137623e575a7dc0a",
                "64a9858d780f2556",
                "21b53442bada65bb",
                "b956eb96c1fa6b29",
                "92bcd2b3e0c80e19",
                "ac81bcdac9b4b7e5",
                "478d26581259e376",
                "b1f1cdad29128b73",
                "7239922463c48e4e",
                "18a11163fc3c7ed4",
                "6b850aa8b920e940",
                "7d3126b6b49455ec",
                "4ed10c05db629b57",
                "c1f6353ed4d1a56d",
                "492ef29ef1bf4e3d",
                "4425dc40ecfcbe03",
                "e856455592c050ab",
                "bc7dc033e834e9cb",
                "4ea9fcf51af62d83",
                "c0d872fa619003ae",
                "18ce708a2bafe6b9",
                "23b89e3e4719a093",
                "00d8650e34578ee1",
                "3c1932809a2220ad",
                "8b7402f42f6471d2",
                "d005094fb26ed539",
                "fddf9c02769932e0",
                "afbc81f8320cf4ab",
                "29cd5882f787778d",
                "f5e198d19ebeacd0",
                "86d4674b3278736e",
                "07d11810c0c601bf",
                "c21e673ed12b2a7c",
                "d3c16562aeebc84a",
                "e1837115847f3a40",
                "8371b964fecb36ea",
                "3d20e3aa3337347e",
                "8c7a8d6471c8fca0",
                "ab377022f31fd060",
                "c07992190160505d",
                "e99faf38251b9eb4",
                "d012440c75d1f1e3",
                "dd519271396dd9bc",
                "cd4da7cd9fbe3ae7",
                "4238a604256b4887",
                "35d2898e50ae755c",
                "38d9514a40441579",
                "90cdd0fa66188244",
                "820f0b25b7b4a9b5",
                "5dbcb51360f5b13c",
                "b5c4fcb42dc386ac",
                "1b40e237a995c7b5",
                "7023b94605ab0d2e",
                "52d1390603ec35d6",
                "3c263bd0acc1eaf5",
                "c40c8b115d618403",
                "80d2cb2d5aeb4913",
                "d944b008636f1496",
                "797b0ccd6074df32",
                "4df2a0afa4237e3d"
            ]
        ]
    },
    {
        "id": "ffa568e058022001",
        "type": "moment",
        "z": "5497c1fcd3b57568",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 2180,
        "y": 560,
        "wires": [
            [
                "2498a461d8408c7e"
            ]
        ]
    },
    {
        "id": "bb47e3f0f14ca790",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Source time msg",
        "func": "if (msg.topic === \"material_io_ai0\") \n{ \n    return { topic: \"material_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 560,
        "wires": [
            [
                "ffa568e058022001"
            ]
        ]
    },
    {
        "id": "d944b008636f1496",
        "type": "throttle",
        "z": "5497c1fcd3b57568",
        "name": "Pass every second",
        "throttleType": "time",
        "timeLimit": "1",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 3290,
        "y": 480,
        "wires": [
            [
                "89db341e20530820",
                "f2f233466c717939",
                "944c4f1319e27529",
                "ce02eb2906693bab",
                "a1ab58dcc7ea4b8b"
            ]
        ]
    },
    {
        "id": "89db341e20530820",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Get graph data",
        "func": "return { topic: \"Apparent dynamic viscocity\", payload: msg.payload.material_coriolis_dynamic_visco };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3560,
        "y": 580,
        "wires": [
            [
                "0d45770fbaf90e93"
            ]
        ]
    },
    {
        "id": "f2f233466c717939",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Get graph data",
        "func": "return { topic: \"AI0: WIKA Pressure sensor 0-25 bar\", payload: msg.payload.material_pressure_ai0 };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3560,
        "y": 440,
        "wires": [
            [
                "c56afe4be1ad886b"
            ]
        ]
    },
    {
        "id": "944c4f1319e27529",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Get graph data",
        "func": "return { topic: \"AI1: WIKA Pressure sensor 0-25 bar\", payload: msg.payload.material_pressure_ai1 };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3560,
        "y": 480,
        "wires": [
            [
                "c56afe4be1ad886b"
            ]
        ]
    },
    {
        "id": "aee2f831799d1c0d",
        "type": "link in",
        "z": "5497c1fcd3b57568",
        "name": "readmultiple in",
        "links": [
            "398de18a215eb45c"
        ],
        "x": 615,
        "y": 380,
        "wires": [
            [
                "0e933e5eba868098"
            ]
        ]
    },
    {
        "id": "4df2a0afa4237e3d",
        "type": "ui_text",
        "z": "5497c1fcd3b57568",
        "group": "d5be84c8a2a9dbe3",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Density [kg/m3]",
        "format": "{{msg.payload.material_coriolis_density.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3800,
        "y": 2080,
        "wires": []
    },
    {
        "id": "f7095a6c4ee4370e",
        "type": "ui_chart",
        "z": "5497c1fcd3b57568",
        "name": "",
        "group": "53d83661cfcefa23",
        "order": 8,
        "width": 27,
        "height": 6,
        "label": "Mortar temperature [C]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "24",
        "ymax": "36",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f1e55d68c66a5c4c",
        "type": "ui_button",
        "z": "5497c1fcd3b57568",
        "name": "Clear chart",
        "group": "53d83661cfcefa23",
        "order": 7,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear temperature chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3550,
        "y": 240,
        "wires": [
            [
                "f7095a6c4ee4370e"
            ]
        ]
    },
    {
        "id": "ce02eb2906693bab",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Get graph data",
        "func": "return { topic: \"Mortar temperature pumping chamber\", payload: msg.payload.material_temperature_ai2 };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3560,
        "y": 280,
        "wires": [
            [
                "f7095a6c4ee4370e"
            ]
        ]
    },
    {
        "id": "a1ab58dcc7ea4b8b",
        "type": "function",
        "z": "5497c1fcd3b57568",
        "name": "Get graph data",
        "func": "return { topic: \"Mortar temperature coriolis\", payload: msg.payload.material_coriolis_temperature };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3560,
        "y": 320,
        "wires": [
            [
                "f7095a6c4ee4370e"
            ]
        ]
    },
    {
        "id": "2a653c5eee7ec9b8",
        "type": "ui_spacer",
        "z": "5497c1fcd3b57568",
        "name": "spacer",
        "group": "599d2b5615f3741e",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "95cd4f7bb798d625",
        "type": "ui_spacer",
        "z": "5497c1fcd3b57568",
        "name": "spacer",
        "group": "53d83661cfcefa23",
        "order": 3,
        "width": 27,
        "height": 1
    },
    {
        "id": "f283cec79f4914ee",
        "type": "ui_spacer",
        "z": "5497c1fcd3b57568",
        "name": "spacer",
        "group": "53d83661cfcefa23",
        "order": 6,
        "width": 27,
        "height": 1
    },
    {
        "id": "487ecc496960cd3f",
        "type": "ui_spacer",
        "z": "5497c1fcd3b57568",
        "name": "spacer",
        "group": "53d83661cfcefa23",
        "order": 9,
        "width": 27,
        "height": 1
    },
    {
        "id": "c21a4895beadae75",
        "type": "ui_spacer",
        "z": "5497c1fcd3b57568",
        "name": "spacer",
        "group": "d5be84c8a2a9dbe3",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "85f900f2581b92bc",
        "type": "ui_group",
        "name": "Coriolis sensor",
        "tab": "4596e568da630a4f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19d1813dc6889b02",
        "type": "ui_group",
        "name": "Analog inputs",
        "tab": "4596e568da630a4f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93a79a9496bde61c",
        "type": "ui_group",
        "name": "Analog outputs",
        "tab": "4596e568da630a4f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59a353dccbd25e8d",
        "type": "ui_group",
        "name": "Digital outputs",
        "tab": "4596e568da630a4f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c8639e609d0387f",
        "type": "ui_group",
        "name": "Digital inputs",
        "tab": "4596e568da630a4f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9793d35b1449dfd7",
        "type": "ui_group",
        "name": "R-parameters",
        "tab": "4596e568da630a4f",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c6664b374f58bc5",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.30:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "53d83661cfcefa23",
        "type": "ui_group",
        "name": "Data Graphs",
        "tab": "53571d4d81ebd061",
        "order": 2,
        "disp": true,
        "width": 27,
        "collapse": false
    },
    {
        "id": "d5be84c8a2a9dbe3",
        "type": "ui_group",
        "name": "Summary",
        "tab": "53571d4d81ebd061",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdb560365232a81d",
        "type": "ui_group",
        "name": "Peristaltic pump",
        "tab": "4596e568da630a4f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abfd115f36655ac8",
        "type": "ui_group",
        "name": "Read values",
        "tab": "bf699577502254b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "599d2b5615f3741e",
        "type": "ui_group",
        "name": "Save data",
        "tab": "53571d4d81ebd061",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "4596e568da630a4f",
        "type": "ui_tab",
        "name": "Material delivery PLC",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53571d4d81ebd061",
        "type": "ui_tab",
        "name": "Data overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf699577502254b8",
        "type": "ui_tab",
        "name": "Bronkhorst dosing pump",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]