flows/material_delivery_write_values.json
[
    {
        "id": "7dc3c69a4dbadca7",
        "type": "tab",
        "label": "Material delivery: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e473cd3154e45b9d",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=22",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO0",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "4f9f84c7e8b52624",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write DO0 [0/1]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "e473cd3154e45b9d"
            ]
        ]
    },
    {
        "id": "f87d4dbbdf862f06",
        "type": "OpcUa-Client",
        "z": "7dc3c69a4dbadca7",
        "endpoint": "9c6664b374f58bc5",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1060,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "baa85c86e206731a",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=23",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO1",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "ee26b265b39aa0bf",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write DO1 [0/1]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "baa85c86e206731a"
            ]
        ]
    },
    {
        "id": "c3644dd3d389fba0",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=24",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO2",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "ab84f735def7fd7c",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write DO2 [0/1]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "c3644dd3d389fba0"
            ]
        ]
    },
    {
        "id": "af4d52521009a0bc",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=25",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO3",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "129aeba005d061eb",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write DO3 [0/1]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "af4d52521009a0bc"
            ]
        ]
    },
    {
        "id": "4393cdf11f9784b6",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=78",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO0",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "e2255704e6228a37",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=79",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO1",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "9057bc79db65a7b0",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=80",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO2",
        "x": 530,
        "y": 660,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "669ac274153e665a",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=4;i=81",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO3",
        "x": 530,
        "y": 700,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "5d2383aee0cb8ccc",
        "type": "ui_numeric",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write AO0 [mA]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "step": "0.02",
        "className": "",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "4393cdf11f9784b6"
            ]
        ]
    },
    {
        "id": "c9fbed961db99107",
        "type": "ui_numeric",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write AO1 [mA]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "step": "0.02",
        "className": "",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "e2255704e6228a37"
            ]
        ]
    },
    {
        "id": "fca5d63c74f258e7",
        "type": "ui_numeric",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write AO2 [mA]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "step": "0.02",
        "className": "",
        "x": 340,
        "y": 660,
        "wires": [
            [
                "9057bc79db65a7b0"
            ]
        ]
    },
    {
        "id": "6de7ee90107ee076",
        "type": "ui_numeric",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Write AO3 [mA]",
        "tooltip": "",
        "group": "3b53e2a5cf94ece3",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "step": "0.02",
        "className": "",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "669ac274153e665a"
            ]
        ]
    },
    {
        "id": "4642292899e86c06",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "4f9f84c7e8b52624",
                "ee26b265b39aa0bf",
                "ab84f735def7fd7c",
                "129aeba005d061eb"
            ]
        ]
    },
    {
        "id": "53b5dd19763e3cb0",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "5d2383aee0cb8ccc",
                "c9fbed961db99107",
                "fca5d63c74f258e7",
                "6de7ee90107ee076"
            ]
        ]
    },
    {
        "id": "cc4bf7af4e9844e6",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=3;s=\"Sensing_DB\".\"On_OFF_Bronkhorst\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Bronkhorst connected",
        "x": 660,
        "y": 820,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "558c3fac6e24280a",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Bronkhorst pump is connected?",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 820,
        "wires": [
            [
                "cc4bf7af4e9844e6"
            ]
        ]
    },
    {
        "id": "1f68cc7af49270f5",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=3;s=\"Sensing_DB\".\"On_OFF_Siemens_G120C\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Verder connected",
        "x": 650,
        "y": 860,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "9f6b95884100d557",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Peristaltic pump is connected?",
        "tooltip": "",
        "group": "cdb560365232a81d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 860,
        "wires": [
            [
                "1f68cc7af49270f5"
            ]
        ]
    },
    {
        "id": "7e73911bcaf707f0",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "558c3fac6e24280a",
                "9f6b95884100d557"
            ]
        ]
    },
    {
        "id": "9ec6b27fc47da9e2",
        "type": "comment",
        "z": "7dc3c69a4dbadca7",
        "name": "Write Bronkhorst",
        "info": "",
        "x": 180,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8e079ce2ab9ffd64",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=3;s=\"BH_write_Setpoint\"",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "material_bronkhorst_write_setpoint",
        "x": 920,
        "y": 1100,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "2632f02b26f77fba",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=3;s=\"BH_write_reset\"",
        "datatype": "Int16",
        "value": "msg.topic",
        "name": "material_bronkhorst_write_reset",
        "x": 910,
        "y": 1140,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "a4283664fed19bb4",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=3;s=\"BH_write_setpoint_slope\"",
        "datatype": "Int16",
        "value": "msg.topic",
        "name": "material_bronkhorst_write_setpoint_slope",
        "x": 940,
        "y": 1180,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "1a55cf08a4149dac",
        "type": "ui_text_input",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 1100,
        "wires": [
            [
                "507717af51f22dca"
            ]
        ]
    },
    {
        "id": "96a0dd3a3bac3d20",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "1a55cf08a4149dac"
            ]
        ]
    },
    {
        "id": "507717af51f22dca",
        "type": "function",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "func": "if( msg.payload<0.0){msg.payload=0.0}\nelse if(msg.payload>500){msg.payload=500}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1100,
        "wires": [
            [
                "8e079ce2ab9ffd64"
            ]
        ]
    },
    {
        "id": "6084bad29065bc1e",
        "type": "trigger",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "6619a7278206a119"
            ]
        ]
    },
    {
        "id": "6619a7278206a119",
        "type": "OpcUa-Item",
        "z": "7dc3c69a4dbadca7",
        "item": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "datatype": "Boolean",
        "value": "",
        "name": "Heartbeat",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "f87d4dbbdf862f06"
            ]
        ]
    },
    {
        "id": "056784ad6fa36476",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "Heartbeat",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "6084bad29065bc1e"
            ]
        ]
    },
    {
        "id": "7fde8988f10a028a",
        "type": "ui_text",
        "z": "7dc3c69a4dbadca7",
        "group": "42ab9b98873d81c6",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "g/m",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1100,
        "wires": []
    },
    {
        "id": "28b6aeb102c78258",
        "type": "function",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "func": "if( msg.payload<0){msg.payload=0}\nmsg.payload = msg.payload * 10\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1180,
        "wires": [
            [
                "a4283664fed19bb4"
            ]
        ]
    },
    {
        "id": "e7e6b9e2a21632e0",
        "type": "ui_text_input",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Setpoint slope",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "28b6aeb102c78258"
            ]
        ]
    },
    {
        "id": "ec79bdae33cff351",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "e7e6b9e2a21632e0"
            ]
        ]
    },
    {
        "id": "529ce346e986d712",
        "type": "ui_text",
        "z": "7dc3c69a4dbadca7",
        "group": "42ab9b98873d81c6",
        "order": 6,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3a2b39f2ef03073b",
        "type": "ui_switch",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "label": "Enable",
        "tooltip": "",
        "group": "42ab9b98873d81c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "2b29374b64a04961"
            ]
        ]
    },
    {
        "id": "2b29374b64a04961",
        "type": "function",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "func": "if (msg.payload==true) \n{\n    msg.payload=1\n} \nelse\n{\n    msg.payload=0\n} \n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "2632f02b26f77fba"
            ]
        ]
    },
    {
        "id": "9085fe4b46b01087",
        "type": "inject",
        "z": "7dc3c69a4dbadca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "3a2b39f2ef03073b"
            ]
        ]
    },
    {
        "id": "858ffc69a1554355",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "d946ef52.c4e01",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b0b82c39bc9908d1",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "d946ef52.c4e01",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "011afe7ba3862c30",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "d946ef52.c4e01",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "fee54713ea6cef2d",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "d946ef52.c4e01",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "4dad49e73aa31e67",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a65c9eb0eae23455",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a49ae60f3c9bc3d",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8083d9d82288697",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc93f78e3cd41534",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e70e7e46b30e634",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "76090e325938fd18",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "908becda72059734",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "50d67517c9c84b52",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "e5f312d5.bb93e",
        "order": 17,
        "width": 8,
        "height": 1
    },
    {
        "id": "dee0421a8ba8d347",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "31520101.7d7dae",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "cbae5a4422190b3a",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "31520101.7d7dae",
        "order": 8,
        "width": 19,
        "height": 1
    },
    {
        "id": "8aa7d8b8bfc5e2db",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "31520101.7d7dae",
        "order": 9,
        "width": 19,
        "height": 1
    },
    {
        "id": "2578b6b96e1936a1",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "31520101.7d7dae",
        "order": 10,
        "width": 19,
        "height": 1
    },
    {
        "id": "949e2151eb39846f",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "3b53e2a5cf94ece3",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "a057dcba2c509ff1",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "19d1813dc6889b02",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "0c9155bb25682a1d",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "19d1813dc6889b02",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "b94824f80db18988",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "85f900f2581b92bc",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "d5e53df638c7945c",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "85f900f2581b92bc",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "e8e123d1679d8b19",
        "type": "ui_spacer",
        "z": "7dc3c69a4dbadca7",
        "name": "spacer",
        "group": "abfd115f36655ac8",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "3b53e2a5cf94ece3",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4596e568da630a4f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c6664b374f58bc5",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.30:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "42ab9b98873d81c6",
        "type": "ui_group",
        "name": "Write values",
        "tab": "bf699577502254b8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdb560365232a81d",
        "type": "ui_group",
        "name": "Peristaltic pump",
        "tab": "4596e568da630a4f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d946ef52.c4e01",
        "type": "ui_group",
        "name": "Control",
        "tab": "29764b84.e49f2c",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "e5f312d5.bb93e",
        "type": "ui_group",
        "name": "Motor Overview",
        "tab": "29764b84.e49f2c",
        "order": 3,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "31520101.7d7dae",
        "type": "ui_group",
        "name": "Sensor Overview",
        "tab": "29764b84.e49f2c",
        "order": 3,
        "disp": true,
        "width": 25,
        "collapse": true
    },
    {
        "id": "19d1813dc6889b02",
        "type": "ui_group",
        "name": "Analog inputs",
        "tab": "4596e568da630a4f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85f900f2581b92bc",
        "type": "ui_group",
        "name": "Coriolis sensor",
        "tab": "4596e568da630a4f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abfd115f36655ac8",
        "type": "ui_group",
        "name": "Read values",
        "tab": "bf699577502254b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4596e568da630a4f",
        "type": "ui_tab",
        "name": "Material delivery PLC",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf699577502254b8",
        "type": "ui_tab",
        "name": "Bronkhorst dosing pump",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "29764b84.e49f2c",
        "type": "ui_tab",
        "name": "FRED",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]