flows/mtec_read_values.json
[
    {
        "id": "dbcff3a91e8577ef",
        "type": "tab",
        "label": "M-tec: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "769cbc7c61ddfd9b",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "mtec mixer on/off out",
        "mode": "link",
        "links": [
            "a59025419d08aec8",
            "3f1241c96c7c2565"
        ],
        "x": 3125,
        "y": 260,
        "wires": []
    },
    {
        "id": "b1434d258f8ce170",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual speed [RPM]",
        "format": "{{msg.payload.mtec_pump_velocity.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3080,
        "y": 600,
        "wires": []
    },
    {
        "id": "4a063dce47331620",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Dry mortar temperature [C]",
        "format": "{{msg.payload.mtec_dry_mortar_temp.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3100,
        "y": 560,
        "wires": []
    },
    {
        "id": "b887054b7ea161b1",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "m-tec solenoid valve on/off out",
        "mode": "link",
        "links": [
            "bba4fb08bf735561"
        ],
        "x": 3125,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e8952803b6095c0",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Set speed [RPM]",
        "format": "{{msg.payload.mtec_set_value_pump_speed.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3070,
        "y": 640,
        "wires": []
    },
    {
        "id": "e602cf549ebbceaf",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow [L/min]",
        "format": "{{msg.payload.mtec_water_flow.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3070,
        "y": 480,
        "wires": []
    },
    {
        "id": "e91c0760589c18ca",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "m-tec values out",
        "mode": "link",
        "links": [
            "516b5aa31a3937bc",
            "37b06e5fd23a6f0f"
        ],
        "x": 2745,
        "y": 420,
        "wires": []
    },
    {
        "id": "a91a6c79b5ac5310",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water temperature [C]",
        "format": "{{msg.payload.mtec_water_temp.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3080,
        "y": 520,
        "wires": []
    },
    {
        "id": "c7a8e3e0f173f94f",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "func": "if (msg.payload < 0) { msg.payload = 0 }\nelse if (msg.payload > 25) { msg.payload = 0 }\nglobal.set(\"water_dosing_turns\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 860,
        "wires": [
            [
                "a451720ecbfa8a51"
            ]
        ]
    },
    {
        "id": "82afd22516605915",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "x": 530,
        "y": 860,
        "wires": [
            [
                "cdc6eadfb0cc1224"
            ]
        ]
    },
    {
        "id": "a451720ecbfa8a51",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water valve [turns]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1230,
        "y": 860,
        "wires": []
    },
    {
        "id": "16f071019249cf26",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.reserve_AI_1.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_water_temp",
        "x": 570,
        "y": 460,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "d292f03990235419",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.reserve_AI_2.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_water_flow",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e80285dcc00a2f71",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.reserve_AI_5.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_dry_mortar_temp",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "0374cf26b114ef0c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.actual_value_mixingpump.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_pump_velocity",
        "x": 580,
        "y": 580,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "51d504b8558fb63c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.aut_solenoid_valve.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_solenoid_valve",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a7638560c2d89e38",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.aut_waterpump.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_water_pump_run",
        "x": 580,
        "y": 660,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "61fcd226230758be",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.set_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_set_value_pump_speed",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "f8175c45ff4e1a5c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.aut_mixer",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_mixer_run",
        "x": 560,
        "y": 740,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a106ea0c2e4dda58",
        "type": "OpcUa-Client",
        "z": "dbcff3a91e8577ef",
        "endpoint": "b02adcf7.368dd",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1180,
        "y": 480,
        "wires": [
            [
                "a29e77a00dd04d8f"
            ],
            []
        ]
    },
    {
        "id": "d6ee9826cca15707",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "aa509b49aeea724f",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "d": true,
        "name": "Read items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "94534f76062cb5d5",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "16f071019249cf26",
                "d292f03990235419",
                "e80285dcc00a2f71",
                "0374cf26b114ef0c",
                "51d504b8558fb63c",
                "a7638560c2d89e38",
                "61fcd226230758be",
                "f8175c45ff4e1a5c"
            ]
        ]
    },
    {
        "id": "a29e77a00dd04d8f",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 480,
        "wires": [
            [
                "0df89d51288dc250",
                "8d642501b42ccb43"
            ]
        ]
    },
    {
        "id": "0df89d51288dc250",
        "type": "join",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2350,
        "y": 480,
        "wires": [
            [
                "01e2066577f2442d"
            ]
        ]
    },
    {
        "id": "01e2066577f2442d",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"mtec\"\n\n// Convert values\nmsg.payload.mtec_water_temp = msg.payload.mtec_water_temp / 10000.0 * 50.0\nmsg.payload.mtec_water_flow = msg.payload.mtec_water_flow / 10000.0 * (20.0) - 10.0\nmsg.payload.mtec_dry_mortar_temp = msg.payload.mtec_dry_mortar_temp / 65536.0 * 100.0\nmsg.payload.mtec_pump_velocity = msg.payload.mtec_pump_velocity * 0.006461217\nmsg.payload.mtec_set_value_pump_speed = msg.payload.mtec_set_value_pump_speed * (420.0 - 169.2) / 65000.0 + 169.2\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 480,
        "wires": [
            [
                "d48d83300fdaf8b6",
                "1eb036811f810073",
                "e602cf549ebbceaf",
                "a91a6c79b5ac5310",
                "4a063dce47331620",
                "b1434d258f8ce170",
                "8e8952803b6095c0",
                "26bd1d864e363b68",
                "8000a8b081246247",
                "afd059a69b2f7b14",
                "e91c0760589c18ca",
                "49d3df0a9be04ea6"
            ]
        ]
    },
    {
        "id": "c9c666ad37f84873",
        "type": "moment",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 2140,
        "y": 540,
        "wires": [
            [
                "0df89d51288dc250"
            ]
        ]
    },
    {
        "id": "8d642501b42ccb43",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Source time msg",
        "func": "if (msg.topic === \"mtec_water_temp\") \n{ \n    return { topic: \"mtec_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 540,
        "wires": [
            [
                "c9c666ad37f84873"
            ]
        ]
    },
    {
        "id": "d48d83300fdaf8b6",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Pass data",
        "func": "return { topic: \"mtec_mixer_run\", payload: msg.payload.mtec_mixer_run};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 260,
        "wires": [
            [
                "769cbc7c61ddfd9b"
            ]
        ]
    },
    {
        "id": "1eb036811f810073",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Pass data",
        "func": "return { topic: \"mtec_solenoid_valve\", payload: msg.payload.mtec_solenoid_valve };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 220,
        "wires": [
            [
                "b887054b7ea161b1"
            ]
        ]
    },
    {
        "id": "26bd1d864e363b68",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water mixer run [bool]",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3080,
        "y": 680,
        "wires": []
    },
    {
        "id": "8000a8b081246247",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water water pump run [bool]",
        "format": "{{msg.payload.mtec_water_pump_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3100,
        "y": 720,
        "wires": []
    },
    {
        "id": "afd059a69b2f7b14",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water solenoid valve [bool]",
        "format": "{{msg.payload.mtec_solenoid_valve.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3100,
        "y": 760,
        "wires": []
    },
    {
        "id": "64661937edd40398",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Read valve turns",
        "func": "return { topic: \"mtec_water_dosing_turns\", payload: global.get(\"water_dosing_turns\") };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 440,
        "wires": [
            [
                "0df89d51288dc250"
            ]
        ]
    },
    {
        "id": "cdc6eadfb0cc1224",
        "type": "ui_text_input",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "label": "Water valve",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 860,
        "wires": [
            [
                "c7a8e3e0f173f94f"
            ]
        ]
    },
    {
        "id": "3ffa216da88712bd",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "2159e8a83bb50b67",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "turns",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 770,
        "y": 900,
        "wires": []
    },
    {
        "id": "8db8e5f401f5c81d",
        "type": "link in",
        "z": "dbcff3a91e8577ef",
        "name": "readmultiple in",
        "links": [
            "862c74438627d0e4",
            "398de18a215eb45c"
        ],
        "x": 495,
        "y": 320,
        "wires": [
            [
                "a106ea0c2e4dda58",
                "64661937edd40398"
            ]
        ]
    },
    {
        "id": "979ad89079549691",
        "type": "delay",
        "z": "dbcff3a91e8577ef",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "49d3df0a9be04ea6",
        "type": "debug",
        "z": "dbcff3a91e8577ef",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2750,
        "y": 880,
        "wires": []
    },
    {
        "id": "abe95d84123fcf6c",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "2284d800b3870f35",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "e8c93459e3f9c364",
        "type": "ui_group",
        "name": "Read values",
        "tab": "4809d57f0b02fac6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "2159e8a83bb50b67",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4809d57f0b02fac6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4809d57f0b02fac6",
        "type": "ui_tab",
        "name": "M-tec duomix",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]