flows/mtec_read_values.json
[
    {
        "id": "dbcff3a91e8577ef",
        "type": "tab",
        "label": "M-tec: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1b0fd273f6291ec",
        "type": "group",
        "z": "dbcff3a91e8577ef",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "27c0a078d32b4020",
            "05878a847fda9dcc",
            "33e34773cd4f118c",
            "6110be169bf9c231"
        ],
        "x": 3254,
        "y": 199,
        "w": 532,
        "h": 162
    },
    {
        "id": "769cbc7c61ddfd9b",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "mtec mixer on/off out",
        "mode": "link",
        "links": [
            "3f1241c96c7c2565"
        ],
        "x": 3125,
        "y": 280,
        "wires": []
    },
    {
        "id": "b1434d258f8ce170",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump speed set [RPM]",
        "format": "{{msg.payload.mtec_pump_speed_set.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 780,
        "wires": []
    },
    {
        "id": "b887054b7ea161b1",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "m-tec solenoid valve on/off out",
        "mode": "link",
        "links": [],
        "x": 3125,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e8952803b6095c0",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump speed actual [RPM]",
        "format": "{{msg.payload.mtec_pump_speed_actual.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 820,
        "wires": []
    },
    {
        "id": "e602cf549ebbceaf",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow set [L/min]",
        "format": "{{msg.payload.mtec_water_flow_set.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e91c0760589c18ca",
        "type": "link out",
        "z": "dbcff3a91e8577ef",
        "name": "m-tec values out",
        "mode": "link",
        "links": [
            "37b06e5fd23a6f0f"
        ],
        "x": 2745,
        "y": 420,
        "wires": []
    },
    {
        "id": "a91a6c79b5ac5310",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water flow actual [L/h]",
        "format": "{{msg.payload.mtec_water_flow_actual.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1100,
        "wires": []
    },
    {
        "id": "16f071019249cf26",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_temp",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_temp",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "d292f03990235419",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_flow",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_flow_actual",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "0374cf26b114ef0c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_pump_speed_actual",
        "x": 600,
        "y": 700,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a7638560c2d89e38",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.aut_waterpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_water_pump_run",
        "x": 580,
        "y": 860,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "61fcd226230758be",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_mixingpump",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_pump_speed_set",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "f8175c45ff4e1a5c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.aut_mixer",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_mixer_run",
        "x": 560,
        "y": 1140,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a106ea0c2e4dda58",
        "type": "OpcUa-Client",
        "z": "dbcff3a91e8577ef",
        "endpoint": "b02adcf7.368dd",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1180,
        "y": 480,
        "wires": [
            [
                "a29e77a00dd04d8f"
            ],
            []
        ]
    },
    {
        "id": "d6ee9826cca15707",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "94534f76062cb5d5",
        "type": "inject",
        "z": "dbcff3a91e8577ef",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "16f071019249cf26",
                "d292f03990235419",
                "0374cf26b114ef0c",
                "a7638560c2d89e38",
                "61fcd226230758be",
                "f8175c45ff4e1a5c",
                "dc8fc56080d2f87c",
                "50f40bc46f70927a",
                "80e68bdda4f25658",
                "e21adca25ad22f06",
                "8e3469126a688da5",
                "e5498d6e3386d196",
                "4c028b371bc794ed",
                "6f9b29814d16c944",
                "bdd1dc54ac323468",
                "1d33125576d23474",
                "a09f2f20192d46fd",
                "49facd224eafe7fa",
                "a6114c54b9f07989"
            ]
        ]
    },
    {
        "id": "a29e77a00dd04d8f",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Change msg topic",
        "func": "msg.topic = msg.topic.browseName\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 480,
        "wires": [
            [
                "0df89d51288dc250",
                "8d642501b42ccb43"
            ]
        ]
    },
    {
        "id": "0df89d51288dc250",
        "type": "join",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "20",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2350,
        "y": 480,
        "wires": [
            [
                "01e2066577f2442d"
            ]
        ]
    },
    {
        "id": "01e2066577f2442d",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Convert and add values",
        "func": "// Set message topic\nmsg.topic = \"mtec\"\n\n// Convert values\nmsg.payload.mtec_pump_speed_set = msg.payload.mtec_pump_speed_set * 192.1 / 65000\nmsg.payload.mtec_pump_speed_actual = msg.payload.mtec_pump_speed_actual * 192.1 / 65000\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 480,
        "wires": [
            [
                "d48d83300fdaf8b6",
                "1eb036811f810073",
                "e602cf549ebbceaf",
                "a91a6c79b5ac5310",
                "b1434d258f8ce170",
                "8e8952803b6095c0",
                "26bd1d864e363b68",
                "afd059a69b2f7b14",
                "e91c0760589c18ca",
                "7b3df1508d7a2684",
                "768bfa7a2b9ca840",
                "4e723fd1f7be201c",
                "7aab4b2397aa7e0c",
                "c332585bc6b295dc",
                "76727dc5d342981d",
                "0d040c79084a3216",
                "faa80eae45e851b4",
                "53a87be80ccc5783",
                "3cfdd58e63c59fe0"
            ]
        ]
    },
    {
        "id": "c9c666ad37f84873",
        "type": "moment",
        "z": "dbcff3a91e8577ef",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss.SSS",
        "locale": "nl-NL",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Amsterdam",
        "x": 2140,
        "y": 540,
        "wires": [
            [
                "0df89d51288dc250"
            ]
        ]
    },
    {
        "id": "8d642501b42ccb43",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Source time msg",
        "func": "if (msg.topic === \"mtec_ready_for_operation\") \n{ \n    return { topic: \"mtec_source_time\", payload: msg.sourceTimestamp };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 540,
        "wires": [
            [
                "c9c666ad37f84873"
            ]
        ]
    },
    {
        "id": "d48d83300fdaf8b6",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Pass data",
        "func": "return { topic: \"mtec_mixer_run\", payload: msg.payload.mtec_mixer_run};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 260,
        "wires": [
            [
                "769cbc7c61ddfd9b",
                "33e34773cd4f118c"
            ]
        ]
    },
    {
        "id": "1eb036811f810073",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "name": "Pass data",
        "func": "return { topic: \"mtec_water_solenoid_valve\", payload: msg.payload.mtec_water_solenoid_valve };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 220,
        "wires": [
            [
                "b887054b7ea161b1"
            ]
        ]
    },
    {
        "id": "26bd1d864e363b68",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer run [bool]",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3360,
        "y": 1300,
        "wires": []
    },
    {
        "id": "afd059a69b2f7b14",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water solenoid valve [bool]",
        "format": "{{msg.payload.mtec_water_solenoid_valve.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3400,
        "y": 980,
        "wires": []
    },
    {
        "id": "8db8e5f401f5c81d",
        "type": "link in",
        "z": "dbcff3a91e8577ef",
        "name": "readmultiple in",
        "links": [
            "398de18a215eb45c"
        ],
        "x": 495,
        "y": 320,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "27c0a078d32b4020",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last interval time [s]",
        "format": "{{msg.interval_time.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3660,
        "y": 280,
        "wires": []
    },
    {
        "id": "05878a847fda9dcc",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last batch duration [s]",
        "format": "{{msg.batch_time.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3660,
        "y": 240,
        "wires": []
    },
    {
        "id": "33e34773cd4f118c",
        "type": "function",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "name": "batch and interval time",
        "func": "if (msg.payload !== context.get('prev_mixer_run')) {\n   \n    context.set('prev_mixer_run', msg.payload);\n\t\n\ttime = new Date().getTime() / 1000;\n\tprev_start = context.get('prev_mixer_start')\n\tprev_stop = context.get('prev_mixer_stop')\n\tprev_batch_time = context.get('batch_time');\n\tprev_interval_time = context.get('interval_time');\n\t\n\tif (msg.payload == false)\n\t{\n\t    batch_time = time - prev_start;\n\t\tcontext.set('prev_mixer_stop', time);\n\t\tcontext.set('batch_time', batch_time);\n\t}\n\telse\n\t{\n\t\tinterval_time = time - prev_start;\n\t    msg.batch_time = prev_batch_time;\n\t\tmsg.interval_time = interval_time;\n\t\tmsg.prediction = prev_batch_time / interval_time * 1.0;\n\t\tcontext.set('interval_time', interval_time);\n\t\tcontext.set('prev_mixer_start', time);\n\t\treturn msg;\n\t}\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set('prev_mixer_run', false);\ncontext.set('prev_mixer_stop', new Date().getTime() / 1000);\ncontext.set('prev_mixer_start', new Date().getTime() / 1000);\ncontext.set('batch_time', 0.0);\ncontext.set('interval_time', 0.0);",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 260,
        "wires": [
            [
                "05878a847fda9dcc",
                "27c0a078d32b4020",
                "6110be169bf9c231"
            ]
        ]
    },
    {
        "id": "6110be169bf9c231",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "g": "b1b0fd273f6291ec",
        "group": "c78a245d5457d92a",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mixer ratio [-]",
        "format": "{{msg.prediction.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3630,
        "y": 320,
        "wires": []
    },
    {
        "id": "50f40bc46f70927a",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Ready_for_operation",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_ready_for_operation",
        "x": 590,
        "y": 460,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "80e68bdda4f25658",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Remote_connected",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_remote_connected",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e21adca25ad22f06",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.Remote_start",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_remote_start",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "dc8fc56080d2f87c",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.actual_value_water_valve",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_valve_actual",
        "x": 590,
        "y": 900,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "4c028b371bc794ed",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.error",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_error",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "6f9b29814d16c944",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.error_no",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_error_number",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "8e3469126a688da5",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.set_value_water_flow",
        "datatype": "Float",
        "value": "",
        "name": "mtec_water_flow_set",
        "x": 580,
        "y": 1020,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "e5498d6e3386d196",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_wetmaterialprobe",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_state_wet_material_probe",
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a09f2f20192d46fd",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.water_control_disable",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_water_control_disable",
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "bdd1dc54ac323468",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.delay_time_wet_material_probe_dynamically",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_time_wet_material_probe_dynamically",
        "x": 650,
        "y": 1340,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "1d33125576d23474",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.delay_time_wet_material_probe_statically",
        "datatype": "UInt16",
        "value": "",
        "name": "mtec_time_wet_material_probe_statically",
        "x": 640,
        "y": 1380,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "49facd224eafe7fa",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.state_water_pressure_ok",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_water_pressure_ok",
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "a6114c54b9f07989",
        "type": "OpcUa-Item",
        "z": "dbcff3a91e8577ef",
        "item": "ns=4;s=|var|B-Fortis CC-Slim S04.Application.GVL_OPC.aut_solenoid_valve",
        "datatype": "Boolean",
        "value": "",
        "name": "mtec_water_solenoid_valve",
        "x": 600,
        "y": 820,
        "wires": [
            [
                "a106ea0c2e4dda58"
            ]
        ]
    },
    {
        "id": "7b3df1508d7a2684",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ready for operation [bool]",
        "format": "{{msg.payload.mtec_ready_for_operation.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 500,
        "wires": []
    },
    {
        "id": "768bfa7a2b9ca840",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Remote connected [bool]",
        "format": "{{msg.payload.mtec_remote_connected.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 540,
        "wires": []
    },
    {
        "id": "4e723fd1f7be201c",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Remote start [bool]",
        "format": "{{msg.payload.mtec_remote_start.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 580,
        "wires": []
    },
    {
        "id": "7aab4b2397aa7e0c",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Error [bool]",
        "format": "{{msg.payload.mtec_error.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 620,
        "wires": []
    },
    {
        "id": "c332585bc6b295dc",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Error number",
        "format": "{{msg.payload.mtec_error_number.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 660,
        "wires": []
    },
    {
        "id": "53a87be80ccc5783",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water temp [C]",
        "format": "{{msg.payload.mtec_water_temp.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3360,
        "y": 1180,
        "wires": []
    },
    {
        "id": "faa80eae45e851b4",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water valve actual [-]",
        "format": "{{msg.payload.mtec_water_valve_actual.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1140,
        "wires": []
    },
    {
        "id": "76727dc5d342981d",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water pump run [bool]",
        "format": "{{msg.payload.mtec_water_pump_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 940,
        "wires": []
    },
    {
        "id": "0d040c79084a3216",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water pressure ok [bool]",
        "format": "{{msg.payload.mtec_water_pressure_ok.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3390,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3cfdd58e63c59fe0",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State wet probe [bool]]",
        "format": "{{msg.payload.mtec_state_wet_material_probe.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3380,
        "y": 1340,
        "wires": []
    },
    {
        "id": "63a9956d82b4132e",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mode:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 460,
        "wires": []
    },
    {
        "id": "832c975bc594aebb",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Pump:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7e42fee27821b90",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Water dosing:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3370,
        "y": 900,
        "wires": []
    },
    {
        "id": "29c6f943a378e78b",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "e8c93459e3f9c364",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Mixer:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3340,
        "y": 1260,
        "wires": []
    },
    {
        "id": "047f305375a44604",
        "type": "ui_text",
        "z": "dbcff3a91e8577ef",
        "group": "ef446e96828d062e",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Settings:",
        "format": "{{msg.payload.mtec_mixer_run.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3350,
        "y": 1400,
        "wires": []
    },
    {
        "id": "929e8ff0ded763d5",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "2159e8a83bb50b67",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "ea01daf392632919",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "54862a26300606bc",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "e8c93459e3f9c364",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "4f7a6b2f98fb885d",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "075b2c2b8710fc7f",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "69a4df079123c216",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "f9a33c4318c913c5",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "a95220d1f14e0c6e",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "5c3c4d927fc72918",
        "type": "ui_spacer",
        "z": "dbcff3a91e8577ef",
        "name": "spacer",
        "group": "ef446e96828d062e",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "e8c93459e3f9c364",
        "type": "ui_group",
        "name": "Read values 1",
        "tab": "4809d57f0b02fac6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef446e96828d062e",
        "type": "ui_group",
        "name": "Read values 2",
        "tab": "4809d57f0b02fac6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "c78a245d5457d92a",
        "type": "ui_group",
        "name": "Analysis",
        "tab": "4809d57f0b02fac6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2159e8a83bb50b67",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4809d57f0b02fac6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4809d57f0b02fac6",
        "type": "ui_tab",
        "name": "M-tec duomix",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]