flows/mtec_write_values.json
[
    {
        "id": "09f74a936e34ed02",
        "type": "tab",
        "label": "M-tec: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed9fe8e0a4294cfa",
        "type": "trigger",
        "z": "09f74a936e34ed02",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "0b08100827d5f1c3"
            ]
        ]
    },
    {
        "id": "0b08100827d5f1c3",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix.Value.Value;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "Livebit2extern",
        "x": 860,
        "y": 360,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "28934a46c30d4da5",
        "type": "OpcUa-Client",
        "z": "09f74a936e34ed02",
        "endpoint": "b02adcf7.368dd",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1180,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "52bed2e245433535",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "Berghof communication status",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Livebit2DuoMix;datatype=Boolean",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "ed9fe8e0a4294cfa"
            ]
        ]
    },
    {
        "id": "b8805f6fab92b756",
        "type": "ui_text_input",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Pump velocity",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "6ddb910815ccf34d"
            ]
        ]
    },
    {
        "id": "b62c4f4064b75c9c",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.set_value_mixingpump.Value.Value;datatype=Uint16",
        "datatype": "UInt16",
        "value": "",
        "name": "Write speed to Berghof",
        "x": 880,
        "y": 440,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "eb1bd0f2fca4d807",
        "type": "OpcUa-Item",
        "z": "09f74a936e34ed02",
        "item": "ns=4;s=|var|ECC2100 0.8S 1131.Application.GVL_OPC.Remote_start.Value.Value;datatype=Uint16",
        "datatype": "Boolean",
        "value": "",
        "name": "Remote start",
        "x": 850,
        "y": 540,
        "wires": [
            [
                "28934a46c30d4da5"
            ]
        ]
    },
    {
        "id": "531f6c94260ac779",
        "type": "ui_switch",
        "z": "09f74a936e34ed02",
        "name": "",
        "label": "Enable/disable",
        "tooltip": "",
        "group": "2159e8a83bb50b67",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 540,
        "wires": [
            [
                "eb1bd0f2fca4d807"
            ]
        ]
    },
    {
        "id": "921831315afc8cd9",
        "type": "ui_text",
        "z": "09f74a936e34ed02",
        "group": "2159e8a83bb50b67",
        "order": 3,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "rpm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "6ddb910815ccf34d",
        "type": "function",
        "z": "09f74a936e34ed02",
        "name": "",
        "func": "if( msg.payload<170){msg.payload=170}\nelse if(msg.payload>420){msg.payload=420}\nmsg.payload=(msg.payload-169.2)*65000/(420-169.2)\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "b62c4f4064b75c9c"
            ]
        ]
    },
    {
        "id": "4945a8b5df711968",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "531f6c94260ac779"
            ]
        ]
    },
    {
        "id": "65884eac94a8b64a",
        "type": "inject",
        "z": "09f74a936e34ed02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "170",
        "payloadType": "num",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "b8805f6fab92b756"
            ]
        ]
    },
    {
        "id": "b02adcf7.368dd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.73:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "2159e8a83bb50b67",
        "type": "ui_group",
        "name": "Write values",
        "tab": "4809d57f0b02fac6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4809d57f0b02fac6",
        "type": "ui_tab",
        "name": "M-tec duomix",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]