flows/printhead_read_values.json
[
    {
        "id": "990f0f01b5df7bf5",
        "type": "tab",
        "label": "Printhead: Read values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a870af66417b1892",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Read  values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 2930,
        "y": 320,
        "wires": []
    },
    {
        "id": "770b142be4ed4489",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Read values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 2950,
        "y": 800,
        "wires": []
    },
    {
        "id": "6ded33e24cd71ebb",
        "type": "join",
        "z": "990f0f01b5df7bf5",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "29",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 2350,
        "y": 1880,
        "wires": [
            [
                "fd7dd966dc1de854"
            ]
        ]
    },
    {
        "id": "adcc4ab30d8289d2",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Move backward",
        "func": "if (msg.payload==true) \n{\n    msg.printhead_move_jog_backward_left=1\n} \nelse if(msg.payload==false) \n{\n    msg.printhead_move_jog_backward_left=0\n} \nelse \n{\n    msg.printhead_move_jog_backward_left=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 400,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "b371add13057b163"
            ]
        ]
    },
    {
        "id": "88342ca220b32082",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Move forward",
        "func": "if (msg.payload==true) \n{\n    msg.printhead_move_jog_forward_left=1\n} \nelse if(msg.payload==false) \n{\n    msg.printhead_move_jog_forward_left=0\n} \nelse \n{\n    msg.printhead_move_jog_forward_left=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 440,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "4903c8950e2d7a0d"
            ]
        ]
    },
    {
        "id": "3398281289ae5e53",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Setpoint velocity left",
        "func": "msg.printhead_velocity_jog_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 480,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "c5a3841657c73b72"
            ]
        ]
    },
    {
        "id": "2c5afdc5eae34b9d",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual torque left",
        "func": "msg.printhead_actual_torque_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 640,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "4aa85e68d905b4ab"
            ]
        ]
    },
    {
        "id": "0e0c52bb1ca4d0bc",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual velocity left",
        "func": "msg.printhead_actual_velocity_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 520,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "45ddf1b32355fbef"
            ]
        ]
    },
    {
        "id": "bf5da3825a317d67",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Power on left",
        "func": "if (msg.payload==true) \n{\n    msg.printhead_power_on_left=1\n} \nelse if(msg.payload==false) \n{\n    msg.printhead_power_on_left=0\n} \nelse \n{\n    msg.printhead_power_on_left=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 360,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "b53a59826b2920ee"
            ]
        ]
    },
    {
        "id": "26a087be485a43a7",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Move backward right",
        "func": "if (msg.payload==true) \n{\n    msg.printhead_move_jog_backward_right=1\n} \nelse if(msg.payload==false) \n{\n    msg.printhead_move_jog_backward_right=0\n} \nelse \n{\n    msg.printhead_move_jog_backward_right=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 880,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "54cd593926552e7c"
            ]
        ]
    },
    {
        "id": "76097d18f937f6fc",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Move forward right",
        "func": "if (msg.payload==true) \n{\n    msg.printhead_move_jog_forward_right=1\n} \nelse if(msg.payload==false) \n{\n    msg.printhead_move_jog_forward_right=0\n} \nelse \n{\n    msg.printhead_move_jog_forward_right=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 920,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "478a155ac7dd6295"
            ]
        ]
    },
    {
        "id": "072049b5c6e9363c",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Setpoint velocity right",
        "func": "msg.printhead_velocity_jog_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 960,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "440849507724c5a0"
            ]
        ]
    },
    {
        "id": "f2298c49016baa93",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual torque right",
        "func": "msg.printhead_actual_torque_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1120,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "ef3e20560b57434f"
            ]
        ]
    },
    {
        "id": "54b1763e3f4e700b",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual velocity right",
        "func": "msg.printhead_actual_velocity_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1000,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "3eb7d14d04e03b69"
            ]
        ]
    },
    {
        "id": "f2383742a4a2f0a8",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Power on right",
        "func": "if (msg.payload==true) \n{\n    msg.printhead_power_on_right=1\n} \nelse if(msg.payload==false) \n{\n    msg.printhead_power_on_right=0\n} \nelse \n{\n    msg.printhead_power_on_right=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 840,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "664832589b299f11"
            ]
        ]
    },
    {
        "id": "ba3e4a4f1809c0c8",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai0",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai0 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai0=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1260,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "3ab448ea91ec2b82"
            ]
        ]
    },
    {
        "id": "d3baa623e9ad8e20",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai1",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai1 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai1=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1300,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "f11022ee4813a12b"
            ]
        ]
    },
    {
        "id": "0b5f2acea5a907a4",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai2",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai2 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai2=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1340,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "3286b951c54642c1"
            ]
        ]
    },
    {
        "id": "c423b842bccade69",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai3",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai3 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai3=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1380,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "b238e672aa364a99"
            ]
        ]
    },
    {
        "id": "0e79b9f5f0307eed",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai4",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai4 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai4=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1420,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "136b6eb32528913f"
            ]
        ]
    },
    {
        "id": "49e08b77f26e4fab",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai5",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai5 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai5=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1460,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "dae4fa1b4bd3679c"
            ]
        ]
    },
    {
        "id": "7cad8c5dde3a7412",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai6",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai6 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai6=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1500,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "9e8fe59a760ba69e"
            ]
        ]
    },
    {
        "id": "3bfe74a78d5d2e5a",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box1_ai7",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box1_ai7 = 0.0\n}\nelse\n{\n    msg.printhead_box1_ai7=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1540,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "8516f8a1671a3142"
            ]
        ]
    },
    {
        "id": "3f9075b0da7964c8",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box2_ai0",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box2_ai0 = 0.0\n}\nelse\n{\n    msg.printhead_box2_ai0=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1620,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "f4f60e1cf4498813"
            ]
        ]
    },
    {
        "id": "23f8ce180a9a6e8d",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box2_ai1",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box2_ai1 = 0.0\n}\nelse\n{\n    msg.printhead_box2_ai1=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1660,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "3a89b91401a0bea8"
            ]
        ]
    },
    {
        "id": "8d22189975fd44fa",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box2_ai2",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box2_ai2 = 0.0\n}\nelse\n{\n    msg.printhead_box2_ai2=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1700,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "634748cd4d352230"
            ]
        ]
    },
    {
        "id": "557fe1f3597da475",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "printhead_box2_ai3",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_box2_ai3 = 0.0\n}\nelse\n{\n    msg.printhead_box2_ai3=msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1740,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "b351ad8e69a7291b"
            ]
        ]
    },
    {
        "id": "f55f61ba4a6e0070",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Pressure 0-10 bar, AI0",
        "func": "if (msg.payload < 0)\n{\n    msg.printhead_pressure = 0.0\n}\nelse\n{\n    msg.printhead_pressure=msg.payload.toString()/27468*10.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 160,
        "wires": [
            [
                "6ded33e24cd71ebb",
                "cb80276a38b8da55",
                "e7ddfa57610559e5",
                "e399fc2ca7151998"
            ]
        ]
    },
    {
        "id": "749fca2ea2f32072",
        "type": "switch",
        "z": "990f0f01b5df7bf5",
        "name": "Values",
        "property": "browseName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "printhead_power_on_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_move_jog_backward_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_move_jog_forward_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_velocity_jog_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_velocity_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_power_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_current_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_torque_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_max_acceleration_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_max_deceleration_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_power_on_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_move_jog_backward_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_move_jog_forward_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_velocity_jog_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_velocity_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_power_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_current_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_actual_torque_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_max_acceleration_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_max_deceleration_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box1_ai7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box2_ai0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box2_ai1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box2_ai2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printhead_box2_ai3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 32,
        "x": 1490,
        "y": 1020,
        "wires": [
            [
                "bf5da3825a317d67"
            ],
            [
                "adcc4ab30d8289d2"
            ],
            [
                "88342ca220b32082"
            ],
            [
                "3398281289ae5e53"
            ],
            [
                "0e0c52bb1ca4d0bc"
            ],
            [
                "968ac7ee456d7f92"
            ],
            [
                "86f580986a483621"
            ],
            [
                "2c5afdc5eae34b9d"
            ],
            [
                "a9b2ab1f2d55a09f"
            ],
            [
                "53c9729164f6d3bc"
            ],
            [
                "f2383742a4a2f0a8"
            ],
            [
                "26a087be485a43a7"
            ],
            [
                "76097d18f937f6fc"
            ],
            [
                "072049b5c6e9363c"
            ],
            [
                "54b1763e3f4e700b"
            ],
            [
                "e277e0e9e688d19d"
            ],
            [
                "b3c0f8709fc7c5c1"
            ],
            [
                "f2298c49016baa93"
            ],
            [
                "794f8e5a56ed699c"
            ],
            [
                "470c5fea0540d83a"
            ],
            [
                "ba3e4a4f1809c0c8",
                "f55f61ba4a6e0070"
            ],
            [
                "d3baa623e9ad8e20"
            ],
            [
                "0b5f2acea5a907a4"
            ],
            [
                "c423b842bccade69"
            ],
            [
                "0e79b9f5f0307eed"
            ],
            [
                "49e08b77f26e4fab"
            ],
            [
                "7cad8c5dde3a7412"
            ],
            [
                "3bfe74a78d5d2e5a"
            ],
            [
                "3f9075b0da7964c8"
            ],
            [
                "23f8ce180a9a6e8d"
            ],
            [
                "8d22189975fd44fa"
            ],
            [
                "557fe1f3597da475"
            ]
        ]
    },
    {
        "id": "b371add13057b163",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move backward [0/1]",
        "format": "{{msg.printhead_move_jog_backward_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 400,
        "wires": []
    },
    {
        "id": "4903c8950e2d7a0d",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move forward [0/1]",
        "format": "{{msg.printhead_move_jog_forward_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2930,
        "y": 440,
        "wires": []
    },
    {
        "id": "c5a3841657c73b72",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity setpoint [RPM]",
        "format": "{{msg.printhead_velocity_jog_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2950,
        "y": 480,
        "wires": []
    },
    {
        "id": "4aa85e68d905b4ab",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual torque [Nm]",
        "format": "{{msg.printhead_actual_torque_left.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2930,
        "y": 640,
        "wires": []
    },
    {
        "id": "45ddf1b32355fbef",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual velocity [RPM]",
        "format": "{{msg.printhead_actual_velocity_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2940,
        "y": 520,
        "wires": []
    },
    {
        "id": "b53a59826b2920ee",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power on [0/1]",
        "format": "{{msg.printhead_power_on_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2920,
        "y": 360,
        "wires": []
    },
    {
        "id": "54cd593926552e7c",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move backward [0/1]",
        "format": "{{msg.printhead_move_jog_backward_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2960,
        "y": 880,
        "wires": []
    },
    {
        "id": "478a155ac7dd6295",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Move forward [0/1]",
        "format": "{{msg.printhead_move_jog_forward_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2950,
        "y": 920,
        "wires": []
    },
    {
        "id": "440849507724c5a0",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Velocity setpoint [RPM]",
        "format": "{{msg.printhead_velocity_jog_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2970,
        "y": 960,
        "wires": []
    },
    {
        "id": "ef3e20560b57434f",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual torque [Nm]",
        "format": "{{msg.printhead_actual_torque_right.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2950,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3eb7d14d04e03b69",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual velocity [RPM]",
        "format": "{{msg.printhead_actual_velocity_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2960,
        "y": 1000,
        "wires": []
    },
    {
        "id": "664832589b299f11",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power on [0/1]",
        "format": "{{msg.printhead_power_on_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 840,
        "wires": []
    },
    {
        "id": "3ab448ea91ec2b82",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI0 [mA]",
        "format": "{{msg.printhead_box1_ai0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f11022ee4813a12b",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI1 [mA]",
        "format": "{{msg.printhead_box1_ai1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3286b951c54642c1",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI2 [mA]",
        "format": "{{msg.printhead_box1_ai2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b238e672aa364a99",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.printhead_box1_ai3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1380,
        "wires": []
    },
    {
        "id": "136b6eb32528913f",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI4 [mA]",
        "format": "{{msg.printhead_box1_ai4.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1420,
        "wires": []
    },
    {
        "id": "dae4fa1b4bd3679c",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI5 [mA]",
        "format": "{{msg.printhead_box1_ai5.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9e8fe59a760ba69e",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI6 [mA]",
        "format": "{{msg.printhead_box1_ai6.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1500,
        "wires": []
    },
    {
        "id": "8516f8a1671a3142",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI7 [mA]",
        "format": "{{msg.printhead_box1_ai7.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2940,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f4f60e1cf4498813",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "c3182a43b65d6f3f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI0 [mA]",
        "format": "{{msg.printhead_box2_ai0.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2960,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3a89b91401a0bea8",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "c3182a43b65d6f3f",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI1 [mA]",
        "format": "{{msg.printhead_box2_ai1.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2960,
        "y": 1660,
        "wires": []
    },
    {
        "id": "634748cd4d352230",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "c3182a43b65d6f3f",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI2 [mA]",
        "format": "{{msg.printhead_box2_ai2.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2960,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b351ad8e69a7291b",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "c3182a43b65d6f3f",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.printhead_box2_ai3.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2960,
        "y": 1740,
        "wires": []
    },
    {
        "id": "cb80276a38b8da55",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "",
        "func": "msg.payload=msg.printhead_pressure\nmsg.topic=\"AI0: WIKA Pressure sensor 0-10 bar\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 160,
        "wires": [
            [
                "eaf3da67f1f10ab6"
            ]
        ]
    },
    {
        "id": "e7ddfa57610559e5",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "751807419a0c11a8",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI0 0-10 bar [bar] ",
        "format": "{{msg.printhead_pressure.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2380,
        "y": 120,
        "wires": []
    },
    {
        "id": "aaa3834747257b9c",
        "type": "OpcUa-Client",
        "z": "990f0f01b5df7bf5",
        "endpoint": "3d6b24f6a6823956",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "0.1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1240,
        "y": 1020,
        "wires": [
            [
                "749fca2ea2f32072"
            ]
        ]
    },
    {
        "id": "eaf3da67f1f10ab6",
        "type": "ui_chart",
        "z": "990f0f01b5df7bf5",
        "name": "",
        "group": "53d83661cfcefa23",
        "order": 6,
        "width": 27,
        "height": 6,
        "label": "Pressure at printhead [bar]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": "5",
        "removeOlderPoints": "500",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0011ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7a61458fca0c64b7",
        "type": "ui_button",
        "z": "990f0f01b5df7bf5",
        "name": "Clear chart",
        "group": "53d83661cfcefa23",
        "order": 5,
        "width": 27,
        "height": 1,
        "passthru": false,
        "label": "Clear pressure chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 2130,
        "y": 120,
        "wires": [
            [
                "eaf3da67f1f10ab6"
            ]
        ]
    },
    {
        "id": "fd7dd966dc1de854",
        "type": "link out",
        "z": "990f0f01b5df7bf5",
        "name": "Printhead values out",
        "mode": "link",
        "links": [
            "c6d9dba04fb03bb9"
        ],
        "x": 2475,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e399fc2ca7151998",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "d5be84c8a2a9dbe3",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pressure AI0 0-10 bar [bar] ",
        "format": "{{msg.printhead_pressure.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "x": 2360,
        "y": 280,
        "wires": []
    },
    {
        "id": "5da0a1ae9806c005",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "d5be84c8a2a9dbe3",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Printhead:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 2320,
        "y": 240,
        "wires": []
    },
    {
        "id": "b933f2d17a1236e8",
        "type": "inject",
        "z": "990f0f01b5df7bf5",
        "d": true,
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "33da58d8fcf52813",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI0\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai0",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "a1d4293c564d21f6",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI1\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai1",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "4e4b24d1656c41fb",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI2\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai2",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "0c407008232e4c41",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI3\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai3",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "71505804b11387ca",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI4\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai4",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "e2a311236442b670",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI5\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai5",
        "x": 630,
        "y": 640,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "2a8899b11cbae4aa",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI6\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai6",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "c0102b878b0f63db",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box1_AI7\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box1_ai7",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "bcea79dc9f301bbf",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box2_AI0\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai0",
        "x": 630,
        "y": 780,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "fdeb7a0e36c792ff",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box2_AI1\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai1",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "eb81ebf01c7b260a",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box2_AI2\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai2",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "2c796754bdb4146b",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Box2_AI3\"",
        "datatype": "Int16",
        "value": "",
        "name": "printhead_box2_ai3",
        "x": 630,
        "y": 900,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "3aa5e0cfb35accc2",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Power_On_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_power_on_left",
        "x": 650,
        "y": 960,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "07f3d65c96753683",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Move_Jog_Backward_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_backward_left",
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "ef087cbc6bc95964",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Move_Jog_Forward_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_forward_left",
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "e810775ab9950f55",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Velocity_Jog_left\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_velocity_jog_left",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "9a3746eafb3ea4c7",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisLeft\".StatusTorqueData.ActualTorque",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_torque_left",
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "bd78e42da2d46f69",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisLeft\".Velocity",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_velocity_left",
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "bf74b39f5d961e5a",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Power_On_right\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_power_on_right",
        "x": 650,
        "y": 1480,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "e4312689e36d37f0",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Move_Jog_Backward_right\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_backward_right",
        "x": 690,
        "y": 1520,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "441575a0f2eb15e4",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Move_Jog_Forward_right\"",
        "datatype": "Boolean",
        "value": "",
        "name": "printhead_move_jog_forward_right",
        "x": 680,
        "y": 1560,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "73893f4b7c4e88b1",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Velocity_Jog_right\"",
        "datatype": "Double",
        "value": "",
        "name": "printhead_velocity_jog_right",
        "x": 660,
        "y": 1600,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "a9947ac5f8f5b29c",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisRight\".StatusTorqueData.ActualTorque",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_torque_right",
        "x": 670,
        "y": 1760,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "b3829f71f61b9436",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisRight\".Velocity",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_velocity_right",
        "x": 670,
        "y": 1640,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "77c717f37c64d525",
        "type": "link in",
        "z": "990f0f01b5df7bf5",
        "name": "Timer in",
        "links": [
            "b847af6089af00ad"
        ],
        "x": 305,
        "y": 440,
        "wires": [
            [
                "33da58d8fcf52813",
                "a1d4293c564d21f6",
                "4e4b24d1656c41fb",
                "0c407008232e4c41",
                "71505804b11387ca",
                "e2a311236442b670",
                "2a8899b11cbae4aa",
                "c0102b878b0f63db",
                "bcea79dc9f301bbf",
                "fdeb7a0e36c792ff",
                "eb81ebf01c7b260a",
                "2c796754bdb4146b",
                "3aa5e0cfb35accc2",
                "07f3d65c96753683",
                "ef087cbc6bc95964",
                "e810775ab9950f55",
                "9a3746eafb3ea4c7",
                "bd78e42da2d46f69",
                "bf74b39f5d961e5a",
                "e4312689e36d37f0",
                "441575a0f2eb15e4",
                "73893f4b7c4e88b1",
                "a9947ac5f8f5b29c",
                "b3829f71f61b9436",
                "6ba7fc4d2b903176",
                "35df17c01fd5f3f8",
                "256e36b040090cb6",
                "84766dc5af6257a0",
                "da99307dfbea2bc5",
                "0809d4e3c6ef9889",
                "539826b60bd7a297",
                "8f75dbf8bb2a0370"
            ]
        ]
    },
    {
        "id": "6ba7fc4d2b903176",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisLeft\".DynamicLimits.MaxAcceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_acceleration_left",
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "35df17c01fd5f3f8",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisLeft\".DynamicLimits.MaxDeceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_deceleration_left",
        "x": 670,
        "y": 1320,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "256e36b040090cb6",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisRight\".DynamicLimits.MaxAcceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_acceleration_right",
        "x": 680,
        "y": 1800,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "84766dc5af6257a0",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"SpeedAxisRight\".DynamicLimits.MaxDeceleration",
        "datatype": "Double",
        "value": "",
        "name": "printhead_max_deceleration_right",
        "x": 680,
        "y": 1840,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "a9b2ab1f2d55a09f",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Max acceleration left",
        "func": "msg.printhead_max_acc_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 680,
        "wires": [
            [
                "2f957f2936d48427"
            ]
        ]
    },
    {
        "id": "53c9729164f6d3bc",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Max deceleration left",
        "func": "msg.printhead_max_dec_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 720,
        "wires": [
            [
                "d1adbf316aa4d588"
            ]
        ]
    },
    {
        "id": "794f8e5a56ed699c",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Max acceleration right",
        "func": "msg.printhead_max_acc_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1160,
        "wires": [
            [
                "474091e0541cd623"
            ]
        ]
    },
    {
        "id": "470c5fea0540d83a",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Max deceleration right",
        "func": "msg.printhead_max_dec_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1200,
        "wires": [
            [
                "b9435473267f7d1a"
            ]
        ]
    },
    {
        "id": "2f957f2936d48427",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 23,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max acceleration [m/s2]",
        "format": "{{msg.printhead_max_acc_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2950,
        "y": 680,
        "wires": []
    },
    {
        "id": "d1adbf316aa4d588",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 24,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max deceleration [m/s2]",
        "format": "{{msg.printhead_max_dec_left.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2950,
        "y": 720,
        "wires": []
    },
    {
        "id": "474091e0541cd623",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 23,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max acceleration [m/s2]",
        "format": "{{msg.printhead_max_acc_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2970,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b9435473267f7d1a",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 24,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max deceleration [m/s2]",
        "format": "{{msg.printhead_max_dec_right.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2970,
        "y": 1200,
        "wires": []
    },
    {
        "id": "da99307dfbea2bc5",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_left_Power\"",
        "datatype": "Float",
        "value": "",
        "name": "printhead_actual_power_left",
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "0809d4e3c6ef9889",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_left_Current\"",
        "datatype": "Float",
        "value": "",
        "name": "printhead_actual_current_left",
        "x": 660,
        "y": 1200,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "539826b60bd7a297",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_right_Power\"",
        "datatype": "Float",
        "value": "",
        "name": "printhead_actual_power_right",
        "x": 670,
        "y": 1680,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "8f75dbf8bb2a0370",
        "type": "OpcUa-Item",
        "z": "990f0f01b5df7bf5",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_right_Current\"",
        "datatype": "Double",
        "value": "",
        "name": "printhead_actual_current_right",
        "x": 670,
        "y": 1720,
        "wires": [
            [
                "aaa3834747257b9c"
            ]
        ]
    },
    {
        "id": "968ac7ee456d7f92",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual power left",
        "func": "msg.printhead_actual_power_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 560,
        "wires": [
            [
                "41fa1762cf448717",
                "6ded33e24cd71ebb"
            ]
        ]
    },
    {
        "id": "86f580986a483621",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual current left",
        "func": "msg.printhead_actual_current_left=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 600,
        "wires": [
            [
                "5486d674e1d22940",
                "6ded33e24cd71ebb"
            ]
        ]
    },
    {
        "id": "e277e0e9e688d19d",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual power right",
        "func": "msg.printhead_actual_power_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1040,
        "wires": [
            [
                "6b31ae7649a48cd9",
                "6ded33e24cd71ebb"
            ]
        ]
    },
    {
        "id": "b3c0f8709fc7c5c1",
        "type": "function",
        "z": "990f0f01b5df7bf5",
        "name": "Actual current right",
        "func": "msg.printhead_actual_current_right=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1080,
        "wires": [
            [
                "5e4e45212a6c766e",
                "6ded33e24cd71ebb"
            ]
        ]
    },
    {
        "id": "41fa1762cf448717",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual power [kW]",
        "format": "{{msg.printhead_actual_power_left.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2930,
        "y": 560,
        "wires": []
    },
    {
        "id": "5486d674e1d22940",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "6b810393774c59ed",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual current [A]",
        "format": "{{msg.printhead_actual_current_left.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2930,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b31ae7649a48cd9",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual power [kW]",
        "format": "{{msg.printhead_actual_power_right.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2950,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5e4e45212a6c766e",
        "type": "ui_text",
        "z": "990f0f01b5df7bf5",
        "group": "b9011e67f72d8da0",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Actual current [A]",
        "format": "{{msg.printhead_actual_current_right.toFixed(3)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2950,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b3ef233767c959fb",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "39abb633de44e13c",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "22efcd03a503f577",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "39abb633de44e13c",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "76d422c1da4a80c8",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "6b810393774c59ed",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "229572e9ae1f0675",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "6b810393774c59ed",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "986d5363be596418",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "6b810393774c59ed",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "69521249de9183c4",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "b9011e67f72d8da0",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "03378df99d1f6698",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "b9011e67f72d8da0",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "8f33b753ebe25f5f",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "b9011e67f72d8da0",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "1b883ea6ca6825d9",
        "type": "ui_spacer",
        "z": "990f0f01b5df7bf5",
        "name": "spacer",
        "group": "751807419a0c11a8",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "6b810393774c59ed",
        "type": "ui_group",
        "name": "Motor 1 (left)",
        "tab": "6a728bddbd75b4dd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9011e67f72d8da0",
        "type": "ui_group",
        "name": "Motor 2 (right)",
        "tab": "6a728bddbd75b4dd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "751807419a0c11a8",
        "type": "ui_group",
        "name": "Wall box 1 (stationary)",
        "tab": "6a728bddbd75b4dd",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3182a43b65d6f3f",
        "type": "ui_group",
        "name": "Wall box 2 (rotating)",
        "tab": "6a728bddbd75b4dd",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d6b24f6a6823956",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.20:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "53d83661cfcefa23",
        "type": "ui_group",
        "name": "Data Graphs",
        "tab": "53571d4d81ebd061",
        "order": 2,
        "disp": true,
        "width": 27,
        "collapse": false
    },
    {
        "id": "d5be84c8a2a9dbe3",
        "type": "ui_group",
        "name": "Summary",
        "tab": "53571d4d81ebd061",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "39abb633de44e13c",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ca315ccc11e55671",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a728bddbd75b4dd",
        "type": "ui_tab",
        "name": "Smart printhead PLC",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53571d4d81ebd061",
        "type": "ui_tab",
        "name": "Data overview",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca315ccc11e55671",
        "type": "ui_tab",
        "name": "Gantry robot",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]