flows/printhead_write_values.json
[
    {
        "id": "32777bc2119191bf",
        "type": "tab",
        "label": "Printhead: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4833004ead151d8c",
        "type": "group",
        "z": "32777bc2119191bf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7aa70da7db01f139",
            "cae9f7857ced062e",
            "6ed92f5027ea657b",
            "d133c45415108357",
            "ed656906308743e0",
            "c755fd3e87314d58",
            "12c8c288891bb626",
            "be2d6059c413280b",
            "0880c6d7fb58f8c3",
            "499febfbfe371da1",
            "53bff6e81e6b58e8",
            "886c2439fe6755f5",
            "659a75335d996d60",
            "d7f8b98fc60ae0a6",
            "c2cb620694271de9",
            "9e599cd1c2328838",
            "fb62ea588596bf32",
            "a1e0a0a8507bd92c",
            "107575f23d6d8d39",
            "1411558e8ae78540",
            "e8f774c3f98f2431",
            "c5b7f9ab7f4fbbfc",
            "eaf8935b329795eb",
            "1eb100d1083b5b28",
            "590c2024fda4301f"
        ],
        "x": 34,
        "y": 959,
        "w": 852,
        "h": 702
    },
    {
        "id": "94e4f57dd2a052c4",
        "type": "group",
        "z": "32777bc2119191bf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b1b523c5a52b0a49",
            "391139f16ece4b2c",
            "b04c3697ea385993",
            "1a135478165d9d8f",
            "3b9a1e01a75519cd",
            "839201b14ef80feb",
            "a694f5ec0e0ea7ce",
            "28400920645f094a",
            "eadab86518acdad6",
            "97246b33f9a3fc41",
            "1771b310f15c3bf1",
            "647ed798dfbf4847",
            "369cb8a7121e9842",
            "2af8f9b62cd21271",
            "9f97c55746316c54",
            "313649f804a80dfb",
            "bdc59bf881d842fa",
            "6326373fffa8fa3d",
            "fe1a8c1745acdf26",
            "b23522cc3d9bb9c4",
            "134c1313842b7938",
            "73d6ba3b2c125735",
            "6637992525d62079",
            "4192c822c4c2a1f2",
            "27ab2de8368ac009"
        ],
        "x": 54,
        "y": 179,
        "w": 832,
        "h": 662
    },
    {
        "id": "b1b523c5a52b0a49",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"Power_On_left\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Power on",
        "x": 740,
        "y": 380,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "391139f16ece4b2c",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "b1b523c5a52b0a49"
            ]
        ]
    },
    {
        "id": "e6bcc6ce227acc6e",
        "type": "OpcUa-Client",
        "z": "32777bc2119191bf",
        "endpoint": "3d6b24f6a6823956",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1340,
        "y": 880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b04c3697ea385993",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"Reset_S210_left\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Reset",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "1a135478165d9d8f",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"Move_Jog_Backward_left\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Move backward",
        "x": 760,
        "y": 440,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "3b9a1e01a75519cd",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"Move_Jog_Forward_left\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Move forward",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "839201b14ef80feb",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Move backward",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "1a135478165d9d8f"
            ]
        ]
    },
    {
        "id": "a694f5ec0e0ea7ce",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Move forward",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "3b9a1e01a75519cd"
            ]
        ]
    },
    {
        "id": "28400920645f094a",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "391139f16ece4b2c",
                "839201b14ef80feb",
                "a694f5ec0e0ea7ce",
                "73d6ba3b2c125735"
            ]
        ]
    },
    {
        "id": "eadab86518acdad6",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"Velocity_Jog_left\"",
        "datatype": "Double",
        "value": "msg.topic",
        "name": "Setpoint velocity",
        "x": 760,
        "y": 540,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "97246b33f9a3fc41",
        "type": "ui_text_input",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Velocity setpoint",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "647ed798dfbf4847"
            ]
        ]
    },
    {
        "id": "1771b310f15c3bf1",
        "type": "ui_text",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "group": "6b810393774c59ed",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "rpm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "647ed798dfbf4847",
        "type": "function",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "func": "if( msg.payload<0){msg.payload=0}\nelse if(msg.payload>600){msg.payload=600}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            [
                "eadab86518acdad6"
            ]
        ]
    },
    {
        "id": "369cb8a7121e9842",
        "type": "ui_text",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "group": "6b810393774c59ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Write values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "7aa70da7db01f139",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"Power_On_right\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Power on",
        "x": 740,
        "y": 1160,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "cae9f7857ced062e",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "7aa70da7db01f139"
            ]
        ]
    },
    {
        "id": "6ed92f5027ea657b",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"Reset_S210_right\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Reset",
        "x": 730,
        "y": 1120,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "d133c45415108357",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"Move_Jog_Backward_right\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Move backward",
        "x": 760,
        "y": 1220,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "ed656906308743e0",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"Move_Jog_Forward_right\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Move forward",
        "x": 760,
        "y": 1260,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "c755fd3e87314d58",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Move backward",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 1220,
        "wires": [
            [
                "d133c45415108357"
            ]
        ]
    },
    {
        "id": "12c8c288891bb626",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Move forward",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 1260,
        "wires": [
            [
                "ed656906308743e0"
            ]
        ]
    },
    {
        "id": "be2d6059c413280b",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"Velocity_Jog_right\"",
        "datatype": "Double",
        "value": "msg.topic",
        "name": "Setpoint velocity",
        "x": 760,
        "y": 1320,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "0880c6d7fb58f8c3",
        "type": "ui_text_input",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Velocity setpoint",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 1320,
        "wires": [
            [
                "53bff6e81e6b58e8"
            ]
        ]
    },
    {
        "id": "499febfbfe371da1",
        "type": "ui_text",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "group": "b9011e67f72d8da0",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "rpm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 310,
        "y": 1360,
        "wires": []
    },
    {
        "id": "53bff6e81e6b58e8",
        "type": "function",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "func": "if( msg.payload<0){msg.payload=0}\nelse if(msg.payload>600){msg.payload=600}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "be2d6059c413280b"
            ]
        ]
    },
    {
        "id": "886c2439fe6755f5",
        "type": "ui_text",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "group": "b9011e67f72d8da0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<b>Write values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 350,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2af8f9b62cd21271",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "97246b33f9a3fc41"
            ]
        ]
    },
    {
        "id": "659a75335d996d60",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "0880c6d7fb58f8c3"
            ]
        ]
    },
    {
        "id": "9f97c55746316c54",
        "type": "comment",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "Motor 1 (left)",
        "info": "",
        "x": 160,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7f8b98fc60ae0a6",
        "type": "comment",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "Motor 2 (right)",
        "info": "",
        "x": 150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c2cb620694271de9",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 330,
        "y": 1120,
        "wires": [
            [
                "cae9f7857ced062e",
                "c755fd3e87314d58",
                "12c8c288891bb626",
                "c5b7f9ab7f4fbbfc"
            ]
        ]
    },
    {
        "id": "313649f804a80dfb",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"SpeedAxisLeft\".DynamicLimits.MaxAcceleration",
        "datatype": "Double",
        "value": "",
        "name": "Max Acceleration",
        "x": 770,
        "y": 680,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "bdc59bf881d842fa",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"SpeedAxisLeft\".DynamicLimits.MaxDeceleration",
        "datatype": "Double",
        "value": "",
        "name": "Max Deceleration",
        "x": 770,
        "y": 720,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "9e599cd1c2328838",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"SpeedAxisRight\".DynamicLimits.MaxAcceleration",
        "datatype": "Double",
        "value": "",
        "name": "Max Acceleration",
        "x": 770,
        "y": 1480,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "fb62ea588596bf32",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"SpeedAxisRight\".DynamicLimits.MaxDeceleration",
        "datatype": "Double",
        "value": "",
        "name": "Max Deceleration",
        "x": 770,
        "y": 1520,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "a1e0a0a8507bd92c",
        "type": "ui_text_input",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Set max. acceleration",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 360,
        "y": 1480,
        "wires": [
            [
                "e8f774c3f98f2431"
            ]
        ]
    },
    {
        "id": "107575f23d6d8d39",
        "type": "ui_text",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "group": "b9011e67f72d8da0",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "m/s2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 310,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1411558e8ae78540",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 150,
        "y": 1480,
        "wires": [
            [
                "a1e0a0a8507bd92c"
            ]
        ]
    },
    {
        "id": "6326373fffa8fa3d",
        "type": "ui_text_input",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Set max. acceleration",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 360,
        "y": 680,
        "wires": [
            [
                "134c1313842b7938"
            ]
        ]
    },
    {
        "id": "fe1a8c1745acdf26",
        "type": "ui_text",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "group": "6b810393774c59ed",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "m/s2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 310,
        "y": 720,
        "wires": []
    },
    {
        "id": "b23522cc3d9bb9c4",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "6326373fffa8fa3d"
            ]
        ]
    },
    {
        "id": "134c1313842b7938",
        "type": "function",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "func": "if( msg.payload<1){msg.payload=1}\nelse if(msg.payload>1000){msg.payload=1000}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 680,
        "wires": [
            [
                "bdc59bf881d842fa",
                "313649f804a80dfb"
            ]
        ]
    },
    {
        "id": "e8f774c3f98f2431",
        "type": "function",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "func": "if( msg.payload<1){msg.payload=1}\nelse if(msg.payload>1000){msg.payload=1000}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1480,
        "wires": [
            [
                "9e599cd1c2328838",
                "fb62ea588596bf32"
            ]
        ]
    },
    {
        "id": "aa132436e4087339",
        "type": "trigger",
        "z": "32777bc2119191bf",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f33741f8f167a250"
            ]
        ]
    },
    {
        "id": "f33741f8f167a250",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "item": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "datatype": "Boolean",
        "value": "",
        "name": "Heartbeat",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "6aca6751b7a7067d",
        "type": "inject",
        "z": "32777bc2119191bf",
        "name": "Heartbeat",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "ns=3;s=\"Heartbeat\".\"Heartbeat\"",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "aa132436e4087339"
            ]
        ]
    },
    {
        "id": "73d6ba3b2c125735",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Reset",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "b04c3697ea385993"
            ]
        ]
    },
    {
        "id": "c5b7f9ab7f4fbbfc",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Reset",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "6ed92f5027ea657b"
            ]
        ]
    },
    {
        "id": "eaf8935b329795eb",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_right_ON_OFF\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Motor is connected",
        "x": 770,
        "y": 1620,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "1eb100d1083b5b28",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "label": "Motor is connected?",
        "tooltip": "",
        "group": "b9011e67f72d8da0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1620,
        "wires": [
            [
                "eaf8935b329795eb"
            ]
        ]
    },
    {
        "id": "590c2024fda4301f",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "4833004ead151d8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 1620,
        "wires": [
            [
                "1eb100d1083b5b28"
            ]
        ]
    },
    {
        "id": "6637992525d62079",
        "type": "OpcUa-Item",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "item": "ns=3;s=\"Drive_para_left_right\".\"Drive_left_ON_OFF\"",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Motor is connected",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "e6bcc6ce227acc6e"
            ]
        ]
    },
    {
        "id": "4192c822c4c2a1f2",
        "type": "ui_switch",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "label": "Motor is connected?",
        "tooltip": "",
        "group": "6b810393774c59ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 800,
        "wires": [
            [
                "6637992525d62079"
            ]
        ]
    },
    {
        "id": "27ab2de8368ac009",
        "type": "inject",
        "z": "32777bc2119191bf",
        "g": "94e4f57dd2a052c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "4192c822c4c2a1f2"
            ]
        ]
    },
    {
        "id": "6b810393774c59ed",
        "type": "ui_group",
        "name": "Motor 1 (left)",
        "tab": "6a728bddbd75b4dd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d6b24f6a6823956",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.20:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "b9011e67f72d8da0",
        "type": "ui_group",
        "name": "Motor 2 (right)",
        "tab": "6a728bddbd75b4dd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a728bddbd75b4dd",
        "type": "ui_tab",
        "name": "Smart printhead PLC",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]