flows/project_frankenstein.json
[
    {
        "id": "ee47eb5696c14296",
        "type": "tab",
        "label": "Project Frankenstein",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2eb16ee9ae04a13",
        "type": "group",
        "z": "ee47eb5696c14296",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bf753dfe3ad9c622",
            "583c29a24e03c966",
            "6a7e88d590b86b94",
            "1a8b8f5a702258bd",
            "550b1f04471ba124",
            "1d53aba126c3d4dc",
            "da6ccf9fc66732e0",
            "690ad64443e5497e",
            "cdfacf2c22dc4148"
        ],
        "x": 554,
        "y": 539,
        "w": 1232,
        "h": 262
    },
    {
        "id": "f3ae6258e2ef6f06",
        "type": "group",
        "z": "ee47eb5696c14296",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a7683fe7de9658f8",
            "f5ef904fba65b4fc",
            "16e7149e63b6d0f5",
            "7ca8b94cf12f1edf",
            "ecbb2e13d123a18e",
            "faf12f5c1c0ec6ec",
            "86f191dd05946674",
            "29eff04a28d6e027",
            "9b45896c68d03d31",
            "0e37bf3b7d21edc2",
            "54cdf15801bd459e",
            "ba72a35ca15897db",
            "cd2f68db4a520efe",
            "1e87d2551754cbe1"
        ],
        "x": 554,
        "y": 159,
        "w": 1232,
        "h": 322
    },
    {
        "id": "3f1241c96c7c2565",
        "type": "link in",
        "z": "ee47eb5696c14296",
        "name": "Mai mixer on.off in",
        "links": [
            "769cbc7c61ddfd9b"
        ],
        "x": 145,
        "y": 360,
        "wires": [
            [
                "dfd880c639b8903f"
            ]
        ]
    },
    {
        "id": "a7683fe7de9658f8",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "item": "ns=4;i=22",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "Write DO0",
        "x": 1290,
        "y": 360,
        "wires": [
            [
                "f5ef904fba65b4fc"
            ]
        ]
    },
    {
        "id": "f5ef904fba65b4fc",
        "type": "OpcUa-Client",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "endpoint": "9c6664b374f58bc5",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1660,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "16e7149e63b6d0f5",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "item": "ns=4;i=78",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "Write AO0",
        "x": 1290,
        "y": 400,
        "wires": [
            [
                "f5ef904fba65b4fc"
            ]
        ]
    },
    {
        "id": "7ca8b94cf12f1edf",
        "type": "ui_switch",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "label": "Sync with m-tec [bool]",
        "tooltip": "",
        "group": "941553f899610cff",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 440,
        "wires": [
            [
                "ecbb2e13d123a18e"
            ]
        ]
    },
    {
        "id": "ecbb2e13d123a18e",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "global.set(\"frankenstein_sync_ads\", msg.payload);",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "faf12f5c1c0ec6ec",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "var mixer_run = msg.payload;\nvar sync = false;\n\n// Global value\nif (global.get(\"frankenstein_sync_ads\")!==undefined)\n{\n    sync = global.get(\"frankenstein_sync_ads\");\n}\n\n// Check mixer\nmsg.payload = mixer_run\n\n// Sync?\nif (sync == false)\n{\n    msg.payload = false\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "a7683fe7de9658f8",
                "86f191dd05946674"
            ]
        ]
    },
    {
        "id": "86f191dd05946674",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ADS on/off [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1310,
        "y": 320,
        "wires": []
    },
    {
        "id": "29eff04a28d6e027",
        "type": "comment",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "Write values to material delivery PLC",
        "info": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf753dfe3ad9c622",
        "type": "comment",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "Write values to Vertico dosing system",
        "info": "",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "583c29a24e03c966",
        "type": "OpcUa-Client",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "endpoint": "df0e8d096d8a204d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 1660,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dfd880c639b8903f",
        "type": "function",
        "z": "ee47eb5696c14296",
        "name": "Only inject when value changes",
        "func": "if (context.get('prev_mixer_run') === 'undefined') {\n    context.set('prev_mixer_run', false);\n}\n\nif (msg.payload !== context.get('prev_mixer_run')) {\n    context.set('prev_mixer_run', msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "faf12f5c1c0ec6ec",
                "6a7e88d590b86b94",
                "1d53aba126c3d4dc"
            ]
        ]
    },
    {
        "id": "6a7e88d590b86b94",
        "type": "OpcUa-Item",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "item": "ns=5;i=2",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "vertico_do3",
        "x": 1310,
        "y": 720,
        "wires": [
            [
                "583c29a24e03c966"
            ]
        ]
    },
    {
        "id": "1a8b8f5a702258bd",
        "type": "ui_switch",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "",
        "label": "Sync with m-tec [bool]",
        "tooltip": "",
        "group": "b1d6f3e06f0a0eff",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 760,
        "wires": [
            [
                "550b1f04471ba124"
            ]
        ]
    },
    {
        "id": "550b1f04471ba124",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "",
        "func": "global.set(\"frankenstein_sync_vertico\", msg.payload);",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "1d53aba126c3d4dc",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "name": "",
        "func": "var mixer_run = msg.payload;\nvar sync = false;\n\n// Global value\nif (global.get(\"frankenstein_sync_vertico\")!==undefined)\n{\n    sync = global.get(\"frankenstein_sync_vertico\");\n}\n\n// Check mixer\nmsg.payload = mixer_run\n\n// Is enabled?\nif (sync == false)\n{\n    msg.payload = false\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "6a7e88d590b86b94",
                "da6ccf9fc66732e0"
            ]
        ]
    },
    {
        "id": "da6ccf9fc66732e0",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "group": "b1d6f3e06f0a0eff",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Liquid dosing on/off [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1350,
        "y": 680,
        "wires": []
    },
    {
        "id": "9b45896c68d03d31",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Write values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 200,
        "wires": []
    },
    {
        "id": "0e37bf3b7d21edc2",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Read values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 240,
        "wires": []
    },
    {
        "id": "690ad64443e5497e",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "group": "b1d6f3e06f0a0eff",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Write values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 580,
        "wires": []
    },
    {
        "id": "cdfacf2c22dc4148",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "d2eb16ee9ae04a13",
        "group": "b1d6f3e06f0a0eff",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Read values:",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1670,
        "y": 620,
        "wires": []
    },
    {
        "id": "1e87d2551754cbe1",
        "type": "inject",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 670,
        "y": 400,
        "wires": [
            [
                "ba72a35ca15897db"
            ]
        ]
    },
    {
        "id": "ba72a35ca15897db",
        "type": "ui_text_input",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "label": "Write AO0",
        "tooltip": "",
        "group": "941553f899610cff",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "54cdf15801bd459e"
            ]
        ]
    },
    {
        "id": "54cdf15801bd459e",
        "type": "function",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "name": "",
        "func": "if( msg.payload<4){msg.payload=4}\nelse if(msg.payload>20){msg.payload=20}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "16e7149e63b6d0f5"
            ]
        ]
    },
    {
        "id": "cd2f68db4a520efe",
        "type": "ui_text",
        "z": "ee47eb5696c14296",
        "g": "f3ae6258e2ef6f06",
        "group": "941553f899610cff",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "mA",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "d17051311784d564",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "941553f899610cff",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "a00eaabc2aad39d4",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "b1d6f3e06f0a0eff",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "e63546c9a6cd3ba2",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "b1d6f3e06f0a0eff",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "fda0c253fa1a3147",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "42ab9b98873d81c6",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "08535c2e62e7e63a",
        "type": "ui_spacer",
        "z": "ee47eb5696c14296",
        "name": "spacer",
        "group": "abfd115f36655ac8",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "9c6664b374f58bc5",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.30:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "941553f899610cff",
        "type": "ui_group",
        "name": "ADS",
        "tab": "d16e0686aa3f78d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df0e8d096d8a204d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.40:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "b1d6f3e06f0a0eff",
        "type": "ui_group",
        "name": "Vertico liquid dosing",
        "tab": "d16e0686aa3f78d3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42ab9b98873d81c6",
        "type": "ui_group",
        "name": "Write values",
        "tab": "bf699577502254b8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "abfd115f36655ac8",
        "type": "ui_group",
        "name": "Read values",
        "tab": "bf699577502254b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d16e0686aa3f78d3",
        "type": "ui_tab",
        "name": "Project Frankenstein",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf699577502254b8",
        "type": "ui_tab",
        "name": "Bronkhorst dosing pump",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]