flows/vertico_dosing_pump_write_values.json
[
    {
        "id": "aa92b93f0e76caa9",
        "type": "tab",
        "label": "Vertico dosing: Write values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17fd444a55bb11b3",
        "type": "OpcUa-Client",
        "z": "aa92b93f0e76caa9",
        "endpoint": "df0e8d096d8a204d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1340,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0fb260ecda3a49b3",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=6;i=5",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "P",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "e66c771ce91d2e3a",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "5b28a36bfb163789"
            ]
        ]
    },
    {
        "id": "7ecac4a0fbfb17ef",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=6;i=6",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "I",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "5d5fd4142fae423e",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "48124613956c986c"
            ]
        ]
    },
    {
        "id": "b5ec351c64a164be",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=6;i=7",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "D",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "aaaca8b81cbea299",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "0cfecc1255ad1dbd"
            ]
        ]
    },
    {
        "id": "5b28a36bfb163789",
        "type": "ui_numeric",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write P",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 6,
        "width": 8,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "step": "0.05",
        "className": "",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "0fb260ecda3a49b3"
            ]
        ]
    },
    {
        "id": "48124613956c986c",
        "type": "ui_numeric",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write I",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 7,
        "width": 8,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "step": "0.05",
        "className": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "7ecac4a0fbfb17ef"
            ]
        ]
    },
    {
        "id": "0cfecc1255ad1dbd",
        "type": "ui_numeric",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write D",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 8,
        "width": 8,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "step": "0.05",
        "className": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "b5ec351c64a164be"
            ]
        ]
    },
    {
        "id": "aa18fd49eb7d44bb",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=4;i=9",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "setpoint_closed_loop",
        "x": 820,
        "y": 380,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "7bedeb6433038f76",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=4;i=12",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "setpoint_open_loop",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "c63cc8288018c950",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=4;i=4",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "start_stop",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "be0a1a9b0e603cbd",
        "type": "ui_switch",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Start/stop [bool]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "c63cc8288018c950"
            ]
        ]
    },
    {
        "id": "5a539802cf222927",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "be0a1a9b0e603cbd"
            ]
        ]
    },
    {
        "id": "6f919520f594e709",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "90537671aeb4ae1e"
            ]
        ]
    },
    {
        "id": "90537671aeb4ae1e",
        "type": "ui_numeric",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Setpoint closed loop [ml/min]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 3,
        "width": 8,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 520,
        "y": 380,
        "wires": [
            [
                "aa18fd49eb7d44bb"
            ]
        ]
    },
    {
        "id": "52c2864e315e1804",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "a1340b46b2ed1c43"
            ]
        ]
    },
    {
        "id": "a1340b46b2ed1c43",
        "type": "ui_numeric",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Setpoint open loop [RPM]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 4,
        "width": 8,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "140",
        "max": "1405",
        "step": "1",
        "className": "",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "7bedeb6433038f76"
            ]
        ]
    },
    {
        "id": "62db3f5ccf28962e",
        "type": "ui_switch",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write DO3 [0/1]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 10,
        "width": 8,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "d98522af266cd978"
            ]
        ]
    },
    {
        "id": "b622b3623a5f6833",
        "type": "ui_numeric",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "label": "Write AO0 [mA]",
        "tooltip": "",
        "group": "6cb02d1b18effc68",
        "order": 11,
        "width": 8,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "step": "0.02",
        "className": "",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "95a40f2837e2f3de"
            ]
        ]
    },
    {
        "id": "128d3b98e5d8d591",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "62db3f5ccf28962e"
            ]
        ]
    },
    {
        "id": "31f1554733c6b41b",
        "type": "inject",
        "z": "aa92b93f0e76caa9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "b622b3623a5f6833"
            ]
        ]
    },
    {
        "id": "d98522af266cd978",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=5;i=2",
        "datatype": "Boolean",
        "value": "msg.topic",
        "name": "vertico_do3",
        "x": 790,
        "y": 500,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "95a40f2837e2f3de",
        "type": "OpcUa-Item",
        "z": "aa92b93f0e76caa9",
        "item": "ns=5;i=13",
        "datatype": "Float",
        "value": "msg.topic",
        "name": "vertico_ao0",
        "x": 790,
        "y": 540,
        "wires": [
            [
                "17fd444a55bb11b3"
            ]
        ]
    },
    {
        "id": "d03b3c339a802428",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "6cb02d1b18effc68",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "52ff2dc20ef107df",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "6cb02d1b18effc68",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "b116bf9cd1a7cb99",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "6cb02d1b18effc68",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "fa8927a05b4d35f9",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "f476009372705fe3",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "8d72e93a0b3ace03",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 11,
        "width": 8,
        "height": 1
    },
    {
        "id": "1fb6e0b8c31f1ca1",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 15,
        "width": 8,
        "height": 1
    },
    {
        "id": "1304af13563a1db4",
        "type": "ui_spacer",
        "z": "aa92b93f0e76caa9",
        "name": "spacer",
        "group": "29e604be7d0124bf",
        "order": 19,
        "width": 8,
        "height": 1
    },
    {
        "id": "df0e8d096d8a204d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.40:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "6cb02d1b18effc68",
        "type": "ui_group",
        "name": "Write values",
        "tab": "ab2d93c8cfc6d927",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "29e604be7d0124bf",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ab2d93c8cfc6d927",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab2d93c8cfc6d927",
        "type": "ui_tab",
        "name": "Vertico dosing system",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]