flows/vertico_dosing_pump_read_values.json
[
    {
        "id": "b2e975bbdb91c64e",
        "type": "tab",
        "label": "Vertico dosing: Read values",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a37f1f02185c91e8",
        "type": "OpcUa-Client",
        "z": "b2e975bbdb91c64e",
        "endpoint": "df0e8d096d8a204d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 980,
        "y": 300,
        "wires": [
            [
                "01e555711760fced"
            ],
            []
        ]
    },
    {
        "id": "01e555711760fced",
        "type": "switch",
        "z": "b2e975bbdb91c64e",
        "name": "Values",
        "property": "browseName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vertico_pid_p",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_pid_i",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_pid_d",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_remote_setpoint_closed_loop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_remote_setpoint_open_loop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_remote_start_stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_flow_measured_ml_min",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_flow_measured_ma",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_motor_velocity_measured",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_pressure_measured",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_ai3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_ao0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_do3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_is_open_loop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_is_remote",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_local_setpoint_closed_loop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vertico_local_setpoint_open_loop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 17,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "43e955a573b9cd5a",
                "f09c9e890ce486b5"
            ],
            [
                "0b399a78ade96960",
                "4e71230d994a70d2"
            ],
            [
                "ee627cc12708add2",
                "9f8315874a98b841"
            ],
            [
                "49f2063ba7131ebc",
                "457461bddf329419"
            ],
            [
                "710b3ed6dfead81f",
                "3fc16e56d54a3b20"
            ],
            [
                "3b39c1c60bf55fee",
                "2ba475429a9b5bc9"
            ],
            [
                "5193c378b19accb4",
                "09642e932256e082"
            ],
            [
                "bef32010c5254274",
                "dfef3eb9a2bae5da"
            ],
            [
                "653b400c07b92087",
                "13e898451a45a124"
            ],
            [
                "cddcc29bb0951a6d",
                "7bdbc390210e08b2"
            ],
            [
                "793943f316d0d9d9"
            ],
            [
                "fdb284c5a4c06959",
                "c3ea660263d7b4b6"
            ],
            [
                "6482d76f37b18839",
                "158ae714ab23ccf5"
            ],
            [
                "7a01b37bbc2e2b2a",
                "22268446a0228ce5"
            ],
            [
                "2ce915b69497f68a",
                "35182b094d0487b1"
            ],
            [
                "033d82c10d0441cc",
                "34a2139b133bc2e0"
            ],
            [
                "37cccd70f13edf75",
                "19c1639b4165573e"
            ]
        ]
    },
    {
        "id": "653b400c07b92087",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual motor velocity [RPM]",
        "format": "{{msg.payload.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2000,
        "y": 540,
        "wires": []
    },
    {
        "id": "5193c378b19accb4",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual flow [ml/min]",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1970,
        "y": 460,
        "wires": []
    },
    {
        "id": "cddcc29bb0951a6d",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual pressure [bar]",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1980,
        "y": 580,
        "wires": []
    },
    {
        "id": "2d60c8988437581e",
        "type": "link in",
        "z": "b2e975bbdb91c64e",
        "name": "Timer in",
        "links": [
            "b847af6089af00ad"
        ],
        "x": 305,
        "y": 300,
        "wires": [
            [
                "af9ed30783c2621f",
                "4936ca4d43276918",
                "1dbbc83dc830166d",
                "85419c8ddff39b4d",
                "82a00867f085111f",
                "3620f104758f651e",
                "8af4dbde5fd725b7",
                "69e841da0814201a",
                "543930b98352de79",
                "8cb232f07e42d9e7",
                "c377e57c45ef0945",
                "e4d3cd5db9317757",
                "0d13e6a4c052a1eb",
                "a046663e6414b87f",
                "fa2ef76e3cec4843",
                "cc3377a29190b7c1",
                "700fd60ec4cfbbbe"
            ]
        ]
    },
    {
        "id": "3620f104758f651e",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=4;i=4",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_remote_start_stop",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "82a00867f085111f",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=4;i=12",
        "datatype": "Float",
        "value": "",
        "name": "vertico_remote_setpoint_open_loop",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "85419c8ddff39b4d",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=4;i=9",
        "datatype": "Float",
        "value": "",
        "name": "vertico_remote_setpoint_closed_loop",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "af9ed30783c2621f",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=6;i=5",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pid_p",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "4936ca4d43276918",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=6;i=6",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pid_i",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "1dbbc83dc830166d",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=6;i=7",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pid_d",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "8af4dbde5fd725b7",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=8;i=14",
        "datatype": "Float",
        "value": "",
        "name": "vertico_flow_measured_ml_min",
        "x": 630,
        "y": 700,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "69e841da0814201a",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=8;i=17",
        "datatype": "Float",
        "value": "",
        "name": "vertico_motor_velocity_measured",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "543930b98352de79",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=8;i=16",
        "datatype": "Float",
        "value": "",
        "name": "vertico_pressure_measured",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "43e955a573b9cd5a",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "P",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1930,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b399a78ade96960",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "I",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1930,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee627cc12708add2",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "D",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1930,
        "y": 260,
        "wires": []
    },
    {
        "id": "49f2063ba7131ebc",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Remote setpoint closed loop [ml/min]",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2030,
        "y": 320,
        "wires": []
    },
    {
        "id": "710b3ed6dfead81f",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Remote setpoint open loop [RPM]",
        "format": "{{msg.payload.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2020,
        "y": 360,
        "wires": []
    },
    {
        "id": "3b39c1c60bf55fee",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Remote start/stop [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1990,
        "y": 400,
        "wires": []
    },
    {
        "id": "c377e57c45ef0945",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=5;i=17",
        "datatype": "Float",
        "value": "",
        "name": "vertico_ai3",
        "x": 570,
        "y": 900,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "0d13e6a4c052a1eb",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=5;i=2",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_do3",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "e4d3cd5db9317757",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=5;i=13",
        "datatype": "Float",
        "value": "",
        "name": "vertico_ao0",
        "x": 570,
        "y": 940,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "8cb232f07e42d9e7",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=8;i=22",
        "datatype": "Float",
        "value": "",
        "name": "vertico_flow_measured_ma",
        "x": 620,
        "y": 740,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "bef32010c5254274",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual flow [mA]",
        "format": "{{msg.payload.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1960,
        "y": 500,
        "wires": []
    },
    {
        "id": "a046663e6414b87f",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=8;i=21",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_is_open_loop",
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "fa2ef76e3cec4843",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=8;i=18",
        "datatype": "Boolean",
        "value": "",
        "name": "vertico_is_remote",
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "7a01b37bbc2e2b2a",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Is open loop [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1970,
        "y": 780,
        "wires": []
    },
    {
        "id": "2ce915b69497f68a",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Is remote [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1960,
        "y": 820,
        "wires": []
    },
    {
        "id": "e1ddfd5f03565af1",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AI3 [mA]",
        "format": "{{msg.vertico_ai3.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1940,
        "y": 640,
        "wires": []
    },
    {
        "id": "fdb284c5a4c06959",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AO0 [mA]",
        "format": "{{msg.payload.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1940,
        "y": 680,
        "wires": []
    },
    {
        "id": "6482d76f37b18839",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DO3 [bool]",
        "format": "{{msg.payload.toString()}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1950,
        "y": 720,
        "wires": []
    },
    {
        "id": "cc3377a29190b7c1",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=3;s=\"Scaled_Values\".\"Scaled_input_knob_closed_loop\"",
        "datatype": "Float",
        "value": "",
        "name": "vertico_local_setpoint_closed_loop",
        "x": 640,
        "y": 580,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "700fd60ec4cfbbbe",
        "type": "OpcUa-Item",
        "z": "b2e975bbdb91c64e",
        "item": "ns=3;s=\"Scaled_Values\".\"Rotary knob (open loop\"",
        "datatype": "Float",
        "value": "",
        "name": "vertico_local_setpoint_open_loop",
        "x": 640,
        "y": 620,
        "wires": [
            [
                "a37f1f02185c91e8"
            ]
        ]
    },
    {
        "id": "033d82c10d0441cc",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Local setpoint closed loop [ml/min]",
        "format": "{{msg.payload.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2020,
        "y": 880,
        "wires": []
    },
    {
        "id": "37cccd70f13edf75",
        "type": "ui_text",
        "z": "b2e975bbdb91c64e",
        "group": "29e604be7d0124bf",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Local setpoint open loop [RPM]",
        "format": "{{msg.payload.toFixed(0)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2010,
        "y": 920,
        "wires": []
    },
    {
        "id": "2ba475429a9b5bc9",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Remote start/stop",
        "func": "if (msg.payload==true) \n{\n    msg.vertico_remote_start_stop=1\n} \nelse if(msg.payload==false) \n{\n    msg.vertico_remote_start_stop=0\n} \nelse \n{\n    msg.vertico_remote_start_stop=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1300,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "3597cdbadb8d9af7",
        "type": "join",
        "z": "b2e975bbdb91c64e",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "17",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 2050,
        "y": 1240,
        "wires": [
            [
                "d2862f4e45a2b658"
            ]
        ]
    },
    {
        "id": "793943f316d0d9d9",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "AI3",
        "func": "if (msg.payload < 0)\n{\n    msg.vertico_ai3 = 0.0\n}\nelse\n{\n    msg.vertico_ai3 = msg.payload.toString()/27468*16.0+4.0\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1540,
        "wires": [
            [
                "e1ddfd5f03565af1",
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "f09c9e890ce486b5",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "PID P",
        "func": "msg.vertico_pid_p=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1080,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "4e71230d994a70d2",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "PID I",
        "func": "msg.vertico_pid_i=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1120,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "9f8315874a98b841",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "PID D",
        "func": "msg.vertico_pid_d=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1160,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "457461bddf329419",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Remote setpoint closed loop",
        "func": "msg.vertico_remote_setpoint_closed_loop=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1220,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "3fc16e56d54a3b20",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Remote setpoint open loop",
        "func": "msg.vertico_remote_setpoint_open_loop=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1260,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "09642e932256e082",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Actual flow ml/min",
        "func": "msg.vertico_actual_flow_mlmin=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1360,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "dfef3eb9a2bae5da",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Actual flow mA",
        "func": "msg.vertico_actual_flow_ma=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1400,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "13e898451a45a124",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Actual motor velocity ",
        "func": "msg.vertico_actual_motor_velocity=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1440,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "7bdbc390210e08b2",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Actual pressure",
        "func": "msg.vertico_actual_pressure=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1480,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "c3ea660263d7b4b6",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "AO0",
        "func": "msg.vertico_ao0=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1580,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "158ae714ab23ccf5",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "DO3",
        "func": "if (msg.payload==true) \n{\n    msg.vertico_do3=1\n} \nelse if(msg.payload==false) \n{\n    msg.vertico_do3=0\n} \nelse \n{\n    msg.vertico_do3=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1620,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "34a2139b133bc2e0",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Local setpoint closed loop",
        "func": "msg.vertico_local_setpoint_closed_loop=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1820,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "19c1639b4165573e",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Local setpoint open loop",
        "func": "msg.vertico_local_setpoint_open_loop=msg.payload.toString()*1.0\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1780,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "22268446a0228ce5",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Is open loop",
        "func": "if (msg.payload==true) \n{\n    msg.vertico_is_open_loop=1\n} \nelse if(msg.payload==false) \n{\n    msg.vertico_is_open_loop=0\n} \nelse \n{\n    msg.vertico_is_open_loop=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1680,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "35182b094d0487b1",
        "type": "function",
        "z": "b2e975bbdb91c64e",
        "name": "Is remote",
        "func": "if (msg.payload==true) \n{\n    msg.vertico_is_remote=1\n} \nelse if(msg.payload==false) \n{\n    msg.vertico_is_remote=0\n} \nelse \n{\n    msg.vertico_is_remote=NaN\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1720,
        "wires": [
            [
                "3597cdbadb8d9af7"
            ]
        ]
    },
    {
        "id": "d2862f4e45a2b658",
        "type": "link out",
        "z": "b2e975bbdb91c64e",
        "name": "Vertico dosing values out",
        "mode": "link",
        "links": [
            "ef5d7562560cba3c"
        ],
        "x": 2215,
        "y": 1240,
        "wires": []
    },
    {
        "id": "499845fe474d0823",
        "type": "inject",
        "z": "b2e975bbdb91c64e",
        "d": true,
        "name": "Clear items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "179321be3a043ab5",
        "type": "inject",
        "z": "b2e975bbdb91c64e",
        "d": true,
        "name": "Read items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ad65a8f5a52757a8",
        "type": "inject",
        "z": "b2e975bbdb91c64e",
        "d": true,
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "df0e8d096d8a204d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.40:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "29e604be7d0124bf",
        "type": "ui_group",
        "name": "Read values",
        "tab": "ab2d93c8cfc6d927",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab2d93c8cfc6d927",
        "type": "ui_tab",
        "name": "Vertico dosing system",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]